openapi: 3.2.0
info:
  title: Scope3 Buyer Billing API
  version: 2.0.0
  description: 'Operations tagged Buyer Billing across 2 of this provider''s published API definitions: scope3-buyer-openapi-original.yml, scope3-storefront-openapi-original.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.interchange.io/api/v2/buyer
  description: Production server
- url: https://api.interchange.io/api/v2/storefront
  description: Production server
tags:
- name: Buyer Billing
  description: Consolidated invoicing for buyers — invoices and pending invoice items issued by Scope3 across the buyer customer.
paths:
  /billing/info:
    get:
      operationId: getBillingInfo
      summary: Get billing information
      description: 'Get the billing information Scope3 issues invoices to for the authenticated customer: billing contact, email recipients, address, and tax ID.'
      tags:
      - Buyer Billing
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Get billing information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingInfoResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateBillingInfo
      summary: Update billing information (admin)
      description: Update the billing information Scope3 issues invoices to. At minimum, a payer name and billing address are needed to issue an invoice. Admin-only.
      tags:
      - Buyer Billing
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                contactName:
                  description: Billing contact / payer name
                  type:
                  - string
                  - 'null'
                  minLength: 1
                  maxLength: 255
                email:
                  description: Email addresses invoices are sent to
                  maxItems: 10
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                    format: email
                    pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                ccEmails:
                  description: Email addresses CC’d on invoices
                  maxItems: 10
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                    format: email
                    pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                phone:
                  description: Billing phone number
                  type:
                  - string
                  - 'null'
                  maxLength: 64
                address:
                  description: Billing street address, line 1
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                address2:
                  description: Billing street address, line 2
                  type:
                  - string
                  - 'null'
                  maxLength: 255
                city:
                  description: Billing city
                  type:
                  - string
                  - 'null'
                  maxLength: 128
                region:
                  description: Billing state/province/region
                  type:
                  - string
                  - 'null'
                  maxLength: 128
                postalCode:
                  description: Billing postal/ZIP code
                  type:
                  - string
                  - 'null'
                  maxLength: 32
                countryAlpha2:
                  description: Billing country (ISO 3166-1 alpha-2)
                  example: US
                  type:
                  - string
                  - 'null'
                  pattern: ^[A-Z]{2}$
                taxId:
                  description: Tax/VAT identifier shown on invoices
                  type:
                  - string
                  - 'null'
                  maxLength: 64
      responses:
        '200':
          description: Update billing information (admin)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateBillingInfoResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    servers:
    - url: https://api.interchange.io/api/v2/buyer
      description: Production server
  /billing/account:
    servers:
    - url: https://api.interchange.io/api/v2
      description: Production server
    get:
      operationId: getBillingAccount
      summary: Get billing account
      description: 'One consolidated view of the organization''s commercial account: plan and terms, effective pricing, intelligence usage, credit/prepay balance, agreements, child accounts, and the single next action (if any) needed to become or remain paid. Org-admin only; child-account requests resolve to the parent organization.'
      tags:
      - Buyer Billing
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Get billing account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetBillingAccountResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ACCESS_DENIED (caller is not an org admin / eligible service token).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /billing/iu-rate-card:
    servers:
    - url: https://api.interchange.io/api/v2
      description: Production server
    get:
      operationId: getIuRateCardOffer
      summary: Get the organization IU Rate Card offer and acceptance state
      description: Returns organization-wide IU offer and acceptance state, including any published plan and activity terms, applicable corporate discount, rollover policy, exact list/net prices, current immutable acceptance record, and history shared by buyer and storefront workloads. A new offer is returned only when an effective Rate Card is published and the billing organization is enrolled in the pilot; acceptance history remains readable outside the pilot.
      tags:
      - Buyer Billing
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Get the organization IU Rate Card offer and acceptance state
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIuRateCardOfferResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ACCESS_DENIED (caller is not a direct organization admin).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: CONFLICT (commercial configuration is ambiguous).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /billing/iu-rate-card/v2:
    servers:
    - url: https://api.interchange.io/api/v2
      description: Production server
    get:
      operationId: getIuRateCardOfferV2
      summary: Get the versioned organization IU commercial document
      description: Returns the expanded enterprise IU offer and acceptance document, including immutable proposal, payment-option, entitlement, support, and complete activity-schedule snapshots. This explicit version boundary keeps the original strict V2 response stable for deployed clients.
      tags:
      - Buyer Billing
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Get the versioned organization IU commercial document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetIuRateCardOfferV2Response'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ACCESS_DENIED (caller is not a direct organization admin).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: CONFLICT (commercial configuration is ambiguous).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /billing/iu-rate-card/document.pdf:
    servers:
    - url: https://api.interchange.io/api/v2
      description: Production server
    get:
      operationId: downloadIuRateCardCommercialOfferDocument
      summary: Download the current Commercial Offer proposal
      description: Downloads the customer-facing PDF generated from the same immutable proposal snapshot shown in Plan & Billing. The route resolves only the authenticated organization's pending, upcoming, or current Commercial Offer. Exactly one of bindingId or offerVersion is required.
      tags:
      - Buyer Billing
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: bindingId
        schema:
          description: Accepted plan record to render. Exactly one of bindingId or offerVersion is required.
          type: string
          pattern: ^\d+$
      - in: query
        name: offerVersion
        schema:
          description: Pending offer version to render. Exactly one of bindingId or offerVersion is required.
          type: string
          pattern: ^v1:[0-9a-f]{64}$
      responses:
        '200':
          description: Download the current Commercial Offer proposal
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/CommercialOfferDocumentPdf'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ACCESS_DENIED (caller is not a direct organization admin).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No customer-facing Commercial Offer is available.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /billing/iu-rate-card/accept:
    servers:
    - url: https://api.interchange.io/api/v2
      description: Production server
    post:
      operationId: acceptIuRateCardOffer
      summary: Accept an exact organization IU Rate Card offer
      description: Creates the one initial immutable IU-plan acceptance record for a direct human organization admin. The server re-resolves the Rate Card, activity terms, plan, governing agreement, and corporate discount; a changed displayed offer must be reviewed again.
      tags:
      - Buyer Billing
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                offerVersion:
                  type: string
                  pattern: ^v1:[0-9a-f]{64}$
                planId:
                  type: string
                  pattern: ^\d+$
                paymentOptionKey:
                  type: string
                  minLength: 1
                  maxLength: 120
                  pattern: ^[a-z0-9][a-z0-9._-]*$
                idempotencyKey:
                  type: string
                  minLength: 8
                  maxLength: 128
                  pattern: ^[A-Za-z0-9._:-]+$
              required:
              - offerVersion
              - planId
              - idempotencyKey
              additionalProperties: false
      responses:
        '200':
          description: Accept an exact organization IU Rate Card offer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AcceptIuRateCardOfferResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ACCESS_DENIED (a direct human organization admin is required).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: CONFLICT (the offer changed, the key was reused, or an accepted plan already exists).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /billing/payment-methods/setup:
    servers:
    - url: https://api.interchange.io/api/v2
      description: Production server
    post:
      operationId: setupPaymentMethod
      summary: Start adding a card (admin)
      description: Create a card-capture session for the organization and return the client secret the embedded card form needs, plus the publishable key to mount it. The saved method appears (via webhook-verified confirmation) in the payment-methods list and on the billing-account document; it is never inferred from the client-side confirmation alone. Org-admin humans only — service tokens are denied. 403 FEATURE_NOT_ENABLED until the buyer-card-collection flag is on for the organization.
      tags:
      - Buyer Billing
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Start adding a card (admin)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetupPaymentMethodResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: FEATURE_NOT_ENABLED (flag off) or ACCESS_DENIED (not an org admin, or a service token).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /billing/payment-methods:
    servers:
    - url: https://api.interchange.io/api/v2
      description: Production server
    get:
      operationId: listPaymentMethods
      summary: List payment methods
      description: The organization's active payment methods — display-safe metadata only (kind, brand, last4, expiry, status); never a card number or processor token. At most one active method today.
      tags:
      - Buyer Billing
      security:
      - bearerAuth: []
      responses:
        '200':
          description: List payment methods
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ACCESS_DENIED (caller is not an org admin / eligible service token).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /billing/payment-methods/{id}:
    servers:
    - url: https://api.interchange.io/api/v2
      description: Production server
    delete:
      operationId: removePaymentMethod
      summary: Remove a payment method (admin)
      description: Remove a saved payment method. Denied with VALIDATION_ERROR when the method is load-bearing (it is the organization's only way to pay) — add a replacement card first, or set up invoicing. Org-admin humans only — service tokens are denied.
      tags:
      - Buyer Billing
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: id
        schema:
          description: Surrogate id of the payment-method row to remove.
          type: string
          pattern: ^\d+$
        required: true
        description: Surrogate id of the payment-method row to remove.
      responses:
        '200':
          description: Remove a payment method (admin)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemovePaymentMethodResponse'
        '400':
          description: VALIDATION_ERROR (the method is load-bearing — replace it instead of removing).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ACCESS_DENIED (not an org admin, or a service token).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /capture-links/{token}:
    servers:
    - url: https://api.interchange.io/api/v2
      description: Production server
    get:
      operationId: exchangeCaptureLink
      summary: Open a payment capture link
      description: Exchange a capture-link token issued by the add_payment_authority task. No API key or session applies — the single-use token (valid 30 minutes, one verified card capture) is the authorization; the hosted capture page calls this on the cardholder's behalf. Marks the link opened and returns the org display name plus the embedded card form's client secret and publishable key while the link is still capturable; once verified or expired it returns the status alone. Pass `view=status` for a cheap status-only poll that opens nothing. Unknown or malformed tokens return a bare 404/400 with no organization information. Requests are IP rate-limited.
      tags:
      - Buyer Billing
      security: []
      parameters:
      - in: query
        name: view
        schema:
          description: 'Pass `status` for the cheap status-only poll: returns status and expiry without opening the link or minting card-form credentials.'
          type: string
          enum:
          - status
        description: 'Pass `status` for the cheap status-only poll: returns status and expiry without opening the link or minting card-form credentials.'
      - in: path
        name: token
        schema:
          description: The single-use capture-link token from the URL issued by add_payment_authority. The token is the authorization — no session or API key applies.
          type: string
          pattern: ^[A-Za-z0-9_-]{40,64}$
        required: true
        description: The single-use capture-link token from the URL issued by add_payment_authority. The token is the authorization — no session or API key applies.
      responses:
        '200':
          description: Open a payment capture link
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CaptureLinkExchangeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: NOT_FOUND (unknown token — deliberately indistinguishable from any other failure; no organization information is returned).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: RATE_LIMITED (per-IP enumeration cap).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /billing/payment-methods/pay-now:
    servers:
    - url: https://api.interchange.io/api/v2
      description: Production server
    post:
      operationId: payNow
      summary: Manually retry the outstanding failed charge (admin)
      description: Immediately re-attempts the organization's outstanding failed charge on the currently-saved card. Returns `processing` — the actual recovery (hold cleared, `nextAction` back to `NONE`) is confirmed asynchronously via a signature-verified Stripe webhook; poll GET /billing/account rather than inferring success from this response. Org-admin humans only — service tokens are denied (card actuation is a human/PCI boundary).
      tags:
      - Buyer Billing
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Manually retry the outstanding failed charge (admin)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayNowResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: ACCESS_DENIED (not an org admin, or a service token).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: NOT_FOUND (no outstanding failed charge to retry).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /billing/invoice-activity:
    servers:
    - url: https://api.interchange.io/api/v2
      description: Production server
    get:
      operationId: getInvoiceActivity
      summary: Get invoice activity
      description: 'Invoice activity for the caller''s org (status, kind, currency, amount, due/paid date). Rows project from the org''s issued IU fee invoices (kind: fees) — empty until the org''s first charged billing cycle closes. Dark-metered (cost_bearer=platform) usage is never billable and never appears.'
      tags:
      - Buyer Billing
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: targetCustomerId
        schema:
          description: Direct child customer to read or update from an authorized parent billing organization
          type: string
          pattern: ^[1-9][0-9]*$
        description: Direct child customer to read or update from an authorized parent billing organization
      responses:
        '200':
          description: Get invoice activity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceActivityResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /billing/fee-invoices:
    servers:
    - url: https://api.interchange.io/api/v2
      description: Production server
    get:
      operationId: listFeeInvoices
      summary: List fee invoices
      description: The org's IU fee invoices, newest first — one per charged billing cycle, with gapless sequential numbering. Empty until the org's first charged cycle closes.
      tags:
      - Buyer Billing
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: targetCustomerId
        schema:
          description: Direct child customer to read or update from an authorized parent billing organization
          type: string
          pattern: ^[1-9][0-9]*$
        description: Direct child customer to read or update from an authorized parent billing organization
      responses:
        '200':
          description: List fee invoices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeInvoiceListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /billing/fee-invoices/{invoiceNumber}:
    servers:
    - url: https://api.interchange.io/api/v2
      description: Production server
    get:
      operationId: getFeeInvoice
      summary: Get fee invoice
      description: One fee invoice with its line items (plan commitment, overage with IU quantity and rate, payments applied). Scoped to the caller’s org — another org’s invoice number is a 404.
      tags:
      - Buyer Billing
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: targetCustomerId
        schema:
          description: Direct child customer to read or update from an authorized parent billing organization
          type: string
          pattern: ^[1-9][0-9]*$
        description: Direct child customer to read or update from an authorized parent billing organization
      - in: path
        name: invoiceNumber
        schema:
          description: The invoice number to fetch
          type: integer
          maximum: 9007199254740991
          minimum: 1
        required: true
        description: The invoice number to fetch
      responses:
        '200':
          description: Get fee invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeInvoice'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    PaymentMethodListResponse:
      type: object
      properties:
        items:
          description: The org’s active (non-detached) payment methods. v1 holds at most one — the array shape is forward-compatible with a future multi-method account.
          type: array
          items:
            $ref: '#/components/schemas/PaymentMethodResponse'
      required:
      - items
      additionalProperties: false
    UpdateBillingInfoResponse:
      type: object
      properties:
        billingInfo:
          $ref: '#/components/schemas/BuyerBillingInfo'
      required:
      - billingInfo
      additionalProperties: false
    SetupPaymentMethodResponse:
      description: 'Everything the client needs to mount an embedded card-capture form. The resulting payment method is NOT returned here — it appears once the card rail webhook confirms it (spec §6: never inferred from a client callback).'
      type: object
      properties:
        clientSecret:
          description: The capture-session client secret. The UI passes this to the embedded card form (no redirect) to collect and confirm the card.
          type: string
        publishableKey:
          description: The card rail's publishable key, for mounting the embedded card form client-side. Not secret.
          type: string
      required:
      - clientSecret
      - publishableKey
      additionalProperties: false
    InvoiceActivityRow:
      description: One row of invoice activity for a buyer (or seller) org.
      type: object
      properties:
        status:
          description: Status of one invoice activity row
          type: string
          enum:
          - open
          - accruing
          - paid
          - overdue
        ref:
          description: Short reference/number for this activity row, when assigned
          type: string
        label:
          description: Human-readable description of the invoice activity row
          type: string
        kind:
          description: 'What the invoice line is for: media spend, platform fees, metered AI usage, or a credit-line purchase'
          type: string
          enum:
          - media
          - fees
          - usage
          - credit_purchase
        currency:
          description: ISO 4217 currency code
          example: USD
          type: string
          minLength: 3
          maxLength: 3
          pattern: ^[A-Z]{3}$
        amountMinor:
          description: Invoice amount in minor units (e.g. cents for USD)
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
        dueAt:
          description: Payment due date (ISO 8601), when the row is a formal invoice
          type: string
          format: date-time
          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        paidAt:
          description: When the invoice was paid (ISO 8601)
          type: string
          format: date-time
          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        invoiceRef:
          description: Reference to the underlying invoice document, when one exists
          type: string
        meta:
          description: Additional row-kind-specific metadata
          type: object
          properties:
            activityKey:
              description: Internal key correlating this row to its source activity
              type: string
            iuQuantity:
              description: Inventory-unit quantity backing a usage row, when `kind` is "usage". Usage rows appear only after the IU rate-card is ratified (AI-3027) and always exclude cost_bearer=platform (dark meter) events.
              type: number
          additionalProperties: false
      required:
      - status
      - label
      - kind
      - currency
      - amountMinor
      additionalProperties: false
    BillingHold:
      description: A payment hold blocking NEW paid actions (meter-first, block narrow — spec §5.4/§12 ruling 5). Never blocks read access, reporting, export, in-flight delivering media, or this Plan & Billing surface itself.
      type: object
      properties:
        id:
          type: string
        type:
          description: '`PAYMENT_FAILED` (AI-3080, spec §5.4) is posted at day +10 of the card-dunning ladder when a failed charge could not be recovered on retry. `PAYMENT_DISPUTED` (a chargeback) is reserved — not created by this slice.'
          type: string
          enum:
          - PAYMENT_FAILED
        reason:
          type: string
        createdAt:
          type: string
      required:
      - id
      - type
      - reason
      - createdAt
      additionalProperties: false
    BillingIntelligenceUsage:
      type: object
      properties:
        periodStart:
          description: Start of the current usage period (ISO 8601 date).
          type: string
        byFeature:
          type: array
          items:
            type: object
            properties:
              bucket:
                type: string
              inputTokens:
                type: integer
                minimum: 0
                maximum: 9007199254740991
              outputTokens:
                type: integer
                minimum: 0
                maximum: 9007199254740991
              cacheCreationInputTokens:
                type: integer
                minimum: 0
                maximum: 9007199254740991
              cacheReadInputTokens:
                type: integer
                minimum: 0
                maximum: 9007199254740991
              costMicroUsd:
                type: integer
                minimum: 0
                maximum: 9007199254740991
              costUsd:
                type: number
                minimum: 0
              callCount:
                type: integer
                minimum: 0
                maximum: 9007199254740991
            required:
            - bucket
            - inputTokens
            - outputTokens
            - cacheCreationInputTokens
            - cacheReadInputTokens
            - costMicroUsd
            - costUsd
            - callCount
            additionalProperties: false
        byDay:
          type: array
          items:
            type: object
            properties:
              bucket:
                type: string
              inputTokens:
                type: integer
                minimum: 0
                maximum: 9007199254740991
              outputTokens:
                type: integer
                minimum: 0
                maximum: 9007199254740991
              cacheCreationInputTokens:
                type: integer
                minimum: 0
                maximum: 9007199254740991
              cacheReadInputTokens:
                type: integer
                minimum: 0
                maximum: 9007199254740991
              costMicroUsd:
                type: integer
                minimum: 0
                maximum: 9007199254740991
              costUsd:
                type: number
                minimum: 0
              callCount:
                type: integer
                minimum: 0
                maximum: 9007199254740991
            required:
            - bucket
            - inputTokens
            - outputTokens
            - cacheCreationInputTokens
            - cacheReadInputTokens
            - costMicroUsd
            - costUsd
            - callCount
            additionalProperties: false
        totalCostMicroUsd:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      required:
      - periodStart
      - byFeature
      - byDay
      - totalCostMicroUsd
      additionalProperties: false
    CommercialOfferDocumentPdf:
      format: binary
      type: string
    FeeInvoiceSummary:
      description: One fee invoice, without its lines — the list-view shape. Fetch the invoice by number for line detail.
      type: object
      properties:
        invoiceNumber:
          description: Gapless sequential invoice number (platform-wide series)
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
        invoiceRef:
          description: Display reference for the invoice (e.g. "FEE-000042")
          example: FEE-000042
          type: string
        cycleKey:
          description: The billing cycle the invoice covers (e.g. "2026-07")
          example: 2026-07
          type: string
        cycleStart:
          description: Cycle start (ISO 8601, UTC calendar month)
          type: string
          format: date-time
          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        cycleEnd:
          description: Cycle end, exclusive (ISO 8601)
          type: string
          format: date-time
          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        currency:
          description: ISO 4217 currency code
          example: USD
          type: string
          minLength: 3
          maxLength: 3
          pattern: ^[A-Z]{3}$
        totalMinor:
          description: 'Outstanding balance in minor units: amounts owed minus payments applied. 0 once fully settled.'
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
        issuedAt:
          description: When the invoice was issued (ISO 8601)
          type: string
          format: date-time
          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        paidAt:
          description: When the balance reached zero (ISO 8601), or null while any amount is outstanding
          type:
          - string
          - 'null'
          format: date-time
          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
      required:
      - invoiceNumber
      - invoiceRef
      - cycleKey
      - cycleStart
      - cycleEnd
      - currency
      - totalMinor
      - issuedAt
      - paidAt
      additionalProperties: false
    BillingAccountDocument:
      description: The consolidated commercial-account read model — GET /api/v2/billing/account.
      type: object
      properties:
        organization:
          $ref: '#/components/schemas/BillingOrganization'
        scope:
          $ref: '#/components/schemas/BillingScope'
        standing:
          $ref: '#/components/schemas/BillingStanding'
        plan:
          $ref: '#/components/schemas/BillingPlan'
        pricing:
          $ref: '#/components/schemas/BillingPricing'
        usage:
          $ref: '#/components/schemas/BillingUsage'
        payment:
          $ref: '#/components/schemas/BillingPayment'
        contracts:
          $ref: '#/components/schemas/BillingContracts'
        enterpriseContracts:
          $ref: '#/components/schemas/BillingEnterpriseContracts'
        accounts:
          description: The org’s child accounts (billing dimension only), capped at 50 entries — `totalAccounts` carries the uncapped count.
          type: array
          items:
            $ref: '#/components/schemas/BillingAccountChild'
        totalAccounts:
          description: Total number of child accounts in the org, regardless of the `accounts[]` cap.
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
        nextAction:
          $ref: '#/components/schemas/NextAction'
        permissions:
          $ref: '#/components/schemas/BillingPermissions'
      required:
      - organization
      - scope
      - standing
      - plan
      - pricing
      - usage
      - payment
      - contracts
      - enterpriseContracts
      - accounts
      - totalAccounts
      - nextAction
      - permissions
      additionalProperties: false
    AcceptIuRateCardOfferResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              pattern: ^\d+$
            acceptingCustomerId:
              type: integer
              maximum: 9007199254740991
              minimum: 1
            contractId:
              type: string
              pattern: ^\d+$
            agreementDocumentId:
              type: string
              pattern: ^\d+$
            agreementKind:
              type: string
              enum:
              - STANDARD_TOS
              - CUSTOM_CONTRACT
              - AAA
            tosVersion:
              type:
              - string
              - 'null'
            rateCardId:
              type: string
              pattern: ^\d+$
            rateCardPublicVersion:
              type: string
            planId:
              type: string
              pattern: ^\d+$
            planCode:
              type: string
            planName:
              type: string
            renewalPosture:
              type: string
              enum:
              - STANDARD_ROLLING
              - PINNED
            predecessorBindingId:
              type:
              - string
              - 'null'
              pattern: ^\d+$
            offerVersion:
              type: string
              minLength: 1
            effectiveRateCard:
              type: object
              properties:
                version:
                  type: string
                  pattern: ^erc-v1:[0-9a-f]{64}$
                visibility:
                  type: string
                  enum:
                  - PUBLIC
                  - PRIVATE
                displayName:
                  type: string
                  minLength: 1
                  maxLength: 160
                commercialOfferId:
                  type:
                  - string
                  - 'null'
                  pattern: ^\d+$
                adjustmentSource:
                  type: string
                  enum:
                  - RATE_CARD_DEFAULT
                  - LEGACY_DISCOUNT
                  - DIRECT
                  - PROMOTION_CODE
                  - REFERRAL_CODE
                renewalBehavior:
                  default: PIN_EXACT
                  type: string
                  enum:
                  - PIN_EXACT
                  - REVIEW_REQUIRED
                adjustments:
                  type: object
                  properties:
                    price:
                      default: null
                      oneOf:
                      - type: object
                        properties:
                          kind:
                            type: string
                            enum:
                            - PERCENT
                          basisPoints:
                            type: integer
                            minimum: 1
                            maximum: 9999
                        required:
                        - kind
                        - basisPoints
                        additionalProperties: false
                      - type: object
                        properties:
                          kind:
                            type: string
                            enum:
                            - PACKAGE
                          monthlyCommitmentMinor:
                            type: integer
                            minimum: 0
                            maximum: 9007199254740991
                          includedIus:
                            type: integer
                            minimum: 0
                            maximum: 9007199254740991
                          overageUnitAmountMinor:
                            type: integer
                            minimum: 0
                            maximum: 9007199254740991
                          currency:
                            default: USD
                            type: string
                            enum:
                            - USD
                            - EUR
                            - GBP
                            - AUD
                        required:
                        - kind
                        - monthlyCommitmentMinor
                        - includedIus
                        - overageUnitAmountMinor
                        - currency
                        additionalProperties: false
                      type:
                      - object
                      - 'null'
                    platform:
                      default: null
                      type:
                      - object
                      - 'null'
                      properties:
                        displayName:
                          type: string
                          minLength: 1
                          maxLength: 120
                        monthlyFeeMinor:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        currency:
                          type: string
                          enum:
                          - USD
                          - EUR
                          - GBP
                          - AUD
                        entitlementBundleKey:
                          type: string
                          minLength: 1
                          maxLength: 120
                          pattern: ^[a-z0-9][a-z0-9._-]*$
                      required:
                      - displayName
                      - monthlyFeeMinor
                      - currency
                      - entitlementBundleKey
                      additionalProperties: false
                    activityTerms:
                      default: []
                      type: array
                      items:
                        type: object
                        properties:
                          activityCode:
                            type: string
                            enum:
                            - ACTIVATED_SOCIAL_ACCOUNT_MONTH
                            - MULTI_SELLER_PRODUCT_RANKING
                            - PROPOSAL_EVALUATION_PASS
                            - COMPARATIVE_PROPOSAL_RANKING_PASS
                            - MURPH_WORKING_SESSION
                            - SIMPLE_PROPOSAL_EVALUATION
                            - COMPLEX_PROPOSAL_EVALUATION
                            - MERCHANDISING_BRIEF_RESPONSE
                            - MURPH_AI_SUPPORT_SESSION
                            - HUMAN_EXPERT_SUPPORT_HOUR
                            - GENERATED_IMAGE
                            - GENERATED_VIDEO_SECONDS
                            - ANALYZE_ACCOUNT
                            - CAMPAIGN_OPTIMIZATION_MONTH
                            - MANAGED_MEDIA_BUY_MONTH
                            - STANDARD_DOCUMENT_UNDERSTANDING
                            - LARGE_DOCUMENT_UNDERSTANDING
                            - AUDIO_VIDEO_UNDERSTANDING_MINUTES
                            - CUSTOM_BIGQUERY_GIB
                            - MODULAR_SOURCE_MANAGEMENT_MONTH
                          displayName:
                            type: string
                            minLength: 1
                            maxLength: 120
                          billingPosture:
                            type: string
                            enum:
                            - INCLUDED
                            - IU_PRICE
                          iuAmountMilli:
                            type:
                            - integer
                            - 'null'
                            maximum: 9007199254740991
                            minimum: 1
                        required:
                        - activityCode
                        - displayName
                        - billingPosture
                        - iuAmountMilli
                        additionalProperties: false
                    setupCredit:
                      default: null
                      type:
                      - object
                      - 'null'
                      properties:
                        program:
                          type: string
                          enum:
                          - STOREFRONT_SETUP
                      required:
                      - program
                      additionalProperties: false
                  required:
                  - price
                  - platform
                  - activityTerms
                  - setupCredit
                  additionalProperties: false
                rateCardSnapshot:
                  default: null
                  type:
                  - object
                  - 'null'
                  properties:
                    schemaVersion:
                      type: number
                      enum:
                      - 1
                    activityCatalogVersion:
                      anyOf:
                      - type: number
                        enum:
                        - 0
                      - type: number
                        enum:
                        - 1
                      - type: number
                        enum:
                        - 2
                    source:
                      type: object
                      properties:
                        rateCardId:
                          type: string
                          pattern: ^\d+$
                        rateCardPublicVersion:
                          type: string
                          minLength: 1
                          maxLength: 80
                        planId:
                          type: string
                          pattern: ^\d+$
                      required:
                      - rateCardId
                      - rateCardPublicVersion
                      - planId
                      additionalProperties: false
                    plan:
                      type: object
                      properties:
                        planCode:
                          type: string
                        displayName:
                          type: string
                        displayOrder:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        visibility:
                          type: string
                          enum:
                          - PUBLIC
                          - PRIVATE
                        monthlyCommitmentMinor:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        includedIus:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        overageUnitAmountMinor:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        currency:
                          type: string
                          enum:
                          - USD
                        billingPeriodMonths:
                          type: number
                          enum:
                          - 1
                        commitmentBillingTiming:
                          type: string
                          enum:
                          - PERIOD_START
                        usageBillingTiming:
                          type: string
                          enum:
                          - PERIOD_END
                        resetInterval:
                          type: string
                          enum:
                          - MONTH
                        rolloverPolicy:
                          type:
                          - object
                          - 'null'
                          properties:
                            capBasisPoints:
                              type: integer
                              minimum: 1
                              maximum: 5000
                            expiresAfterBillingPeriods:
                              type: number
                              enum:
                              - 1
                          required:
                          - capBasisPoints
                          - expiresAfterBillingPeriods
                          additionalProperties: false
                        paymentTermsDays:
                          type: integer
                          maximum: 9007199254740991
                          minimum: 1
                        renewalPosture:
                          type: string
                          enum:
                          - STANDARD_ROLLING
                          - PINNED
                        prices:
                          type: array
                          items:
                            type: object
                            properties:
                              currency:
                                type: string
                                enum:
                                - EUR
                                - GBP
                                - AUD
                              monthlyCommitmentMinor:
                                type: integer
                                minimum: 0
                                maximum: 9007199254740991
                              overageUnitAmountMinor:
                                type: integer
                                minimum: 0
                                maximum: 9007199254740991
                            required:
                            - currency
                            - monthlyCommitmentMinor
                            - overageUnitAmountMinor
                            additionalProperties: false
                      required:
                      - planCode
                      - displayName
                      - displayOrder
                      - visibility
                      - monthlyCommitmentMinor
                      - includedIus
                      - overageUnitAmountMinor
                      - currency
                      - billingPeriodMonths
                      - commitmentBillingTiming
                      - usageBillingTiming
                      - resetInterval
                      - rolloverPolicy
                      - paymentTermsDays
                      - renewalPosture
                      - prices
                      additionalProperties: false
                    activityTerms:
                      $ref: '#/components/schemas/IuRateCardActivityScheduleResponse'
                    setupGrant:
                      type:
                      - object
                      - 'null'
                      properties:
                        grantedIus:
                          default: 100
                          type: integer
                          minimum: 1
                          maximum: 1000000
                        validForDays:
                          default: 60
                          type: integer
                          minimum: 1
                          maximum: 3650
                        rolloverEnabled:
                          default: false
                          type: boolean
                          enum:
                          - false
                        automatic:
                          default: true
                          type: boolean
                          enum:
                          - true
                      required:
                      - grantedIus
                      - validForDays
                      - rolloverEnabled
                      - automatic
                      additionalProperties: false
                  required:
                  - schemaVersion
                  - activityCatalogVersion
                  - source
                  - plan
                  - activityTerms
                  - setupGrant
                  additionalProperties: false
              required:
              - version
              - visibility
              - displayName
              - commercialOfferId
              - adjustmentSource
              - renewalBehavior
              - adjustments
              - rateCardSnapshot
              additionalProperties: false
            entitlementBundle:
              default: null
              type:
              - object
              - 'null'
              properties:
                schemaVersion:
                  type: number
                  enum:
                  - 1
                bundleKey:
                  type: string
                  minLength: 1
                  maxLength: 120
                  pattern: ^[a-z0-9][a-z0-9._-]*$
                revision:
                  type: integer
                  maximum: 2147483647
                  minimum: 1
                displayName:
                  type: string
                  minLength: 1
                  maxLength: 160
                visibility:
                  type: string
                  enum:
                  - REUSABLE
                  - PRIVATE
                features:
                  minItems: 1
                  maxItems: 200
                  type: array
                  items:
                    type: object
                    properties:
                      kind:
                        type: string
                        enum:
                        - FEATURE_ACCESS
                      featureKey:
                        type: string
                        minLength: 1
                        maxLength: 120
                        pattern: ^[a-z0-9]+(?:-[a-z0-9]+)*$
                      scope:
                        type: object
                        properties:
                          kind:
                            type: string
                            enum:
                            - ORGANIZATION
                        required:
                        - kind
                        additionalProperties: false
                    required:
                    - kind
                    - featureKey
                    - scope
                    additionalProperties: false
              required:
              - schemaVersion
              - bundleKey
              - revision
              - displayName
              - visibility
              - features
              additionalProperties: false
            supportPackage:
              default: null
              anyOf:
              - oneOf:
                - type: object
                  properties:
                    schemaVersion:
                      type: number
                      enum:
                      - 1
                    kind:
                      type: string
                      enum:
                      - UNLIMITED_NAMED_SUPPORT
                    displayName:
                      type: string
                      minLength: 1
                      maxLength: 120
                  required:
                  - schemaVersion
                  - kind
                  - displayName
                  additionalProperties: false
                - type: object
                  properties:
                    schemaVersion:
                      type: number
                      enum:
                      - 1
                    kind:
                      type: string
                      enum:
                      - NAMED_SUPPORT_PACKAGE
                    displayName:
                      type: string
                      minLength: 1
                      maxLength: 120
                    includedHoursPerMonth:
                      type: number
                      maximum: 744
                      exclusiveMinimum: 0
                    additionalHourIus:
                      type: number
                      maximum: 1000000
                      exclusiveMinimum: 0
                  required:
                  - schemaVersion
                  - kind
                  - displayName
                  - includedHoursPerMonth
                  - additionalHourIus
                  additionalProperties: false
                type: object
              - oneOf:
                - type: object
                  properties:
                    schemaVersion:
                      type: number
                      enum:
                      - 2
                    kind:
                      type: string
                      enum:
                      - UNLIMITED_NAMED_SUPPORT
                    displayName:
                      type: string
                      minLength: 1
                      maxLength: 120
                  required:
                  - schemaVersion
                  - kind
                  - displayName
                  additionalProperties: false
                - type: object
                  properties:
                    schemaVersion:
                      type: number
                      enum:
                      - 2
                    kind:
                      type: string
                      enum:
                      - NAMED_SUPPORT_PACKAGE
                    displayName:
                      type: string
                      minLength: 1
                      maxLength: 120
                    includedHoursPerMonth:
                      type: number
                      maximum: 744
                      exclusiveMinimum: 0
                  required:
                  - schemaVersion
                  - kind
                  - displayName
                  - includedHoursPerMonth
                  additionalProperties: false
                type: object
            proposal:
              default: null
              oneOf:
              - type: object
                properties:
                  schemaVersion:
                    type: number
                    enum:
                    - 1
                  documentTitle:
                    type: string
                    minLength: 1
                    maxLength: 160
                  executiveSummary:
                    type: string
                    minLength: 1
                    maxLength: 5000
                  scope:
                    type: object
                    properties:
                      included:
                        minItems: 1
                        maxItems: 50
                        type: array
                        items:
                          type: string
                          minLength: 1
                          maxLength: 500
                      exclusions:
                        default: []
                        maxItems: 50
                        type: array
                        items:
                          type: string
                          minLength: 1
                          maxLength: 500
                    required:
                    - included
                    - exclusions
                    additionalProperties: false
                  term:
                    type: object
                    properties:
                      serviceStart:
                        oneOf:
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                              - ON_ACCEPTANCE
                          required:
                          - kind
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                              - FIXED_DATE
                            date:
                              type: string
                              format: date
                              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))$
                          required:
                          - kind
                          - date
                          additionalProperties: false
                        type: object
                      initialTermMonths:
                        type: integer
                        maximum: 120
                        minimum: 1
                      renewal:
                        oneOf:
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                              - NO_AUTOMATIC_RENEWAL
                          required:
                          - kind
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                              - AUTOMATIC
                            renewalTermMonths:
                              type: integer
                              maximum: 120
                              minimum: 1
                            nonRenewalNoticeDays:
                              type: integer
                              minimum: 0
                              maximum: 365
                          required:
                          - kind
                          - renewalTermMonths
                          - nonRenewalNoticeDays
                          additionalProperties: false
                        type: object
                      terminationForConvenience:
                        type:
                        - object
                        - 'null'
                        properties:
                          noticeDays:
                            type: integer
                            minimum: 0
                            maximum: 365
                        required:
                        - noticeDays
                        additionalProperties: false
                    required:
                    - serviceStart
                    - initialTermMonths
                    - renewal
                    - terminationForConvenience
                    additionalProperties: false
                  paymentOptions:
                    minItems: 1
                    maxItems: 4
                    type: array
                    items:
                      oneOf:
                      - type: object
                        properties:
                          kind:
                            type: string
                            enum:
                            - MONTHLY
                          optionKey:
                            type: string
                            minLength: 1
                            maxLength: 120
                            pattern: ^[a-z0-9][a-z0-9._-]*$
                          displayName:
                            type: string
                            minLength: 1
                            maxLength: 120
                          currency:
                            type: string
                            enum:
                            - USD
                            - EUR
                            - GBP
                            - AUD
                          monthlyAmountMinor:
                            type: integer
                            minimum: 0
                            maximum: 9007199254740991
                          termMonths:
                            type: integer
                            maximum: 120
                            minimum: 1
                          paymentTermsDays:
                            type: integer
                            minimum: 0
                            maximum: 365
                          collectionMethods:
                            minItems: 1
                            maxItems: 3
                            type: array
                            items:
                              type: string
                              enum:
                              - ACH
                              - CARD
                              - INVOICE
                        required:
                        - kind
                        - optionKey
                        - displayName
                        - currency
                        - monthlyAmountMinor
                        - termMonths
                        - paymentTermsDays
                        - collectionMethods
                        additionalProperties: false
                      - type: object
                        properties:
                          kind:
                            type: string
                            enum:
                            - TERM_PREPAY
                          optionKey:
                            type: string
                            minLength: 1
                            maxLength: 120
                            pattern: ^[a-z0-9][a-z0-9._-]*$
                          displayName:
                            type: string
                            minLength: 1
                            maxLength: 120
                          currency:
                            type: string
                            enum:
                            - USD
                            - EUR
                            - GBP
                            - AUD
                          prepaidAmountMinor:
                            type: integer
                            maximum: 9007199254740991
                            minimum: 1
                          termMonths:
                            type: integer
                            maximum: 120
                            minimum: 1
                          paymentTermsDays:
                            type: integer
                            minimum: 0
                            maximum: 365
                          collectionMethods:
                            minItems: 1
                            maxItems: 3
                            type: array
                            items:
                              type: string
                              enum:
                              - ACH
                              - CARD
                              - INVOICE
                        required:
                        - kind
                        - optionKey
                        - displayName
                        - currency
                        - prepaidAmountMinor
                        - termMonths
                        - paymentTermsDays
                        - collectionMethods
                        additionalProperties: false
                      type: object
                  templateKey:
                    type: string
                    enum:
                    - ENTERPRISE_V1
                    - PARTNER_ENTERPRISE_V1
                  organizationNameAtIssue:
                    type: string
                    minLength: 1
                    maxLength: 160
                required:
                - schemaVersion
                - documentTitle
                - executiveSummary
                - scope
                - term
                - paymentOptions
                - templateKey
                - organizationNameAtIssue
                additionalProperties: false
              - type: object
                properties:
                  schemaVersion:
                    type: number
                    enum:
                    - 2
                  documentTitle:
                    type: string
                    minLength: 1
                    maxLength: 160
                  executiveSummary:
                    type: string
                    minLength: 1
                    maxLength: 5000
                  scope:
                    type: object
                    properties:
                      included:
                        minItems: 1
                        maxItems: 50
                        type: array
                        items:
                          type: string
                          minLength: 1
                          maxLength: 500
                      exclusions:
                        default: []
                        maxItems: 50
                        type: array
                        items:
                          type: string
                          minLength: 1
                          maxLength: 500
                    required:
                    - included
                    - exclusions
                    additionalProperties: false
                  term:
                    type: object
                    properties:
                      serviceStart:
                        oneOf:
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                              - ON_ACCEPTANCE
                          required:
                          - kind
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                              - FIXED_DATE
                            date:
                              type: string
                              format: date
                              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))$
                          required:
                          - kind
                          - date
                          additionalProperties: false
                        type: object
                      initialTermMonths:
                        type: integer
                        maximum: 120
                        minimum: 1
                      renewal:
                        oneOf:
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                              - NO_AUTOMATIC_RENEWAL
                          required:
                          - kind
                          additionalProperties: false
                        - type: object
                          properties:
                            kind:
                              type: string
                              enum:
                              - AUTOMATIC
                            renewalTermMonths:
                              type: integer
                              maximum: 120
                              minimum: 1
                            nonRenewalNoticeDays:
                              type: integer
                              minimum: 0
                              maximum: 365
                          required:
                          - kind
                          - renewalTermMonths
                          - nonRenewalNoticeDays
                          additionalProperties: false
                        type: object
                      terminationForConvenience:
                        type:
                        - object
                        - 'null'
                        properties:
                          noticeDays:
                            type: integer
                            minimum: 0
                            maximum: 365
                        required:
                        - noticeDays
                        additionalProperties: false
                    required:
                    - serviceStart
                    - initialTermMonths
                    - renewal
                    - terminationForConvenience
                    additionalProperties: false
                  paymentOptions:
                    minItems: 1
                    maxItems: 4
                    type: array
                    items:
                      oneOf:
                      - type: object
                        properties:
                          kind:
                            type: string
                            enum:
                            - MONTHLY
                          optionKey:
                            type: string
                            minLength: 1
                            maxLength: 120
                            pattern: ^[a-z0-9][a-z0-9._-]*$
                          displayName:
                            type: string
                            minLength: 1
                            maxLength: 120
                          currency:
                            type: string
                            enum:
                            - USD
                            - EUR
                            - GBP
                            - AUD
                          monthlyAmountMinor:
                            type: integer
                            minimum: 0
                            maximum: 9007199254740991
                          termMonths:
                            type: integer
                            maximum: 120
                            minimum: 1
                          paymentTermsDays:
                            type: integer
                            minimum: 0
                            maximum: 365
                          collectionMethods:
                            minItems: 1
                            maxItems: 3
                            type: array
                            items:
                              type: string
                              enum:
                              - ACH
                              - CARD
                              - INVOICE
                        required:
                        - kind
                        - optionKey
                        - displayName
                        - currency
                        - monthlyAmountMinor
                        - termMonths
                        - paymentTermsDays
                        - collectionMethods
                        additionalProperties: false
                      - type: object
                        properties:
                          kind:
                            type: string
                            enum:
                            - TERM_PREPAY
                          optionKey:
                            type: string
                            minLength: 1
                            maxLength: 120
                            pattern: ^[a-z0-9][a-z0-9._-]*$
                          displayName:
                            type: string
                            minLength: 1
                            maxLength: 120
                          currency:
                            type: string
                            enum:
                            - USD
                            - EUR
                            - GBP
                            - AUD
                          prepaidAmountMinor:
                            type: integer
                            maximum: 9007199254740991
                            minimum: 1
                          termMonths:
                            type: integer
                            maximum: 120
                            minimum: 1
                          paymentTermsDays:
                            type: integer
                            minimum: 0
                            maximum: 365
                          collectionMethods:
                            minItems: 1
                            maxItems: 3
                            type: array
                            items:
                              type: string
                              enum:
                              - ACH
                              - CARD
                              - INVOICE
                        required:
                        - kind
                        - optionKey
                        - displayName
                        - currency
                        - prepaidAmountMinor
                        - termMonths
                        - paymentTermsDays
                        - collectionMethods
                        additionalProperties: false
                      type: object
                  defaultPaymentOptionKey:
                    type: string
                    minLength: 1
                    maxLength: 120
                    pattern: ^[a-z0-9][a-z0-9._-]*$
                  planOrigin:
                    type: object
                    properties:
                      rateCardId:
                        type: string
                        pattern: ^\d+$
                      rateCardPublicVersion:
                        type: string
                        minLength: 1
                        maxLength: 80
                      planId:
                        type: string
                        pattern: ^\d+$
                      planCode:
                        type: string
                        pattern: ^[A-Z][A-Z0-9_]{1,63}$
                    required:
                    - rateCardId
                    - rateCardPublicVersion
                    - planId
                    - planCode
                    additionalProperties: false
                  customization:
                    oneOf:
                    - type: object
                      properties:
                        posture:
                          type: string
                          enum:
                          - EXACT
                      required:
                      - posture
                      additionalProperties: false
                    - type: object
                      properties:
                        posture:
                          type: string
                          enum:
                          - CUSTOMIZED
                        reason:
                          type: string
                          minLength: 10
                          maxLength: 1000
                      required:
                      - posture
                      - reason
                      additionalProperties: false
                    type: object
                  organizationNameAtIssue:
                    type: string
                    minLength: 1
                    maxLength: 160
                required:
                - schemaVersion
                - documentTitle
                - executiveSummary
                - scope
                - term
                - paymentOptions
                - defaultPaymentOptionKey
                - planOrigin
                - customization
                - organizationNameAtIssue
                additionalProperties: false
              type:
              - object
              - 'null'
            selectedPaymentOption:
              default: null
              oneOf:
              - type: object
                properties:
                  kind:
                    type: string
                    enum:
                    - MONTHLY
                  optionKey:
                    type: string
                    minLength: 1
                    maxLength: 120
                    pattern: ^[a-z0-9][a-z0-9._-]*$
                  displayName:
                    type: string
                    minLength: 1
                    maxLength: 120
                  currency:
                    type: string
                    enum:
                    - USD
                    - EUR
                    - GBP
                    - AUD
                  monthlyAmountMinor:
                    type: integer
                    minimum: 0
                    maximum: 9007199254740991
                  termMonths:
                    type: integer
                    maximum: 120
                    minimum: 1
                  paymentTermsDays:
                    type: integer
                    minimum: 0
                    maximum: 365
                  collectionMethods:
                    minItems: 1
                    maxItems: 3
                    type: array
                    items:
                      type: string
                      enum:
                      - ACH
                      - CARD
                      - INVOICE
                required:
                - kind
                - optionKey
                - displayName
                - currency
                - monthlyAmountMinor
                - termMonths
                - paymentTermsDays
                - collectionMethods
                additionalProperties: false
              - type: object
                properties:
                  kind:
                    type: string
                    enum:
                    - TERM_PREPAY
                  optionKey:
                    type: string
                    minLength: 1
                    maxLength: 120
                    pattern: ^[a-z0-9][a-z0-9._-]*$
                  displayName:
                    type: string
                    minLength: 1
                    maxLength: 120
                  currency:
                    type: string
                    enum:
                    - USD
                    - EUR
                    - GBP
                    - AUD
                  prepaidAmountMinor:
                    type: integer
                    maximum: 9007199254740991
                    minimum: 1
                  termMonths:
                    type: integer
                    maximum: 120
                    minimum: 1
                  paymentTermsDays:
                    type: integer
                    minimum: 0
                    maximum: 365
                  collectionMethods:
                    minItems: 1
                    maxItems: 3
                    type: array
                    items:
                      type: string
                      enum:
                      - ACH
                      - CARD
                      - INVOICE
                required:
                - kind
                - optionKey
                - displayName
                - currency
                - prepaidAmountMinor
                - termMonths
                - paymentTermsDays
                - collectionMethods
                additionalProperties: false
              type:
              - object
              - 'null'
            termStart:
              type: string
              format: date-time
              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
            termEnd:
              type: string
              format: date-time
              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
            listCommitmentMinor:
              type: integer
              minimum: 0
              maximum: 9007199254740991
            listOverageUnitAmountMinor:
              type: integer
              minimum: 0
              maximum: 9007199254740991
            includedIus:
              type: integer
              minimum: 0
              maximum: 9007199254740991
            discountAuthorizationId:
              type:
              - string
              - 'null'
              pattern: ^\d+$
            discountBasisPoints:
              type: integer
              minimum: 0
              maximum: 9999
            netCommitmentMinor:
              type: integer
              minimum: 0
              maximum: 9007199254740991
            netOverageUnitAmountMinor:
              type: integer
              minimum: 0
              maximum: 9007199254740991
            currency:
              type: string
              enum:
              - USD
              - EUR
              - GBP
              - AUD
            billingPeriodMonths:
              type: number
              enum:
              - 1
            rolloverPolicy:
              type:
              - object
              - 'null'
              properties:
                capBasisPoints:
                  type: integer
                  minimum: 1
                  maximum: 5000
                expiresAfterBillingPeriods:
                  type: number
                  enum:
                  - 1
              required:
              - capBasisPoints
              - expiresAfterBillingPeriods
              additionalProperties: false
            paymentTermsDays:
              type: integer
              maximum: 9007199254740991
              minimum: 1
            acceptedByUserId:
              type: string
              pattern: ^\d+$
            acceptedAt:
              type: string
              format: date-time
              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
            acceptanceSource:
              type: string
              enum:
              - SIGNUP
              - PLAN_BILLING
              - MCP_APP
              - ADMIN_ORDER_FORM
              - AUTO_RENEWAL
            activityTerms:
              type: array
              items:
                type: object
                properties:
                  activityCode:
                    type: string
                    enum:
                    - ACTIVATED_SOCIAL_ACCOUNT_MONTH
                  displayName:
                    type: string
                    minLength: 1
                    maxLength: 120
                  iuAmountMilli:
                    type: integer
                    minimum: 1
                    maximum: 2147483647
                  billingPeriodMonths:
                    type: number
                    enum:
                    - 1
                  includedBackfillMonths:
                    type: integer
                    minimum: 0
                    maximum: 120
                required:
                - activityCode
                - displayName
                - iuAmountMilli
                - billingPeriodMonths
                - includedBackfillMonths
                additionalProperties: false
            activitySchedule:
              $ref: '#/components/schemas/IuRateCardActivityScheduleResponse'
          required:
          - id
          - acceptingCustomerId
          - contractId
          - agreementDocumentId
          - agreementKind
          - tosVersion
          - rateCardId
          - rateCardPublicVersion
          - planId
          - planCode
          - planName
          - renewalPosture
          - predecessorBindingId
          - offerVersion
          - entitlementBundle
          - supportPackage
          - proposal
          - selectedPaymentOption
          - termStart
          - termEnd
          - listCommitmentMinor
          - listOverageUnitAmountMinor
          - includedIus
          - discountAuthorizationId
          - discountBasisPoints
          - netCommitmentMinor
          - netOverageUnitAmountMinor
          - currency
          - billingPeriodMonths
          - rolloverPolicy
          - paymentTermsDays
          - acceptedByUserId
          - acceptedAt
          - acceptanceSource
          - activityTerms
          - activitySchedule
          additionalProperties: false
      required:
      - data
      additionalProperties: false
    BillingPricing:
      type: object
      properties:
        effective:
          $ref: '#/components/schemas/BillingRateCard'
        publicList:
          description: Null until AI-2964 (public pricing / price book) lands.
          allOf:
          - $ref: '#/components/schemas/BillingRateCard'
        provenance:
          type:
          - string
          - 'null'
          enum:
          - STANDARD
          - CUSTOM
          - INHERITED
      required:
      - effective
      - publicList
      - provenance
      additionalProperties: false
    CreditApplicationResponse:
      description: A single credit application.
      type: object
      properties:
        id:
          description: Surrogate id of the application row (BIGINT serialized as string).
          example: '42'
          type: string
        customerId:
          description: Credit-bearing customer the application is for (PARENT or STANDALONE).
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
        customerName:
          description: Display name of the applicant account (company name, falling back to the customer's name). Resolved server-side from the core customer record; null on buyer-facing reads or when the customer cannot be resolved.
          type:
          - string
          - 'null'
        requestedCreditLimit:
          description: Requested limit in currency minor units.
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
        currency:
          description: ISO 4217 currency of the limits on this application.
          type: string
        status:
          description: Lifecycle state. `PENDING` until a superadmin decides; `APPROVED` once a limit is granted (and `customer_standing.credit_limit` is raised); `REJECTED` when declined; `WITHDRAWN` when the applicant pulls it before a decision.
          type: string
          enum:
          - PENDING
          - APPROVED
          - REJECTED
          - WITHDRAWN
        justification:
          description: Free-text context supplied on submit. Null when not given.
          type:
          - string
          - 'null'
        grantedCreditLimit:
          description: Limit granted by the superadmin, in currency minor units. Null until approved.
          type:
          - integer
          - 'null'
          minimum: -9007199254740991
          maximum: 9007199254740991
        reviewedBy:
          description: User id of the superadmin who decided (BIGINT serialized as string). Null while pending.
          type:
          - string
          - 'null'
        reviewerName:
[...]
