openapi: 3.2.0
info:
  title: Scope3 Buyer Advertisers API
  version: 2.0.0
  description: 'REST API for advertisers to manage advertisers, campaigns, and reporting.


    ## Authentication


    All endpoints require a Bearer token in the Authorization header:

    ```

    Authorization: Bearer your-api-key

    ```


    ## Base URL


    `https://api.interchange.io/api/v2/buyer`


    ## For AI Agents


    AI agents can use the MCP endpoint at `/mcp/v2/buyer` with three tools:

    - `initialize`: Start an MCP session

    - `api_call`: Make REST API calls

    - `ask_about_capability`: Learn about API features'
servers:
- url: https://api.interchange.io/api/v2/buyer
  description: Production server
tags:
- name: Advertisers
  description: Manage advertisers
paths:
  /advertisers:
    get:
      operationId: listAdvertisers
      summary: List advertisers
      description: List all advertisers with optional filtering and pagination.
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: status
        schema:
          description: Filter by advertiser status. Use ALL to include both active and archived. Defaults to ACTIVE.
          default: ACTIVE
          type: string
          enum:
          - ACTIVE
          - ARCHIVED
          - ALL
        description: Filter by advertiser status. Use ALL to include both active and archived. Defaults to ACTIVE.
      - in: query
        name: name
        schema:
          description: Filter by advertiser name (case-insensitive, partial match)
          example: Acme
          type: string
        description: Filter by advertiser name (case-insensitive, partial match)
      - in: query
        name: linkedAccountPartnerId
        schema:
          description: Filter to advertisers linked to at least one account from this partner / sales agent ID.
          example: snap
          type: string
        description: Filter to advertisers linked to at least one account from this partner / sales agent ID.
      - in: query
        name: sandbox
        schema:
          description: Filter by sandbox mode. true returns only sandbox advertisers, false returns only production advertisers. Omit to return all.
          type: boolean
        description: Filter by sandbox mode. true returns only sandbox advertisers, false returns only production advertisers. Omit to return all.
      - in: query
        name: includeBrand
        schema:
          description: When true, include linked brand identity data on advertiser summary rows so creative agents can use brand logos, colors, tone, and catalog data.
          type: boolean
        description: When true, include linked brand identity data on advertiser summary rows so creative agents can use brand logos, colors, tone, and catalog data.
      - in: query
        name: limit
        schema:
          description: 'Maximum number of advertisers to return per page (default: 100, max: 100)'
          example: 100
          default: 100
          type: integer
          maximum: 100
          minimum: 1
        description: 'Maximum number of advertisers to return per page (default: 100, max: 100)'
      - in: query
        name: offset
        schema:
          description: 'Number of advertisers to skip for pagination (default: 0)'
          example: 0
          default: 0
          type: integer
          minimum: 0
          maximum: 9007199254740991
        description: 'Number of advertisers to skip for pagination (default: 0)'
      responses:
        '200':
          description: List advertisers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createAdvertiser
      summary: Create advertiser
      description: Create a new advertiser. Advertisers are the top-level entity for campaigns.
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdvertiserBody'
      responses:
        '201':
          description: Create advertiser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertiser'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /all-advertisers-home:
    get:
      operationId: listAllAdvertisersHome
      summary: List all advertisers home
      description: 'Pre-assembled data for the buyer "All Advertisers Landing" widget: advertiser rows (brand kit, campaign count, resumable-draft flag) plus a portfolio summary. Money rollups (`managed`/`tracked`) are always null pending AI-5642; `attention`/`nextAction` are omitted pending AI-5643.'
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      responses:
        '200':
          description: List all advertisers home
          content:
            application/json:
              schema:
                type: object
                properties:
                  portfolio:
                    type: object
                    properties:
                      tracked:
                        type: string
                      managed:
                        type: string
                      waitingOnYou:
                        type: number
                    required:
                    - tracked
                    - managed
                    - waitingOnYou
                    additionalProperties: false
                  advertisers:
                    type: array
                    items:
                      type: object
                      properties:
                        advertiserId:
                          type: string
                        name:
                          type: string
                        initials:
                          type: string
                        brandColors:
                          type: object
                          additionalProperties:
                            type: string
                        logoUrl:
                          type: string
                        logoTileColor:
                          type: string
                        logoFill:
                          type: boolean
                        managed:
                          type:
                          - string
                          - 'null'
                        tracked:
                          type:
                          - string
                          - 'null'
                        campaignCount:
                          type: number
                        resumableDraft:
                          type: boolean
                        attention:
                          type: object
                          properties:
                            flags:
                              type: array
                              items:
                                type: object
                                properties:
                                  label:
                                    type: string
                                  tone:
                                    type: string
                                    enum:
                                    - critical
                                    - needsAction
                                    - info
                                required:
                                - label
                                - tone
                                additionalProperties: false
                          required:
                          - flags
                          additionalProperties: false
                        nextAction:
                          type: object
                          properties:
                            label:
                              type: string
                          required:
                          - label
                          additionalProperties: false
                      required:
                      - advertiserId
                      - name
                      - initials
                      - managed
                      - tracked
                      - campaignCount
                      - resumableDraft
                      additionalProperties: false
                  currentAdvertiserId:
                    type: string
                required:
                - portfolio
                - advertisers
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}:
    get:
      operationId: getAdvertiser
      summary: Get advertiser
      description: Get a single advertiser by ID. Always returns full brand details including the ADCP manifest.
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Unique identifier for the advertiser
          example: '12345'
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the advertiser
      responses:
        '200':
          description: Get advertiser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertiser'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateAdvertiser
      summary: Update advertiser
      description: Update an existing advertiser.
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Unique identifier for the advertiser
          example: '12345'
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the advertiser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdvertiserBody'
      responses:
        '200':
          description: Update advertiser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertiser'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteAdvertiser
      summary: Delete advertiser
      description: Delete (archive) an advertiser.
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Unique identifier for the advertiser
          example: '12345'
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the advertiser
      responses:
        '204':
          description: No content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/restore:
    post:
      operationId: restoreAdvertiser
      summary: Restore advertiser
      description: Restore a previously deleted (archived) advertiser, making it active again.
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Unique identifier for the advertiser
          example: '12345'
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the advertiser
      responses:
        '200':
          description: Restore advertiser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertiser'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No archived advertiser with this id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/data-delivery-credentials/{name}/validate:
    post:
      operationId: revalidateDataDeliveryCredential
      summary: Revalidate data delivery credential
      description: Re-runs the destination Probe for a supported object-storage credential and returns the updated record with a fresh status (VALIDATED or FAILED). Use after fixing a buyer-side destination access issue (e.g., re-granting GCS bucket IAM) without otherwise editing the credential.
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Advertiser ID (numeric, as a string).
          type: string
          minLength: 1
        required: true
        description: Advertiser ID (numeric, as a string).
      - in: path
        name: name
        schema:
          description: Credential name (unique per advertiser).
          type: string
          minLength: 1
        required: true
        description: Credential name (unique per advertiser).
      responses:
        '200':
          description: Revalidate data delivery credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevalidateDataDeliveryCredentialResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/accounts:
    get:
      operationId: listAdvertiserAccounts
      summary: List advertiser accounts
      description: List the sales-agent accounts already linked to an advertiser, with optional filtering by sales agent.
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: storefrontId
        schema:
          description: Filter accounts to those reachable through this storefront. Pair with `sourceId`.
          example: 42
          type: integer
          maximum: 9007199254740991
          minimum: 1
        description: Filter accounts to those reachable through this storefront. Pair with `sourceId`.
      - in: query
        name: sourceId
        schema:
          description: Filter accounts to those reachable through this inventory source. Pair with `storefrontId`.
          example: src_main
          type: string
          minLength: 1
        description: Filter accounts to those reachable through this inventory source. Pair with `storefrontId`.
      - in: query
        name: status
        schema:
          description: Filter by account status
          type: string
          enum:
          - active
          - pending_approval
          - payment_required
          - suspended
          - closed
          - unreachable
        description: Filter by account status
      - in: query
        name: take
        schema:
          description: Number of results to return (max 250)
          example: 50
          default: 50
          type: integer
          maximum: 250
          minimum: 1
        description: Number of results to return (max 250)
      - in: query
        name: skip
        schema:
          description: Number of results to skip for pagination
          example: 0
          default: 0
          type: integer
          minimum: 0
          maximum: 9007199254740991
        description: Number of results to skip for pagination
      - in: path
        name: advertiserId
        schema:
          description: Unique identifier for the advertiser
          example: '12345'
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the advertiser
      responses:
        '200':
          description: List advertiser accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: assignAccount
      summary: Assign account
      description: Link a partner (source) account discovered via `list_available_accounts` to an advertiser.
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Unique identifier for the advertiser
          example: '12345'
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the advertiser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignAccountBody'
      responses:
        '201':
          description: Assign account
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/accounts/{accountId}:
    get:
      operationId: getAdvertiserAccount
      summary: Get advertiser account
      description: Get a single linked sales-agent account on an advertiser by its account id.
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Unique identifier for the advertiser
          example: '12345'
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the advertiser
      - in: path
        name: accountId
        schema:
          description: Unique identifier for the account
          example: acc_67890
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the account
      responses:
        '200':
          description: Get advertiser account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserAccount'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No linked account with this id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/accounts/available:
    get:
      operationId: listAvailableAccounts
      summary: List available accounts
      description: Discover accounts available to link to an advertiser from a specific sales agent.
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: storefrontId
        schema:
          description: Storefront the source lives on. Pair with `sourceId` to identify the source whose accounts to list.
          example: 42
          type: integer
          maximum: 9007199254740991
          minimum: 1
        required: true
        description: Storefront the source lives on. Pair with `sourceId` to identify the source whose accounts to list.
      - in: query
        name: sourceId
        schema:
          description: Inventory source within `storefrontId` whose accounts to list.
          example: src_main
          type: string
          minLength: 1
        required: true
        description: Inventory source within `storefrontId` whose accounts to list.
      - in: query
        name: refresh
        schema:
          description: When true, re-fetches accounts from the source before returning results. Defaults to false (returns cached accounts).
          example: 'false'
          type: string
          enum:
          - 'true'
          - 'false'
        description: When true, re-fetches accounts from the source before returning results. Defaults to false (returns cached accounts).
      - in: query
        name: billingType
        schema:
          description: Billing arrangement type to filter accounts by (e.g. "advertiser", "operator", "agent"). Must be one of the values supported by this source. Defaults to the source's default billing type if omitted.
          example: advertiser
          type: string
        description: Billing arrangement type to filter accounts by (e.g. "advertiser", "operator", "agent"). Must be one of the values supported by this source. Defaults to the source's default billing type if omitted.
      - in: query
        name: credentialId
        schema:
          description: ID of a specific registered credential to use for account discovery. Required when the customer has multiple credentials registered for this source. Use GET /storefronts/credentials to list registered credentials and their IDs.
          example: '42'
          type: string
        description: ID of a specific registered credential to use for account discovery. Required when the customer has multiple credentials registered for this source. Use GET /storefronts/credentials to list registered credentials and their IDs.
      - in: query
        name: take
        schema:
          description: Number of results to return (max 250)
          example: 50
          default: 50
          type: integer
          maximum: 250
          minimum: 1
        description: Number of results to return (max 250)
      - in: query
        name: skip
        schema:
          description: Number of results to skip for pagination
          example: 0
          default: 0
          type: integer
          minimum: 0
          maximum: 9007199254740991
        description: Number of results to skip for pagination
      - in: path
        name: advertiserId
        schema:
          description: Unique identifier for the advertiser
          example: '12345'
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the advertiser
      responses:
        '200':
          description: List available accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableAccountListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/accounts/{linkId}:
    delete:
      operationId: unassignAccount
      summary: Unmap a partner account from an advertiser
      description: Soft-delete an advertiser-account link by its `linkId` (returned on mapping rows). The link is preserved for period history; buys for the advertiser on that platform fail with `account_mapping_required` until a new mapping is made.
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Unique identifier for the advertiser
          example: '12345'
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the advertiser
      - in: path
        name: linkId
        schema:
          description: Identifier of the advertiser-account link row (numeric primary key)
          example: '42'
          type: string
          pattern: ^\d{1,15}$
        required: true
        description: Identifier of the advertiser-account link row (numeric primary key)
      responses:
        '200':
          description: Unmap a partner account from an advertiser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountUnlinked'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The advertiser does not belong to the caller
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: The link does not exist or belongs to another advertiser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/accounts/{linkId}/reporting-bucket:
    put:
      operationId: updateAccountReportingBucket
      summary: Update account reporting bucket
      description: 'Set or clear the offline `reporting_bucket` configuration on a linked partner account, then notify the seller via `sync_accounts`. Pass `reporting_bucket: null` to clear the bucket.'
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Unique identifier for the advertiser
          example: '12345'
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the advertiser
      - in: path
        name: linkId
        schema:
          description: Identifier of the advertiser-account link row (numeric primary key)
          example: '42'
          type: string
          pattern: ^\d{1,15}$
        required: true
        description: Identifier of the advertiser-account link row (numeric primary key)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateReportingBucketBody'
      responses:
        '200':
          description: Update account reporting bucket
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/catalogs:
    get:
      operationId: listCatalogs
      summary: List catalogs
      description: List catalogs that have been synced for an advertiser.
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: type
        schema:
          type: string
          enum:
          - offering
          - product
          - inventory
          - store
          - promotion
          - hotel
          - flight
          - job
          - vehicle
          - real_estate
          - education
          - destination
          - app
      - in: query
        name: take
        schema:
          description: Number of results to return (max 250)
          example: 50
          default: 50
          type: integer
          maximum: 250
          minimum: 1
        description: Number of results to return (max 250)
      - in: query
        name: skip
        schema:
          description: Number of results to skip for pagination
          example: 0
          default: 0
          type: integer
          minimum: 0
          maximum: 9007199254740991
        description: Number of results to skip for pagination
      - in: path
        name: advertiserId
        schema:
          description: Unique identifier for the advertiser
          example: '12345'
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the advertiser
      responses:
        '200':
          description: List catalogs
          content:
            application/json:
              schema:
                type: object
                properties:
                  catalogs:
                    type: array
                    items:
                      type: object
                      properties:
                        catalogId:
                          type: string
                        platformId:
                          type: string
                        type:
                          type: string
                          enum:
                          - offering
                          - product
                          - inventory
                          - store
                          - promotion
                          - hotel
                          - flight
                          - job
                          - vehicle
                          - real_estate
                          - education
                          - destination
                          - app
                        sourceType:
                          type: string
                          enum:
                          - inline
                          - url
                          - selector
                        name:
                          type:
                          - string
                          - 'null'
                        url:
                          type:
                          - string
                          - 'null'
                        feedFormat:
                          type:
                          - string
                          - 'null'
                          enum:
                          - google_merchant_center
                          - facebook_catalog
                          - shopify
                          - linkedin_jobs
                          - tiktok_shop
                          - pinterest_catalog
                          - openai_product_feed
                          - custom
                        updateFrequency:
                          type:
                          - string
                          - 'null'
                          enum:
                          - realtime
                          - hourly
                          - daily
                          - weekly
                        itemCount:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        syncStatus:
                          description: Raw ingest/sync state for this catalog
                          type: string
                          enum:
                          - pending
                          - syncing
                          - synced
                          - failed
                          - not_synced
                        healthStatus:
                          description: Operational health derived from sync state and freshness windows
                          type: string
                          enum:
                          - not_synced
                          - healthy
                          - stale
                          - warning
                          - failed
                        latestVersionId:
                          type:
                          - string
                          - 'null'
                        latestVersionNumber:
                          type:
                          - integer
                          - 'null'
                          maximum: 9007199254740991
                          minimum: 1
                        latestContentHash:
                          type:
                          - string
                          - 'null'
                        activeTransformId:
                          type:
                          - string
                          - 'null'
                        latestActivationPlanId:
                          type:
                          - string
                          - 'null'
                        lastChangeSummary:
                          type: object
                          properties:
                            added:
                              default: 0
                              type: integer
                              minimum: 0
                              maximum: 9007199254740991
                            updated:
                              default: 0
                              type: integer
                              minimum: 0
                              maximum: 9007199254740991
                            unchanged:
                              default: 0
                              type: integer
                              minimum: 0
                              maximum: 9007199254740991
                            removed:
                              default: 0
                              type: integer
                              minimum: 0
                              maximum: 9007199254740991
                          required:
                          - added
                          - updated
                          - unchanged
                          - removed
                          additionalProperties: false
                        lastSyncAttemptAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        lastSyncedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        nextSyncAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        staleAfterAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        versions:
                          type: array
                          items:
                            type: object
                            properties:
                              versionId:
                                type: string
                              versionNumber:
                                type: integer
                                maximum: 9007199254740991
                                minimum: 1
                              itemCount:
                                type: integer
                                minimum: 0
                                maximum: 9007199254740991
                              contentHash:
                                type: string
                              changeSummary:
                                type: object
                                properties:
                                  added:
                                    default: 0
                                    type: integer
                                    minimum: 0
                                    maximum: 9007199254740991
                                  updated:
                                    default: 0
                                    type: integer
                                    minimum: 0
                                    maximum: 9007199254740991
                                  unchanged:
                                    default: 0
                                    type: integer
                                    minimum: 0
                                    maximum: 9007199254740991
                                  removed:
                                    default: 0
                                    type: integer
                                    minimum: 0
                                    maximum: 9007199254740991
                                required:
                                - added
                                - updated
                                - unchanged
                                - removed
                                additionalProperties: false
                              syncStatus:
                                type: string
                                enum:
                                - pending
                                - syncing
                                - synced
                                - failed
                                - not_synced
                              createdAt:
                                type: string
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                              completedAt:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                            required:
                            - versionId
                            - versionNumber
                            - itemCount
                            - contentHash
                            - changeSummary
                            - syncStatus
                            - createdAt
                            - completedAt
                            additionalProperties: false
                        recentRefreshRuns:
                          type: array
                          items:
                            type: object
                            properties:
                              refreshRunId:
                                type: string
                              status:
                                type: string
                                enum:
                                - syncing
                                - synced
                                - unchanged
                                - failed
                              httpStatus:
                                type:
                                - integer
                                - 'null'
                                minimum: -9007199254740991
                                maximum: 9007199254740991
                              itemCount:
                                type:
                                - integer
                                - 'null'
                                minimum: 0
                                maximum: 9007199254740991
                              activationSkippedReason:
                                type:
                                - string
                                - 'null'
                              error:
                                type:
                                - string
                                - 'null'
                              startedAt:
                                type: string
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                              completedAt:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                            required:
                            - refreshRunId
                            - status
                            - httpStatus
                            - itemCount
                            - activationSkippedReason
                            - error
                            - startedAt
                            - completedAt
                            additionalProperties: false
                        recentActivationExecutions:
                          type: array
                          items:
                            type: object
                            properties:
                              executionId:
                                type: string
                              planId:
                                type:
                                - string
                                - 'null'
                              catalogVersionId:
                                type:
                                - string
                                - 'null'
                              status:
                                type: string
                                enum:
                                - pending
                                - completed
                                - failed
                              trigger:
                                type: string
                                enum:
                                - manual
                                - feed_refresh
                                - scheduled
                              campaignGroupCount:
                                type: integer
                                minimum: 0
                                maximum: 9007199254740991
                              creativeAssetCount:
                                type: integer
                                minimum: 0
                                maximum: 9007199254740991
                              syndicationTargetCount:
                                type: integer
                                minimum: 0
                                maximum: 9007199254740991
                              error:
                                type:
                                - string
                                - 'null'
                              startedAt:
                                type: string
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                              completedAt:
                                type:
                                - string
                                - 'null'
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                            required:
                            - executionId
                            - planId
                            - catalogVersionId
                            - status
                            - trigger
                            - campaignGroupCount
                            - creativeAssetCount
                            - syndicationTargetCount
                            - error
                            - startedAt
                            - completedAt
                            additionalProperties: false
                        advertiserId:
                          type: string
                      required:
                      - catalogId
                      - platformId
                      - type
                      - sourceType
                      - name
                      - url
                      - feedFormat
                      - updateFrequency
                      - itemCount
                      - syncStatus
                      - healthStatus
                      - latestVersionId
                      - latestVersionNumber
                      - latestContentHash
                      - activeTransformId
                      - latestActivationPlanId
                      - lastChangeSummary
                      - lastSyncAttemptAt
                      - lastSyncedAt
                      - nextSyncAt
                      - staleAfterAt
                      - versions
                      - recentRefreshRuns
                      - recentActivationExecutions
                      - advertiserId
                      additionalProperties: false
                  total:
                    type: integer
                    minimum: 0
                    maximum: 9007199254740991
                required:
                - catalogs
                - total
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/catalogs/sync:
    post:
      operationId: syncCatalogs
      summary: Sync catalogs
      description: Inbound ADCP sync_catalogs endpoint. Buyers call this to sync their catalogs and items to the advertiser.
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Unique identifier for the advertiser
          example: '12345'
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the advertiser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                account:
                  description: Advertiser account to sync catalogs onto
                  type: object
                  properties:
                    account_id:
                      description: Advertiser ID to attach catalogs to
                      example: '12345'
                      type: string
                      minLength: 1
                  required:
                  - account_id
                catalogs:
                  description: Catalog feeds to sync (up to 50 per call)
                  minItems: 1
                  maxItems: 50
                  type: array
                  items:
                    type: object
                    properties:
                      catalog_id:
                        description: Buyer-assigned catalog identifier
                        example: my-summer-products
                        type: string
                        minLength: 1
                      type:
                        type: string
                        enum:
                        - offering
                        - product
                        - inventory
                        - store
                        - promotion
                        - hotel
                        - flight
                        - job
                        - vehicle
                        - real_estate
                        - education
                        - destination
                        - app
                      name:
                        description: Display name for the catalog
                        example: Summer Sale 2026
                        type: string
                        minLength: 1
                        maxLength: 255
                      url:
                        description: Remote feed URL (provide this or items, not both)
                        example: https://feeds.example.com/products.xml
                        type: string
                        format: uri
                      feed_format:
                        type: string
                        enum:
                        - google_merchant_center
                        - facebook_catalog
                        - shopify
                        - linkedin_jobs
                        - tiktok_shop
                        - pinterest_catalog
                        - openai_product_feed
                        - custom
                      update_frequency:
                        type: string
                        enum:
                        - realtime
                        - hourly
                        - daily
                        - weekly
                      items:
                        description: Inline catalog items (provide this or url, not both)
                        maxItems: 10000
                        type: array
                        items:
                          description: An individual catalog item (product, offering, job, etc.)
                          type: object
                          additionalProperties: {}
                      conversion_events:
                        description: Conversion event IDs linked to this catalog
                        example:
                        - purchase
                        - add_to_cart
                        type: array
                        items:
                          type: string
                    required:
                    - catalog_id
                    - type
                catalog_ids:
                  description: 'Optional: only process these catalog_ids from the catalogs array'
                  type: array
                  items:
                    type: string
                delete_missing:
                  description: Archive buyer-managed catalogs not included in this request
                  default: false
                  type: boolean
                dry_run:
                  description: Preview changes without persisting to the database
                  default: false
                  type: boolean
                validation_mode:
                  description: Item validation strictness
                  default: strict
                  type: string
                  enum:
                  - strict
                  - lenient
              required:
              - account
              - catalogs
      responses:
        '200':
          description: Sync catalogs
          content:
            application/json:
              schema:
                type: object
                properties:
                  catalogs:
                    type: array
                    items:
                      type: object
                      properties:
                        catalog_id:
                          type: string
                        action:
                          type: string
                          enum:
                          - created
                          - updated
                          - unchanged
                          - failed
                          - deleted
                        platform_id:
                          type: string
                        catalog_version_id:
                          type: string
                        catalog_version_number:
                          type: integer
                          maximum: 9007199254740991
                          minimum: 1
                        content_hash:
                          type: string
                        item_count:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        items_approved:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        items_pending:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        items_rejected:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        item_changes:
                          type: object
                          properties:
                            added:
                              default: 0
                              type: integer
                              minimum: 0
                              maximum: 9007199254740991
                            updated:
                              default: 0
                              type: integer
                              minimum: 0
                              maximum: 9007199254740991
                            unchanged:
                              default: 0
                              type: integer
                              minimum: 0
                              maximum: 9007199254740991
                            removed:
                              default: 0
                              type: integer
                              minimum: 0
                              maximum: 9007199254740991
                          required:
                          - added
                          - updated
                          - unchanged
                          - removed
                          additionalProperties: false
                        health_status:
                          type: string
                          enum:
                          - not_synced
                          - healthy
                          - stale
                          - warning
                          - failed
                        activation_plan_id:
                          type: string
                        item_issues:
                          type: array
                          items:
                            type: object
                            properties:
                              item_id:
                                type: string
                              field:
                                type: string
                              issue:
                                type: string
                              severity:
                                type: string
                                enum:
                                - error
                                - warning
                            required:
                            - issue
                            additionalProperties: false
                        last_synced_at:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        next_fetch_at:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        error:
                          type: string
                      required:
                      - catalog_id
                      - action
                      additionalProperties: false
                  dry_run:
                    type: boolean
                required:
                - catalogs
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/catalogs/{catalogId}/transform:
    put:
      operationId: saveCatalogTransform
      summary: Save catalog transform
      description: Save the active deterministic transform that maps catalog feed items into campaign groups, creative prompt cache keys, and budget hints.
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Advertiser ID
          type: string
          minLength: 1
        required: true
        description: Advertiser ID
      - in: path
        name: catalogId
        schema:
          description: Buyer-assigned catalog_id or platform catalog id returned by list catalogs
          type: string
          minLength: 1
        required: true
        description: Buyer-assigned catalog_id or platform catalog id returned by list catalogs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 255
                transform:
                  type: object
                  properties:
                    fields:
                      default: []
                      type: array
                      items:
                        type: object
                        properties:
                          key:
                            description: Derived field key made available to grouping and template rules
                            example: city
                            type: string
                            minLength: 1
                            pattern: ^[A-Za-z][A-Za-z0-9_]*$
                          source:
                            description: Dot-path into the raw catalog item, for example location.city
                            example: location.city
                            type: string
                            minLength: 1
                          template:
                            description: Template using {{field}} placeholders from raw or derived fields
                            example: '{{title}} in {{city}}'
                            type: string
                            minLength: 1
                          default:
                            description: Fallback value when source or template resolves empty
                          transform:
                            description: Optional deterministic value normalization
                            type: string
                            enum:
                            - string
                            - lowercase
                            - uppercase
                            - title_case
                            - slug
                        required:
                        - key
                    campaign:
                      type: object
                      properties:
                        groupBy:
                          description: Field references used to create campaign groups, usually derived fields such as city
                          example:
                          - city
                          minItems: 1
                          type: array
                          items:
                            type: string
                            minLength: 1
                        keyTemplate:
                          description: Optional campaign group key template
                          example: loetje-jobs-{{citySlug}}
                          type: string
                          minLength: 1
                        nameTemplate:
                          description: Human-readable campaign name template
                          example: Loetje hiring - {{city}}
                          type: string
                          minLength: 1
                        budget:
                          oneOf:
                          - type: object
                            properties:
                              mode:
                                type: string
                                enum:
                                - none
                            required:
                            - mode
                          - type: object
                            properties:
                              mode:
                                type: string
                                enum:
                                - fixed
                              amount:
                                type: number
                                minimum: 0
                              currency:
                                default: USD
                                type: string
                                minLength: 3
                                maxLength: 3
                            required:
                            - mode
                            - amount
                          - type: object
                            properties:
                              mode:
                                type: string
                                enum:
                                - per_item
                              amountPerItem:
                                type: number
                                minimum: 0
                              currency:
                                default: USD
                                type: string
                                minLength: 3
                                maxLength: 3
                            required:
                            - mode
                            - amountPerItem
                          - type: object
                            properties:
                              mode:
                                type: string
                                enum:
                                - field_sum
                              field:
                                type: string
                                minLength: 1
                              multiplier:
                                default: 1
                                type: number
                              currency:
                                default: USD
                                type: string
                                minLength: 3
                                maxLength: 3
                            required:
                            - mode
                            - field
                          type: object
                      required:
                      - groupBy
                    creativeAssets:
                      default: []
                      type: array
                      items:
                        type: object
                        properties:
                          keyTemplate:
                            description: Stable creative asset cache key template. Assets with the same key can reuse generated media.
                            example: loetje-chef-{{jobCategorySlug}}
                            type: string
                            minLength: 1
                          promptTemplate:
                            description: Prompt template used by the creative generation path
                            example: Generate a chef working in a Loetje kitchen for a {{jobCategory}} hiring ad
                            type: string
                            minLength: 1
                          groupBy:
                            description: Field references used to fan out unique creative asset prompts
                            example:
                            - jobCategory
                            default: []
                            type: array
                            items:
                              type: string
                              minLength: 1
                        required:
                        - keyTemplate
                        - promptTemplate
              required:
              - transform
      responses:
        '200':
          description: Save catalog transform
          content:
            application/json:
              schema:
                type: object
                properties:
                  transform:
                    type: object
                    properties:
                      transformId:
                        type: string
                      catalogId:
                        type: string
                      platformCatalogId:
                        type: string
                      name:
                        type: string
                      status:
                        type: string
                        enum:
                        - active
                        - archived
                      definitionHash:
                        type: string
                      definition:
                        type: object
                        properties:
                          fields:
                            default: []
                            type: array
                            items:
                              type: object
                              properties:
                                key:
                                  description: Derived field key made available to grouping and template rules
                                  example: city
                                  type: string
                                  minLength: 1
                                  pattern: ^[A-Za-z][A-Za-z0-9_]*$
                                source:
                                  description: Dot-path into the raw catalog item, for example location.city
                                  example: location.city
                                  type: string
                                  minLength: 1
                                template:
                                  description: Template using {{field}} placeholders from raw or derived fields
                                  example: '{{title}} in {{city}}'
                                  type: string
                                  minLength: 1
                                default:
                                  description: Fallback value when source or template resolves empty
                                transform:
                                  description: Optional deterministic value normalization
                                  type: string
                                  enum:
                                  - string
                                  - lowercase
                                  - uppercase
                                  - title_case
                                  - slug
                              required:
                              - key
                              additionalProperties: false
                          campaign:
                            type: object
                            properties:
                              groupBy:
                                description: Field references used to create campaign groups, usually derived fields such as city
                                example:
                                - city
                                minItems: 1
                                type: array
                                items:
                                  type: string
                                  minLength: 1
                              keyTemplate:
                                description: Optional campaign group key template
                                example: loetje-jobs-{{citySlug}}
                                type: string
                                minLength: 1
                              nameTemplate:
                                description: Human-readable campaign name template
                                example: Loetje hiring - {{city}}
                                type: string
                                minLength: 1
                              budget:
                                oneOf:
                                - type: object
                                  properties:
                                    mode:
                                      type: string
                                      enum:
                                      - none
                                  required:
                                  - mode
                                  additionalProperties: false
                                - type: object
                                  properties:
                                    mode:
                                      type: string
                                      enum:
                                      - fixed
                                    amount:
                                      type: number
                                      minimum: 0
                                    currency:
                                      default: USD
                                      type: string
                                      minLength: 3
                                      maxLength: 3
                                  required:
                                  - mode
                                  - amount
                                  - currency
                                  additionalProperties: false
                                - type: object
                                  properties:
                                    mode:
                                      type: string
                                      enum:
                                      - per_item
                                    amountPerItem:
                                      type: number
                                      minimum: 0
                                    currency:
                                      default: USD
                                      type: string
                                      minLength: 3
                                      maxLength: 3
                                  required:
                                  - mode
                                  - amountPerItem
                                  - currency
                                  additionalProperties: false
                                - type: object
                                  properties:
                                    mode:
                                      type: string
                                      enum:
                                      - field_sum
                                    field:
                                      type: string
                                      minLength: 1
                                    multiplier:
                                      default: 1
                                      type: number
                                    currency:
                                      default: USD
                                      type: string
                                      minLength: 3
                                      maxLength: 3
                                  required:
                                  - mode
                                  - field
                                  - multiplier
                                  - currency
                                  additionalProperties: false
                                type: object
                            required:
                            - groupBy
                            additionalProperties: false
                          creativeAssets:
                            default: []
                            type: array
                            items:
                              type: object
                              properties:
                                keyTemplate:
                                  description: Stable creative asset cache key template. Assets with the same key can reuse generated media.
                                  example: loetje-chef-{{jobCategorySlug}}
                                  type: string
                                  minLength: 1
                                promptTemplate:
                                  description: Prompt template used by the creative generation path
                                  example: Generate a chef working in a Loetje kitchen for a {{jobCategory}} hiring ad
                                  type: string
                                  minLength: 1
                                groupBy:
                                  description: Field references used to fan out unique creative asset prompts
                                  example:
                                  - jobCategory
                                  default: []
                                  type: array
                                  items:
                                    type: string
                                    minLength: 1
                              required:
                              - keyTemplate
                              - promptTemplate
                              - groupBy
                              additionalProperties: false
                        required:
                        - fields
                        - creativeAssets
                        additionalProperties: false
                      createdAt:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                      updatedAt:
                        type: string
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                    required:
                    - transformId
                    - catalogId
                    - platformCatalogId
                    - name
                    - status
                    - definitionHash
                    - definition
                    - createdAt
                    - updatedAt
                    additionalProperties: false
                required:
                - transform
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/catalogs/{catalogId}/activation-plan/preview:
    post:
      operationId: previewCatalogActivationPlan
      summary: Preview catalog activation plan
      description: Preview or persist the activation plan produced from the current catalog items and a catalog transform.
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Advertiser ID
          type: string
          minLength: 1
        required: true
        description: Advertiser ID
      - in: path
        name: catalogId
        schema:
          description: Buyer-assigned catalog_id or platform catalog id returned by list catalogs
          type: string
          minLength: 1
        required: true
        description: Buyer-assigned catalog_id or platform catalog id returned by list catalogs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                transform:
                  description: Optional ad hoc transform. If omitted, the active catalog transform is used.
                  type: object
                  properties:
                    fields:
                      default: []
                      type: array
                      items:
                        type: object
                        properties:
                          key:
                            description: Derived field key made available to grouping and template rules
                            example: city
                            type: string
                            minLength: 1
                            pattern: ^[A-Za-z][A-Za-z0-9_]*$
                          source:
                            description: Dot-path into the raw catalog item, for example location.city
                            example: location.city
                            type: string
                            minLength: 1
                          template:
                            description: Template using {{field}} placeholders from raw or derived fields
                            example: '{{title}} in {{city}}'
                            type: string
                            minLength: 1
                          default:
                            description: Fallback value when source or template resolves empty
                          transform:
                            description: Optional deterministic value normalization
                            type: string
                            enum:
                            - string
                            - lowercase
                            - uppercase
                            - title_case
                            - slug
                        required:
                        - key
                    campaign:
                      type: object
                      properties:
                        groupBy:
                          description: Field references used to create campaign groups, usually derived fields such as city
                          example:
                          - city
                          minItems: 1
                          type: array
                          items:
                            type: string
                            minLength: 1
                        keyTemplate:
                          description: Optional campaign group key template
                          example: loetje-jobs-{{citySlug}}
                          type: string
                          minLength: 1
                        nameTemplate:
                          description: Human-readable campaign name template
                          example: Loetje hiring - {{city}}
                          type: string
                          minLength: 1
                        budget:
                          oneOf:
                          - type: object
                            properties:
                              mode:
                                type: string
                                enum:
                                - none
                            required:
                            - mode
                          - type: object
                            properties:
                              mode:
                                type: string
                                enum:
                                - fixed
                              amount:
                                type: number
                                minimum: 0
                              currency:
                                default: USD
                                type: string
                                minLength: 3
                                maxLength: 3
                            required:
                            - mode
                            - amount
                          - type: object
                            properties:
                              mode:
                                type: string
                                enum:
                                - per_item
                              amountPerItem:
                                type: number
                                minimum: 0
                              currency:
                                default: USD
                                type: string
                                minLength: 3
                                maxLength: 3
                            required:
                            - mode
                            - amountPerItem
                          - type: object
                            properties:
                              mode:
                                type: string
                                enum:
                                - field_sum
                              field:
                                type: string
                                minLength: 1
                              multiplier:
                                default: 1
                                type: number
                              currency:
                                default: USD
                                type: string
                                minLength: 3
                                maxLength: 3
                            required:
                            - mode
                            - field
                          type: object
                      required:
                      - groupBy
                    creativeAssets:
                      default: []
                      type: array
                      items:
                        type: object
                        properties:
                          keyTemplate:
                            description: Stable creative asset cache key template. Assets with the same key can reuse generated media.
                            example: loetje-chef-{{jobCategorySlug}}
                            type: string
                            minLength: 1
                          promptTemplate:
                            description: Prompt template used by the creative generation path
                            example: Generate a chef working in a Loetje kitchen for a {{jobCategory}} hiring ad
                            type: string
                            minLength: 1
                          groupBy:
                            description: Field references used to fan out unique creative asset prompts
                            example:
                            - jobCategory
                            default: []
                            type: array
                            items:
                              type: string
                              minLength: 1
                        required:
                        - keyTemplate
                        - promptTemplate
                adcpAgentIds:
                  description: Optional seller agents to evaluate for upstream catalog/creative syndication. If omitted, enabled catalog syndication targets are used.
                  default: []
                  type: array
                  items:
                    type: string
                    minLength: 1
                save:
                  description: Persist this activation plan against the latest catalog version. Requires an active saved transform when transform is omitted.
                  default: false
                  type: boolean
      responses:
        '200':
          description: Preview catalog activation plan
          content:
            application/json:
              schema:
                type: object
                properties:
                  plan:
                    type: object
                    properties:
                      planId:
                        type:
                        - string
                        - 'null'
                      catalogId:
                        type: string
                      platformCatalogId:
                        type: string
                      catalogVersionId:
                        type:
                        - string
                        - 'null'
                      transformId:
                        type:
                        - string
                        - 'null'
                      planHash:
                        type: string
                      itemCount:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                      campaignGroups:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                            name:
                              type: string
                            fieldValues:
                              type: object
                              additionalProperties: {}
                            itemIds:
                              type: array
                              items:
                                type: string
                            itemCount:
                              type: integer
                              minimum: 0
                              maximum: 9007199254740991
                            budget:
                              type:
                              - object
                              - 'null'
                              properties:
                                amount:
                                  type: number
                                  minimum: 0
                                currency:
                                  type: string
                                  minLength: 3
                                  maxLength: 3
                              required:
                              - amount
                              - currency
                              additionalProperties: false
                          required:
                          - key
                          - name
                          - fieldValues
                          - itemIds
                          - itemCount
                          - budget
                          additionalProperties: false
                      creativeAssets:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                            prompt:
                              type: string
                            fieldValues:
                              type: object
                              additionalProperties: {}
                            itemIds:
                              type: array
                              items:
                                type: string
                            itemCount:
                              type: integer
                              minimum: 0
                              maximum: 9007199254740991
                          required:
                          - key
                          - prompt
                          - fieldValues
                          - itemIds
                          - itemCount
                          additionalProperties: false
                      syndicationTargets:
                        type: array
                        items:
                          type: object
                          properties:
                            adcpAgentId:
                              type: string
                            shareStatus:
                              type: string
                              enum:
                              - ready
                              - unsupported
                            deliveryMode:
                              type: string
                              enum:
                              - native_catalog
                              - native_creative_catalog
                              - assembled_creative
                              - third_party_creative_agent
                              - unsupported
                            usesTransformedCatalog:
                              type: boolean
                            requiresCreativeAssembly:
                              type: boolean
                            creativeAgentId:
                              type:
                              - string
                              - 'null'
                            reason:
                              type: string
                          required:
                          - adcpAgentId
                          - shareStatus
                          - deliveryMode
                          - usesTransformedCatalog
                          - requiresCreativeAssembly
                          - creativeAgentId
                          - reason
                          additionalProperties: false
                      createdAt:
                        type:
                        - string
                        - 'null'
                        format: date-time
                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                    required:
                    - planId
                    - catalogId
                    - platformCatalogId
                    - catalogVersionId
                    - transformId
                    - planHash
                    - itemCount
                    - campaignGroups
                    - creativeAssets
                    - syndicationTargets
                    - createdAt
                    additionalProperties: false
                required:
                - plan
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/catalogs/{catalogId}/refresh:
    post:
      operationId: refreshCatalog
      summary: Refresh catalog
      description: Fetch the latest URL-backed catalog feed, create a new version when content changes, and optionally execute the active activation plan.
      tags:
      - Advertisers
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Advertiser ID
          type: string
          minLength: 1
        required: true
        description: Advertiser ID
[...]
