openapi: 3.2.0
info:
  title: Scope3 Buyer Creatives API
  version: 2.0.0
  description: 'REST API for advertisers to manage advertisers, campaigns, and reporting.


    ## Authentication


    All endpoints require a Bearer token in the Authorization header:

    ```

    Authorization: Bearer your-api-key

    ```


    ## Base URL


    `https://api.interchange.io/api/v2/buyer`


    ## For AI Agents


    AI agents can use the MCP endpoint at `/mcp/v2/buyer` with three tools:

    - `initialize`: Start an MCP session

    - `api_call`: Make REST API calls

    - `ask_about_capability`: Learn about API features'
servers:
- url: https://api.interchange.io/api/v2/buyer
  description: Production server
tags:
- name: Creatives
  description: Build, manage, and sync campaign creatives via AdCP Creative Protocol
paths:
  /advertisers/{advertiserId}/creative/model-credentials:
    get:
      operationId: listCreativeModelCredentials
      summary: List generation-provider keys for an advertiser
      description: 'List the buyer''s generation-provider keys usable for this advertiser — its assigned keys plus the customer''s all-accounts keys — each carrying a label, assignment, status, a masked key hint (never the raw key), and `effective: true` on the one auto-selected for its provider. Gated behind buyer-creative-v2 and buyer-generative-creative.'
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Unique identifier for the advertiser
          example: '12345'
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the advertiser
      responses:
        '200':
          description: List generation-provider keys for an advertiser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserModelCredentialList'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Feature not enabled for this account (buyer-creative-v2 or buyer-generative-creative is off).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: connectCreativeModelCredential
      summary: Connect a generation-provider key for an advertiser
      description: Store a buyer generation-provider API key assigned to this advertiser so generation runs on the buyer's own account. The raw key is held in the secret manager; only a reference and a masked hint are persisted. Gated behind buyer-creative-v2 and buyer-generative-creative.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Unique identifier for the advertiser
          example: '12345'
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the advertiser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectBuyerModelCredentialBody'
      responses:
        '200':
          description: Connect a generation-provider key for an advertiser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyerModelCredential'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Feature not enabled for this account (buyer-creative-v2 or buyer-generative-creative is off).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /creative/model-credentials/{id}:
    patch:
      operationId: updateCreativeModelCredential
      summary: Update or rotate a generation-provider key
      description: Update a buyer generation-provider credential. Supplying `apiKey` atomically rotates only the stored secret while preserving the credential's label, advertiser assignments, and default status unless those fields are also explicitly changed. Gated behind buyer-creative-v2 and buyer-generative-creative.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: id
        schema:
          type: string
          pattern: ^[1-9]\d*$
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                apiKey:
                  type: string
                  minLength: 1
                label:
                  type: string
                  minLength: 1
                  maxLength: 120
                advertiserIds:
                  type: array
                  items:
                    type: integer
                    maximum: 9007199254740991
                    minimum: 1
                isDefault:
                  type: boolean
      responses:
        '200':
          description: Update or rotate a generation-provider key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyerModelCredential'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Feature not enabled for this account (buyer-creative-v2 or buyer-generative-creative is off).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No active model credential with this id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /creative-dashboard-url:
    get:
      operationId: getCreativeDashboardUrl
      summary: Get creative dashboard URL
      description: Returns a fully-resolved URL to the Interchange creative dashboard scoped to the provided advertiser, campaign, and optionally a specific creative manifest. Pass all three IDs to deep-link directly to a manifest; omit manifestId to land at the campaign level; omit campaignId to land at the advertiser level.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: advertiserId
        schema:
          description: Advertiser ID. Narrows the URL to the advertiser level.
          type: integer
          maximum: 9007199254740991
          minimum: 1
        description: Advertiser ID. Narrows the URL to the advertiser level.
      - in: query
        name: campaignId
        schema:
          description: Campaign ID. Requires advertiserId. Narrows the URL to the campaign level.
          type: string
        description: Campaign ID. Requires advertiserId. Narrows the URL to the campaign level.
      - in: query
        name: manifestId
        schema:
          description: Creative manifest ID. Requires both advertiserId and campaignId. Deep-links to a specific creative.
          type: string
        description: Creative manifest ID. Requires both advertiserId and campaignId. Deep-links to a specific creative.
      responses:
        '200':
          description: Get creative dashboard URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeDashboardUrlResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/creatives/create:
    post:
      operationId: createCreativeManifest
      summary: Create creative manifest
      description: Create a creative manifest with uploaded file assets and optional brief/tag metadata. Multipart form-data request with files and JSON metadata.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          description: Campaign ID
          type: string
          minLength: 1
        required: true
        description: Campaign ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCreativeManifestMetadata'
      responses:
        '201':
          description: Create creative manifest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeManifestResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/creatives/templates:
    get:
      operationId: listCreativeTemplates
      summary: List creative templates
      description: List available creative templates plus the selected products required legacy format IDs and V2 format options for a campaign.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          description: Campaign ID
          type: string
          minLength: 1
        required: true
        description: Campaign ID
      responses:
        '200':
          description: List creative templates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AvailableTemplatesResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/creativeManifest:
    get:
      operationId: listCreativeManifests
      summary: List creative manifests
      description: List creative manifests for a campaign with optional filtering by status, quality, or search term.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: search
        schema:
          description: Search by name
          type: string
          maxLength: 200
        description: Search by name
      - in: query
        name: promoted
        schema:
          description: When "true", return only promoted creative-library items (those with a creative_role of evergreen or reference). Flight-specific creatives are excluded.
          type: string
          enum:
          - 'true'
          - 'false'
        description: When "true", return only promoted creative-library items (those with a creative_role of evergreen or reference). Flight-specific creatives are excluded.
      - in: query
        name: role
        schema:
          description: 'Filter to a single library role: evergreen or reference (the shelf''s two tabs). Implies promoted; narrower than `promoted=true`.'
          allOf:
          - $ref: '#/components/schemas/CreativeRole'
        description: 'Filter to a single library role: evergreen or reference (the shelf''s two tabs). Implies promoted; narrower than `promoted=true`.'
      - in: query
        name: source
        schema:
          description: 'Filter by provenance: uploaded (A), generated (B), or connected (C).'
          allOf:
          - $ref: '#/components/schemas/CreativeSource'
        description: 'Filter by provenance: uploaded (A), generated (B), or connected (C).'
      - in: query
        name: format_kind
        schema:
          description: Filter by AdCP 3.1 canonical format kind (e.g. image_carousel, video_hosted).
          type: string
          minLength: 1
          maxLength: 255
        description: Filter by AdCP 3.1 canonical format kind (e.g. image_carousel, video_hosted).
      - in: query
        name: asset_type
        schema:
          description: Filter to creatives that carry at least one asset of this type.
          type: string
          enum:
          - IMAGE
          - VIDEO
          - AUDIO
          - HTML
          - JAVASCRIPT
          - CSS
          - TEXT
          - URL
          - VAST
          - FONT
          - LOGO
          - DOCUMENT
        description: Filter to creatives that carry at least one asset of this type.
      - in: query
        name: dimensions
        schema:
          description: Filter to creatives with an asset of these pixel dimensions, "WIDTHxHEIGHT" (e.g. "300x250").
          type: string
          pattern: ^\d{1,5}[x×]\d{1,5}$
        description: Filter to creatives with an asset of these pixel dimensions, "WIDTHxHEIGHT" (e.g. "300x250").
      - in: query
        name: take
        schema:
          description: Number of results to return (max 250)
          example: 50
          default: 50
          type: integer
          maximum: 250
          minimum: 1
        description: Number of results to return (max 250)
      - in: query
        name: skip
        schema:
          description: Number of results to skip for pagination
          example: 0
          default: 0
          type: integer
          minimum: 0
          maximum: 9007199254740991
        description: Number of results to skip for pagination
      - in: path
        name: campaignId
        schema:
          description: Campaign ID
          type: string
          minLength: 1
        required: true
        description: Campaign ID
      responses:
        '200':
          description: List creative manifests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeManifestListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/creatives:
    get:
      operationId: listCreatives
      summary: List creatives
      description: List creative manifest summaries for a campaign, with optional text search and pagination. Returns the same summary rows as the manifest list.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: search
        schema:
          description: Creative name substring search.
          type: string
        description: Creative name substring search.
      - in: query
        name: take
        schema:
          type: integer
          maximum: 9007199254740991
          minimum: 1
      - in: query
        name: skip
        schema:
          type: integer
          minimum: 0
          maximum: 9007199254740991
      - in: path
        name: campaignId
        schema:
          description: Campaign ID
          type: string
          minLength: 1
        required: true
        description: Campaign ID
      responses:
        '200':
          description: List creatives
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeManifestListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/creatives/bulk-update:
    post:
      operationId: bulkUpdateCreatives
      summary: Bulk update creatives
      description: Preview or apply a bulk update to saved campaign creatives. Defaults to dry_run=true so the buyer can confirm the matched set before applying changes.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          description: Campaign ID
          type: string
          minLength: 1
        required: true
        description: Campaign ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkUpdateCreativesBody'
      responses:
        '200':
          description: Bulk update creatives
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkUpdateCreativesResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/creatives/create:
    post:
      operationId: createAdvertiserCreative
      summary: Create advertiser creative master
      description: Create a creative manifest scoped to an advertiser without requiring a campaign. The resulting master can be assigned to one or more campaigns.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Advertiser ID
          type: string
          minLength: 1
        required: true
        description: Advertiser ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCreativeManifestMetadata'
      responses:
        '200':
          description: Create advertiser creative master
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeManifestResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/creatives:
    get:
      operationId: listAdvertiserCreatives
      summary: List advertiser creative library
      description: List all creative manifests belonging to an advertiser, independent of campaign.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: search
        schema:
          description: Search by name
          type: string
          maxLength: 200
        description: Search by name
      - in: query
        name: promoted
        schema:
          description: When "true", return only promoted creative-library items (those with a creative_role of evergreen or reference). Flight-specific creatives are excluded.
          type: string
          enum:
          - 'true'
          - 'false'
        description: When "true", return only promoted creative-library items (those with a creative_role of evergreen or reference). Flight-specific creatives are excluded.
      - in: query
        name: role
        schema:
          description: 'Filter to a single library role: evergreen or reference (the shelf''s two tabs). Implies promoted; narrower than `promoted=true`.'
          allOf:
          - $ref: '#/components/schemas/CreativeRole'
        description: 'Filter to a single library role: evergreen or reference (the shelf''s two tabs). Implies promoted; narrower than `promoted=true`.'
      - in: query
        name: source
        schema:
          description: 'Filter by provenance: uploaded (A), generated (B), or connected (C).'
          allOf:
          - $ref: '#/components/schemas/CreativeSource'
        description: 'Filter by provenance: uploaded (A), generated (B), or connected (C).'
      - in: query
        name: format_kind
        schema:
          description: Filter by AdCP 3.1 canonical format kind (e.g. image_carousel, video_hosted).
          type: string
          minLength: 1
          maxLength: 255
        description: Filter by AdCP 3.1 canonical format kind (e.g. image_carousel, video_hosted).
      - in: query
        name: asset_type
        schema:
          description: Filter to creatives that carry at least one asset of this type.
          type: string
          enum:
          - IMAGE
          - VIDEO
          - AUDIO
          - HTML
          - JAVASCRIPT
          - CSS
          - TEXT
          - URL
          - VAST
          - FONT
          - LOGO
          - DOCUMENT
        description: Filter to creatives that carry at least one asset of this type.
      - in: query
        name: dimensions
        schema:
          description: Filter to creatives with an asset of these pixel dimensions, "WIDTHxHEIGHT" (e.g. "300x250").
          type: string
          pattern: ^\d{1,5}[x×]\d{1,5}$
        description: Filter to creatives with an asset of these pixel dimensions, "WIDTHxHEIGHT" (e.g. "300x250").
      - in: query
        name: take
        schema:
          description: Number of results to return (max 250)
          example: 50
          default: 50
          type: integer
          maximum: 250
          minimum: 1
        description: Number of results to return (max 250)
      - in: query
        name: skip
        schema:
          description: Number of results to skip for pagination
          example: 0
          default: 0
          type: integer
          minimum: 0
          maximum: 9007199254740991
        description: Number of results to skip for pagination
      - in: path
        name: advertiserId
        schema:
          description: Advertiser ID
          type: string
          minLength: 1
        required: true
        description: Advertiser ID
      responses:
        '200':
          description: List advertiser creative library
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeManifestListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/creatives/save-to-library:
    post:
      operationId: saveCreativesToLibrary
      summary: Promote advertiser creatives into the library shelf
      description: Buyer-creative-v2 (feature-flagged). Promotes advertiser creatives into the durable creative library ("the shelf") with a role — `evergreen` (serve-ready, reusable across campaigns) or `reference` (a generation input, not served). Identify the creatives by `creative_ids` or by `collection_id`. No campaign is required. Returns 404 for callers not enrolled in the flag.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Advertiser ID
          type: string
          minLength: 1
        required: true
        description: Advertiser ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SaveCreativesToLibraryBody'
      responses:
        '200':
          description: Promote advertiser creatives into the library shelf
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SaveCreativesToLibraryResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /creatives/stash:
    post:
      operationId: stashBroughtCreatives
      summary: Stash brought creatives before an advertiser is chosen
      description: Buyer-creative-v2 (feature-flagged). Persists uploaded creatives customer-scoped BEFORE an advertiser is named, so the upload survives across turns. Returns the saved creatives (with ids) in the same shape as the creative-intent picker; pass those ids to getCreativeIntent as `creative_ids` once the advertiser is known. Returns 404 for callers not enrolled in the flag.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  minItems: 1
                  maxItems: 50
                  type: array
                  items:
                    type: object
                    properties:
                      data_url:
                        type: string
                        maxLength: 73400320
                      asset_type:
                        type: string
                        enum:
                        - IMAGE
                        - VIDEO
                        - AUDIO
                        - HTML
                        - VAST
                      name:
                        type: string
                      declared_sizes:
                        maxItems: 30
                        type: array
                        items:
                          type: object
                          properties:
                            width:
                              type: integer
                              maximum: 9007199254740991
                              minimum: 1
                            height:
                              type: integer
                              maximum: 9007199254740991
                              minimum: 1
                          required:
                          - width
                          - height
                    required:
                    - data_url
              required:
              - assets
      responses:
        '200':
          description: Stash brought creatives before an advertiser is chosen
          content:
            application/json:
              schema:
                type: object
                properties:
                  advertiser_name:
                    type: string
                  advertisers:
                    type: array
                    items:
                      type: object
                      properties:
                        advertiser_id:
                          type: string
                        name:
                          type: string
                      required:
                      - advertiser_id
                      - name
                      additionalProperties: false
                  selected_advertiser_id:
                    type: string
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        file_id:
                          type: string
                        filename:
                          type: string
                        media_kind:
                          type: string
                          enum:
                          - image
                          - video
                          - audio
                          - tag
                        preview_url:
                          type: string
                      required:
                      - file_id
                      - filename
                      - media_kind
                      additionalProperties: false
                  recent_campaigns:
                    type: array
                    items:
                      type: object
                      properties:
                        campaign_id:
                          type: string
                        name:
                          type: string
                        created_label:
                          type: string
                      required:
                      - campaign_id
                      - name
                      additionalProperties: false
                  saved_as:
                    type: string
                  collection_id:
                    type: string
                  skipped_files_notice:
                    type: string
                  skipped_files:
                    type: array
                    items:
                      type: string
                required:
                - files
                - recent_campaigns
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/creative-intent:
    post:
      operationId: getCreativeIntent
      summary: Open the creative-intent picker for an advertiser
      description: Buyer-creative-v2 (feature-flagged). Opens the in-chat "which campaign are these for?" picker. When `assets` are supplied (the buyer's upload), they are persisted as advertiser-level creatives up front — so they survive until a campaign is picked in a later turn — and returned in `files` with their ids. Returns the advertiser, its recent campaigns, and the saved creatives. Returns 404 for callers not enrolled in the flag.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  minItems: 1
                  maxItems: 50
                  type: array
                  items:
                    type: object
                    properties:
                      data_url:
                        type: string
                        maxLength: 73400320
                      asset_type:
                        type: string
                        enum:
                        - IMAGE
                        - VIDEO
                        - AUDIO
                        - HTML
                        - VAST
                      name:
                        type: string
                      declared_sizes:
                        maxItems: 30
                        type: array
                        items:
                          type: object
                          properties:
                            width:
                              type: integer
                              maximum: 9007199254740991
                              minimum: 1
                            height:
                              type: integer
                              maximum: 9007199254740991
                              minimum: 1
                          required:
                          - width
                          - height
                    required:
                    - data_url
                creative_ids:
                  minItems: 1
                  maxItems: 50
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Open the creative-intent picker for an advertiser
          content:
            application/json:
              schema:
                type: object
                properties:
                  advertiser_name:
                    type: string
                  advertisers:
                    type: array
                    items:
                      type: object
                      properties:
                        advertiser_id:
                          type: string
                        name:
                          type: string
                      required:
                      - advertiser_id
                      - name
                      additionalProperties: false
                  selected_advertiser_id:
                    type: string
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        file_id:
                          type: string
                        filename:
                          type: string
                        media_kind:
                          type: string
                          enum:
                          - image
                          - video
                          - audio
                          - tag
                        preview_url:
                          type: string
                      required:
                      - file_id
                      - filename
                      - media_kind
                      additionalProperties: false
                  recent_campaigns:
                    type: array
                    items:
                      type: object
                      properties:
                        campaign_id:
                          type: string
                        name:
                          type: string
                        created_label:
                          type: string
                      required:
                      - campaign_id
                      - name
                      additionalProperties: false
                  saved_as:
                    type: string
                  collection_id:
                    type: string
                  skipped_files_notice:
                    type: string
                  skipped_files:
                    type: array
                    items:
                      type: string
                required:
                - files
                - recent_campaigns
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/creative-confirmation:
    get:
      operationId: getCreativeConfirmation
      summary: Get creative-confirmation card for a campaign
      description: Buyer-creative-v2 (feature-flagged). Returns the campaign's creatives with recognized status plus real format coverage, for the in-chat "here's what I added" card. Read-only — does not attach anything. Returns 404 for callers not enrolled in the flag.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          type: string
        required: true
      responses:
        '200':
          description: Get creative-confirmation card for a campaign
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaign_id:
                    type: string
                  campaign_name:
                    type: string
                  coverage:
                    type: object
                    properties:
                      total_placements:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      covered_placements:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                    required:
                    - total_placements
                    - covered_placements
                    additionalProperties: false
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        file_id:
                          type: string
                        filename:
                          type: string
                        media_kind:
                          type: string
                          enum:
                          - image
                          - video
                          - audio
                          - tag
                        status:
                          type: string
                          enum:
                          - recognizing
                          - recognized
                          - mapped
                          - needs_input
                          - misfit
                          - malformed
                        detected:
                          type: object
                          properties:
                            dimensions:
                              type: string
                            duration:
                              type: string
                            codec:
                              type: string
                            bitrate:
                              type: string
                            frameRate:
                              type: string
                            sampleRate:
                              type: string
                            container:
                              type: string
                            fileSize:
                              type: string
                            tagType:
                              type: string
                          additionalProperties: false
                        suggestion:
                          type: string
                        format_incompatible:
                          type: string
                        preview_url:
                          type: string
                        message:
                          type: string
                        suggestions:
                          type: array
                          items:
                            type: string
                        accepts_context:
                          type: boolean
                        placements:
                          type: array
                          items:
                            type: object
                            properties:
                              placement_id:
                                type: string
                              placement_name:
                                type: string
                              product_name:
                                type: string
                            required:
                            - placement_id
                            - placement_name
                            additionalProperties: false
                      required:
                      - file_id
                      - filename
                      - media_kind
                      - status
                      - detected
                      additionalProperties: false
                  missing_placements:
                    type: array
                    items:
                      type: object
                      properties:
                        placement_id:
                          type: string
                        placement_name:
                          type: string
                        spec_label:
                          type: string
                        product_name:
                          type: string
                      required:
                      - placement_id
                      - placement_name
                      additionalProperties: false
                  available_placements:
                    type: array
                    items:
                      type: object
                      properties:
                        placement_id:
                          type: string
                        placement_name:
                          type: string
                        spec_label:
                          type: string
                        product_name:
                          type: string
                      required:
                      - placement_id
                      - placement_name
                      additionalProperties: false
                  truncated:
                    type: boolean
                  unreadable_placements:
                    type: integer
                    maximum: 9007199254740991
                    minimum: 1
                  skipped_files_notice:
                    type: string
                  skipped_files:
                    type: array
                    items:
                      type: string
                required:
                - coverage
                - files
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: attachCreativesToCampaign
      summary: Attach brought creatives to a campaign
      description: 'Buyer-creative-v2 (feature-flagged). Two paths, then returns the same confirmation card: `assets` creates a creative on the campaign from each upload (same-turn); `creative_ids` assigns advertiser-level masters saved earlier at intent time (cross-turn). Either way images auto-map by size to a required placement. Returns 404 for callers not enrolled in the flag.'
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assets:
                  minItems: 1
                  maxItems: 50
                  type: array
                  items:
                    type: object
                    properties:
                      data_url:
                        type: string
                        maxLength: 73400320
                      asset_type:
                        type: string
                        enum:
                        - IMAGE
                        - VIDEO
                        - AUDIO
                        - HTML
                        - VAST
                      name:
                        type: string
                      declared_sizes:
                        maxItems: 30
                        type: array
                        items:
                          type: object
                          properties:
                            width:
                              type: integer
                              maximum: 9007199254740991
                              minimum: 1
                            height:
                              type: integer
                              maximum: 9007199254740991
                              minimum: 1
                          required:
                          - width
                          - height
                    required:
                    - data_url
                creative_ids:
                  minItems: 1
                  maxItems: 50
                  type: array
                  items:
                    type: string
                collection_id:
                  type: string
      responses:
        '200':
          description: Attach brought creatives to a campaign
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaign_id:
                    type: string
                  campaign_name:
                    type: string
                  coverage:
                    type: object
                    properties:
                      total_placements:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      covered_placements:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                    required:
                    - total_placements
                    - covered_placements
                    additionalProperties: false
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        file_id:
                          type: string
                        filename:
                          type: string
                        media_kind:
                          type: string
                          enum:
                          - image
                          - video
                          - audio
                          - tag
                        status:
                          type: string
                          enum:
                          - recognizing
                          - recognized
                          - mapped
                          - needs_input
                          - misfit
                          - malformed
                        detected:
                          type: object
                          properties:
                            dimensions:
                              type: string
                            duration:
                              type: string
                            codec:
                              type: string
                            bitrate:
                              type: string
                            frameRate:
                              type: string
                            sampleRate:
                              type: string
                            container:
                              type: string
                            fileSize:
                              type: string
                            tagType:
                              type: string
                          additionalProperties: false
                        suggestion:
                          type: string
                        format_incompatible:
                          type: string
                        preview_url:
                          type: string
                        message:
                          type: string
                        suggestions:
                          type: array
                          items:
                            type: string
                        accepts_context:
                          type: boolean
                        placements:
                          type: array
                          items:
                            type: object
                            properties:
                              placement_id:
                                type: string
                              placement_name:
                                type: string
                              product_name:
                                type: string
                            required:
                            - placement_id
                            - placement_name
                            additionalProperties: false
                      required:
                      - file_id
                      - filename
                      - media_kind
                      - status
                      - detected
                      additionalProperties: false
                  missing_placements:
                    type: array
                    items:
                      type: object
                      properties:
                        placement_id:
                          type: string
                        placement_name:
                          type: string
                        spec_label:
                          type: string
                        product_name:
                          type: string
                      required:
                      - placement_id
                      - placement_name
                      additionalProperties: false
                  available_placements:
                    type: array
                    items:
                      type: object
                      properties:
                        placement_id:
                          type: string
                        placement_name:
                          type: string
                        spec_label:
                          type: string
                        product_name:
                          type: string
                      required:
                      - placement_id
                      - placement_name
                      additionalProperties: false
                  truncated:
                    type: boolean
                  unreadable_placements:
                    type: integer
                    maximum: 9007199254740991
                    minimum: 1
                  skipped_files_notice:
                    type: string
                  skipped_files:
                    type: array
                    items:
                      type: string
                required:
                - coverage
                - files
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/creatives/{creativeId}/placement:
    post:
      operationId: remapCreativePlacement
      summary: Reassign a brought creative to a different placement
      description: Buyer-creative-v2 (feature-flagged). Reassigns an already-attached creative to a different required placement (the "correction" step, e.g. "move the 300×250 to the leaderboard"), then returns the refreshed confirmation card. `format_id` is the target placement, resolved from the campaign's required formats. Returns 404 for callers not enrolled in the flag.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          type: string
        required: true
      - in: path
        name: creativeId
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                format_id:
                  type: object
                  properties:
                    agent_url:
                      type: string
                      minLength: 1
                    id:
                      type: string
                      minLength: 1
                  required:
                  - agent_url
                  - id
              required:
              - format_id
      responses:
        '200':
          description: Reassign a brought creative to a different placement
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaign_id:
                    type: string
                  campaign_name:
                    type: string
                  coverage:
                    type: object
                    properties:
                      total_placements:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      covered_placements:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                    required:
                    - total_placements
                    - covered_placements
                    additionalProperties: false
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        file_id:
                          type: string
                        filename:
                          type: string
                        media_kind:
                          type: string
                          enum:
                          - image
                          - video
                          - audio
                          - tag
                        status:
                          type: string
                          enum:
                          - recognizing
                          - recognized
                          - mapped
                          - needs_input
                          - misfit
                          - malformed
                        detected:
                          type: object
                          properties:
                            dimensions:
                              type: string
                            duration:
                              type: string
                            codec:
                              type: string
                            bitrate:
                              type: string
                            frameRate:
                              type: string
                            sampleRate:
                              type: string
                            container:
                              type: string
                            fileSize:
                              type: string
                            tagType:
                              type: string
                          additionalProperties: false
                        suggestion:
                          type: string
                        format_incompatible:
                          type: string
                        preview_url:
                          type: string
                        message:
                          type: string
                        suggestions:
                          type: array
                          items:
                            type: string
                        accepts_context:
                          type: boolean
                        placements:
                          type: array
                          items:
                            type: object
                            properties:
                              placement_id:
                                type: string
                              placement_name:
                                type: string
                              product_name:
                                type: string
                            required:
                            - placement_id
                            - placement_name
                            additionalProperties: false
                      required:
                      - file_id
                      - filename
                      - media_kind
                      - status
                      - detected
                      additionalProperties: false
                  missing_placements:
                    type: array
                    items:
                      type: object
                      properties:
                        placement_id:
                          type: string
                        placement_name:
                          type: string
                        spec_label:
                          type: string
                        product_name:
                          type: string
                      required:
                      - placement_id
                      - placement_name
                      additionalProperties: false
                  available_placements:
                    type: array
                    items:
                      type: object
                      properties:
                        placement_id:
                          type: string
                        placement_name:
                          type: string
                        spec_label:
                          type: string
                        product_name:
                          type: string
                      required:
                      - placement_id
                      - placement_name
                      additionalProperties: false
                  truncated:
                    type: boolean
                  unreadable_placements:
                    type: integer
                    maximum: 9007199254740991
                    minimum: 1
                  skipped_files_notice:
                    type: string
                  skipped_files:
                    type: array
                    items:
                      type: string
                required:
                - coverage
                - files
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/creatives/placements:
    post:
      operationId: remapCreativePlacements
      summary: Batch-reassign brought creatives to placements
      description: Buyer-creative-v2 (feature-flagged). Reassigns several already-attached creatives to placements in one call (the card's "Save mappings" commit), then returns the refreshed confirmation card once. `mappings` is `[{ creative_id, format_id }]`. Returns 404 for callers not enrolled in the flag.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          type: string
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                mappings:
                  minItems: 1
                  maxItems: 50
                  type: array
                  items:
                    type: object
                    properties:
                      creative_id:
                        type: string
                        minLength: 1
                      format_ids:
                        minItems: 1
                        maxItems: 50
                        type: array
                        items:
                          type: object
                          properties:
                            agent_url:
                              type: string
                              minLength: 1
                            id:
                              type: string
                              minLength: 1
                          required:
                          - agent_url
                          - id
                    required:
                    - creative_id
                    - format_ids
              required:
              - mappings
      responses:
        '200':
          description: Batch-reassign brought creatives to placements
          content:
            application/json:
              schema:
                type: object
                properties:
                  campaign_id:
                    type: string
                  campaign_name:
                    type: string
                  coverage:
                    type: object
                    properties:
                      total_placements:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                      covered_placements:
                        type: integer
                        minimum: -9007199254740991
                        maximum: 9007199254740991
                    required:
                    - total_placements
                    - covered_placements
                    additionalProperties: false
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        file_id:
                          type: string
                        filename:
                          type: string
                        media_kind:
                          type: string
                          enum:
                          - image
                          - video
                          - audio
                          - tag
                        status:
                          type: string
                          enum:
                          - recognizing
                          - recognized
                          - mapped
                          - needs_input
                          - misfit
                          - malformed
                        detected:
                          type: object
                          properties:
                            dimensions:
                              type: string
                            duration:
                              type: string
                            codec:
                              type: string
                            bitrate:
                              type: string
                            frameRate:
                              type: string
                            sampleRate:
                              type: string
                            container:
                              type: string
                            fileSize:
                              type: string
                            tagType:
                              type: string
                          additionalProperties: false
                        suggestion:
                          type: string
                        format_incompatible:
                          type: string
                        preview_url:
                          type: string
                        message:
                          type: string
                        suggestions:
                          type: array
                          items:
                            type: string
                        accepts_context:
                          type: boolean
                        placements:
                          type: array
                          items:
                            type: object
                            properties:
                              placement_id:
                                type: string
                              placement_name:
                                type: string
                              product_name:
                                type: string
                            required:
                            - placement_id
                            - placement_name
                            additionalProperties: false
                      required:
                      - file_id
                      - filename
                      - media_kind
                      - status
                      - detected
                      additionalProperties: false
                  missing_placements:
                    type: array
                    items:
                      type: object
                      properties:
                        placement_id:
                          type: string
                        placement_name:
                          type: string
                        spec_label:
                          type: string
                        product_name:
                          type: string
                      required:
                      - placement_id
                      - placement_name
                      additionalProperties: false
                  available_placements:
                    type: array
                    items:
                      type: object
                      properties:
                        placement_id:
                          type: string
                        placement_name:
                          type: string
                        spec_label:
                          type: string
                        product_name:
                          type: string
                      required:
                      - placement_id
                      - placement_name
                      additionalProperties: false
                  truncated:
                    type: boolean
                  unreadable_placements:
                    type: integer
                    maximum: 9007199254740991
                    minimum: 1
                  skipped_files_notice:
                    type: string
                  skipped_files:
                    type: array
                    items:
                      type: string
                required:
                - coverage
                - files
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/creatives/{creativeId}/campaigns:
    post:
      operationId: assignCreativeToCampaign
      summary: Assign creative to campaign
      description: Assign an advertiser-library creative to a campaign.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Advertiser ID
          type: string
          minLength: 1
        required: true
        description: Advertiser ID
      - in: path
        name: creativeId
        schema:
          description: Creative manifest ID
          type: string
          minLength: 1
        required: true
        description: Creative manifest ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignCreativeToCampaignBody'
      responses:
        '200':
          description: Assign creative to campaign
          content:
            application/json:
              schema:
                type: object
                properties:
                  manifest_id:
                    type: string
                  campaign_id:
                    type: string
                required:
                - manifest_id
                - campaign_id
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/creatives/{creativeId}/campaigns/{campaignId}:
    delete:
      operationId: unassignCreativeFromCampaign
      summary: Unassign creative from campaign
      description: Remove a creative from a campaign assignment.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Advertiser ID
          type: string
          minLength: 1
        required: true
        description: Advertiser ID
      - in: path
        name: creativeId
        schema:
          description: Creative manifest ID
          type: string
          minLength: 1
        required: true
        description: Creative manifest ID
      - in: path
        name: campaignId
        schema:
          description: Campaign ID
          type: string
          minLength: 1
        required: true
        description: Campaign ID
      responses:
        '204':
          description: No content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/creatives/{creativeId}:
    delete:
      operationId: archiveCreative
      summary: Archive creative globally
      description: Permanently archive a creative across all campaigns. Checks for active/paused media buys in all campaigns before archiving, removes all campaign memberships, and archives the manifest and its assets.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          description: Advertiser ID
          type: string
          minLength: 1
        required: true
        description: Advertiser ID
      - in: path
        name: creativeId
        schema:
          description: Creative manifest ID
          type: string
          minLength: 1
        required: true
        description: Creative manifest ID
      responses:
        '204':
          description: No content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No creative with this id owned by the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/creative-collections:
    get:
      operationId: listCreativeCollections
      summary: List creative collections
      description: List creative collections attached to or created for a campaign. Collections group saved creatives and raw/generated assets for prompt-driven creative workflows.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: search
        schema:
          type: string
          minLength: 1
          maxLength: 200
      - in: query
        name: include_members
        schema:
          type: boolean
      - in: query
        name: take
        schema:
          description: Number of results to return (max 250)
          example: 50
          default: 50
          type: integer
          maximum: 250
          minimum: 1
        description: Number of results to return (max 250)
      - in: query
        name: skip
        schema:
          description: Number of results to skip for pagination
          example: 0
          default: 0
          type: integer
          minimum: 0
          maximum: 9007199254740991
        description: Number of results to skip for pagination
      - in: path
        name: campaignId
        schema:
          type: string
          minLength: 1
        required: true
      responses:
        '200':
          description: List creative collections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCreativeCollectionsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createCreativeCollection
      summary: Create creative collection
      description: Create a creative collection of saved creatives and assets, optionally attaching it to the campaign.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          type: string
          minLength: 1
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCreativeCollectionBody'
      responses:
        '201':
          description: Create creative collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeCollectionMutationResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/creative-collections/{collectionId}:
    get:
      operationId: getCreativeCollection
      summary: Get creative collection
      description: Get a creative collection with members, campaign attachments, and saved creative summaries.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          type: string
          minLength: 1
        required: true
      - in: path
        name: collectionId
        schema:
          type: string
          minLength: 1
        required: true
      responses:
        '200':
          description: Get creative collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeCollectionSummary'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateCreativeCollection
      summary: Update creative collection
      description: Update creative collection name, description, or metadata.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          type: string
          minLength: 1
        required: true
      - in: path
        name: collectionId
        schema:
          type: string
          minLength: 1
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCreativeCollectionBody'
      responses:
        '200':
          description: Update creative collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeCollectionMutationResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/creative-collections/{collectionId}/members:
    post:
      operationId: addCreativeCollectionMembers
      summary: Add creative collection members
      description: Add saved creative IDs or raw/generated asset IDs to a creative collection.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          type: string
          minLength: 1
        required: true
      - in: path
        name: collectionId
        schema:
          type: string
          minLength: 1
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddCreativeCollectionMembersBody'
      responses:
        '200':
          description: Add creative collection members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeCollectionMutationResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: removeCreativeCollectionMembers
      summary: Remove creative collection members
      description: Remove saved creatives or assets from a creative collection.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          type: string
          minLength: 1
        required: true
      - in: path
        name: collectionId
        schema:
          type: string
          minLength: 1
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveCreativeCollectionMembersBody'
      responses:
        '200':
          description: Remove creative collection members
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeCollectionMutationResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/creative-collections/{collectionId}/attach:
    post:
      operationId: attachCreativeCollectionToCampaign
      summary: Attach creative collection to campaign
      description: Attach a creative collection to the campaign as a library, source asset set, approved set, or testing set.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          type: string
          minLength: 1
        required: true
      - in: path
        name: collectionId
        schema:
          type: string
          minLength: 1
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachCreativeCollectionBody'
      responses:
        '200':
          description: Attach creative collection to campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeCollectionMutationResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/creative-collections:
    get:
      operationId: listAdvertiserCreativeCollections
      summary: List advertiser creative collections
      description: List creative collections owned by an advertiser. These collections are not campaign-scoped and can be attached to multiple campaigns.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: search
        schema:
          type: string
          minLength: 1
          maxLength: 200
      - in: query
        name: include_members
        schema:
          type: boolean
      - in: query
        name: take
        schema:
          description: Number of results to return (max 250)
          example: 50
          default: 50
          type: integer
          maximum: 250
          minimum: 1
        description: Number of results to return (max 250)
      - in: query
        name: skip
        schema:
          description: Number of results to skip for pagination
          example: 0
          default: 0
          type: integer
          minimum: 0
          maximum: 9007199254740991
        description: Number of results to skip for pagination
      - in: path
        name: advertiserId
        schema:
          type: string
          pattern: ^\d+$
        required: true
      responses:
        '200':
          description: List advertiser creative collections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCreativeCollectionsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createAdvertiserCreativeCollection
      summary: Create advertiser creative collection
      description: Create a creative collection owned by an advertiser (not campaign-scoped). The collection can be attached to multiple campaigns via the attach endpoint.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: advertiserId
        schema:
          type: string
          pattern: ^\d+$
        required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCreativeCollectionBody'
      responses:
        '201':
          description: Create advertiser creative collection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeCollectionMutationResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/creatives/{creativeId}:
    get:
      operationId: getCreativeManifest
      summary: Get creative manifest
      description: Get a single creative manifest by ID within a campaign.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          description: Campaign ID
          type: string
          minLength: 1
        required: true
        description: Campaign ID
      - in: path
        name: creativeId
        schema:
          description: Creative manifest ID
          type: string
          minLength: 1
        required: true
        description: Creative manifest ID
      responses:
        '200':
          description: Get creative manifest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeManifestResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateCreativeManifest
      summary: Update creative manifest
      description: Update creative manifest fields such as name, brief message, tag, quality, status, or manage assets (add, delete, reclassify). Multipart form-data request.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          description: Campaign ID
          type: string
          minLength: 1
        required: true
        description: Campaign ID
      - in: path
        name: creativeId
        schema:
          description: Creative manifest ID
          type: string
          minLength: 1
        required: true
        description: Creative manifest ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCreativeManifestMetadata'
      responses:
        '200':
          description: Update creative manifest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeManifestResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteCreativeManifest
      summary: Delete creative manifest
      description: Delete a creative manifest and all its assets from a campaign.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          description: Campaign ID
          type: string
          minLength: 1
        required: true
        description: Campaign ID
      - in: path
        name: creativeId
        schema:
          description: Creative manifest ID
          type: string
          minLength: 1
        required: true
        description: Creative manifest ID
      responses:
        '204':
          description: No content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/creatives/{creativeId}/preview:
    post:
      operationId: previewCreative
      summary: Preview creative
      description: Render a preview of a creative manifest via its format renderer. The creative must have a `format_id` and be published (assets uploaded) — otherwise the request fails with a validation error.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          description: Campaign ID
          type: string
          minLength: 1
        required: true
        description: Campaign ID
      - in: path
        name: creativeId
        schema:
          description: Creative manifest ID
          type: string
          minLength: 1
        required: true
        description: Creative manifest ID
      responses:
        '200':
          description: Preview creative
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativePreviewResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/creatives/{creativeId}/duplicate:
    post:
      operationId: duplicateCreative
      summary: Duplicate creative
      description: Create a copy of an existing creative manifest (including its assets) within the same campaign. Returns the new manifest.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          description: Campaign ID
          type: string
          minLength: 1
        required: true
        description: Campaign ID
      - in: path
        name: creativeId
        schema:
          description: Creative manifest ID
          type: string
          minLength: 1
        required: true
        description: Creative manifest ID
      responses:
        '201':
          description: Duplicate creative
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeManifestResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/creative-sessions/{sessionId}:
    get:
      operationId: getCreativeSession
      summary: Get creative session
      description: Get a creative iteration session by ID, including its drafts, evaluator results, and current status.
      tags:
      - Creatives
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: campaignId
        schema:
          type: string
          minLength: 1
        required: true
      - in: path
        name: sessionId
        schema:
          type: string
          minLength: 1
        required: true
      responses:
        '200':
          description: Get creative session
          content:
            application/json:
              schema:
                type: object
                properties:
                  creative_session_id:
                    type: string
[...]
