openapi: 3.2.0
info:
  title: Scope3 Buyer Campaigns API
  version: 2.0.0
  description: 'REST API for advertisers to manage advertisers, campaigns, and reporting.


    ## Authentication


    All endpoints require a Bearer token in the Authorization header:

    ```

    Authorization: Bearer your-api-key

    ```


    ## Base URL


    `https://api.interchange.io/api/v2/buyer`


    ## For AI Agents


    AI agents can use the MCP endpoint at `/mcp/v2/buyer` with three tools:

    - `initialize`: Start an MCP session

    - `api_call`: Make REST API calls

    - `ask_about_capability`: Learn about API features'
servers:
- url: https://api.interchange.io/api/v2/buyer
  description: Production server
tags:
- name: Campaigns
  description: Manage advertising campaigns
paths:
  /campaigns:
    get:
      operationId: listCampaigns
      summary: List campaigns
      description: List campaigns with optional filtering by advertiser and status.
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: advertiserId
        schema:
          description: Filter by advertiser ID
          example: '12345'
          type: string
          pattern: ^\d+$
        description: Filter by advertiser ID
      - in: query
        name: name
        schema:
          description: Filter by campaign name (case-insensitive, partial match)
          example: Summer
          type: string
        description: Filter by campaign name (case-insensitive, partial match)
      - in: query
        name: status
        schema:
          description: Filter by campaign status. Accepts a single value or repeated values; pass "ALL" to include every status. Defaults to the non-terminal statuses (ACTIVE, DRAFT, PAUSED) — every campaign that could still spend. Completed, canceled, and archived campaigns require an explicit status filter (or "ALL").
          example: ACTIVE
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/CampaignStatusListFilter'
          - allOf:
            - $ref: '#/components/schemas/CampaignStatusListFilter'
        description: Filter by campaign status. Accepts a single value or repeated values; pass "ALL" to include every status. Defaults to the non-terminal statuses (ACTIVE, DRAFT, PAUSED) — every campaign that could still spend. Completed, canceled, and archived campaigns require an explicit status filter (or "ALL").
      - in: query
        name: mode
        schema:
          description: Filter by campaign mode. Accepts a single mode (`?mode=directed`) or repeated values (`?mode=discovery&mode=performance`).
          example: directed
          anyOf:
          - type: array
            items:
              $ref: '#/components/schemas/CampaignMode'
          - allOf:
            - $ref: '#/components/schemas/CampaignMode'
        description: Filter by campaign mode. Accepts a single mode (`?mode=directed`) or repeated values (`?mode=discovery&mode=performance`).
      - in: query
        name: management
        schema:
          description: 'Filter by management state: "tracked" (campaigns the platform did not set up, mirrored from connected seller accounts), "managed" (campaigns authored or adopted through the platform), or "all" (both — the default). The default status lens (non-terminal: ACTIVE, DRAFT, PAUSED) is what keeps mirrored history out of the ambient list; browse tracked scale through the connected-account relationship rollup.'
          example: managed
          default: all
          allOf:
          - $ref: '#/components/schemas/CampaignManagementFilter'
        description: 'Filter by management state: "tracked" (campaigns the platform did not set up, mirrored from connected seller accounts), "managed" (campaigns authored or adopted through the platform), or "all" (both — the default). The default status lens (non-terminal: ACTIVE, DRAFT, PAUSED) is what keeps mirrored history out of the ambient list; browse tracked scale through the connected-account relationship rollup.'
      - in: query
        name: mediaBuyStatus
        schema:
          description: Filter to only campaigns that have at least one media buy matching any of the given statuses
          anyOf:
          - type: array
            items:
              type: string
              enum:
              - DRAFT
              - PENDING_APPROVAL
              - INPUT_REQUIRED
              - ACTIVE
              - PAUSED
              - COMPLETED
              - CANCELED
              - FAILED
              - REJECTED
              - ARCHIVED
          - type: string
            enum:
            - DRAFT
            - PENDING_APPROVAL
            - INPUT_REQUIRED
            - ACTIVE
            - PAUSED
            - COMPLETED
            - CANCELED
            - FAILED
            - REJECTED
            - ARCHIVED
        description: Filter to only campaigns that have at least one media buy matching any of the given statuses
      - in: query
        name: includeArchived
        schema:
          description: 'Include archived (soft-deleted) campaigns in the response (default: false). Implicitly treated as true when the status filter contains ''ARCHIVED''.'
          type: string
          enum:
          - 'true'
          - 'false'
        description: 'Include archived (soft-deleted) campaigns in the response (default: false). Implicitly treated as true when the status filter contains ''ARCHIVED''.'
      - in: query
        name: fields
        schema:
          description: Optional response enrichment fields. Pass geo_metro_names to include display labels for geo_metros from the local label table.
          example: geo_metro_names
          anyOf:
          - type: string
          - type: array
            items:
              type: string
        description: Optional response enrichment fields. Pass geo_metro_names to include display labels for geo_metros from the local label table.
      - in: query
        name: cursor
        schema:
          description: Opaque pagination cursor returned by the previous response. When provided, skip is derived from the cursor and any explicit skip param is ignored.
          example: eyJza2lwIjoxMH0=
          type: string
        description: Opaque pagination cursor returned by the previous response. When provided, skip is derived from the cursor and any explicit skip param is ignored.
      - in: query
        name: take
        schema:
          description: Number of results to return (max 250)
          example: 50
          default: 50
          type: integer
          maximum: 250
          minimum: 1
        description: Number of results to return (max 250)
      - in: query
        name: skip
        schema:
          description: Number of results to skip for pagination
          example: 0
          default: 0
          type: integer
          minimum: 0
          maximum: 9007199254740991
        description: Number of results to skip for pagination
      responses:
        '200':
          description: List campaigns
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createCampaign
      summary: Create campaign
      description: Create a new campaign. Optional fields like discoveryId and performanceConfig can be provided at creation or set later via update. The `brief` and `name` fields are screened by the content-moderation engine and rejected with 422 `CONTENT_MODERATION_BLOCKED` on policy violation.
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignOpenApiBody'
      responses:
        '201':
          description: Create campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Content rejected by moderation policy. The `brief` or `name` matched a prompt-injection / jailbreak / hate-speech / CSAM / violence / misinformation pattern, or failed the business-context gate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}:
    put:
      operationId: updateCampaign
      summary: Update campaign
      description: Update an existing campaign. All fields are optional. The `brief` and `name` fields are screened by the content-moderation engine and rejected with 422 `CONTENT_MODERATION_BLOCKED` on policy violation.
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: id
        schema:
          description: Unique identifier for the campaign
          example: cmp_987654321
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the campaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCampaignOpenApiBody'
      responses:
        '200':
          description: Update campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Content rejected by moderation policy. See `POST /campaigns` for full criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: getCampaign
      summary: Get campaign
      description: Get detailed information about a specific campaign.
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: fresh
        schema:
          description: When true, bypasses the server-side media-buy query cache for this request. Use after a successful lifecycle write when immediate authoritative local readback is required.
          example: 'true'
          anyOf:
          - type: boolean
          - type: string
            enum:
            - 'true'
            - 'false'
        description: When true, bypasses the server-side media-buy query cache for this request. Use after a successful lifecycle write when immediate authoritative local readback is required.
      - in: query
        name: mediaBuyId
        schema:
          description: Filter the embedded `mediaBuys[]` array to only the media buys with these IDs. Accepts a single ID (`?mediaBuyId=mb_X`) or repeated values (`?mediaBuyId=mb_X&mediaBuyId=mb_Y`). The campaign object itself is unchanged; only the nested media buys are narrowed. Use to drill into specific buys without loading every buy on the campaign (helps when the full tree exceeds an LLM context window). `mediaBuyRefs` still lists every buy on the campaign so callers can discover IDs.
          example: mb_ETBn4gJ9Wu
          anyOf:
          - type: array
            items:
              type: string
          - type: string
        description: Filter the embedded `mediaBuys[]` array to only the media buys with these IDs. Accepts a single ID (`?mediaBuyId=mb_X`) or repeated values (`?mediaBuyId=mb_X&mediaBuyId=mb_Y`). The campaign object itself is unchanged; only the nested media buys are narrowed. Use to drill into specific buys without loading every buy on the campaign (helps when the full tree exceeds an LLM context window). `mediaBuyRefs` still lists every buy on the campaign so callers can discover IDs.
      - in: query
        name: includePropertyLists
        schema:
          description: When true, embed a `propertyLists` aggregate showing the include/exclude lists actually applied to this campaign via its media-buy packages. Defaults to false to keep the response small. To fetch the aggregate without the rest of the campaign, use `GET /campaigns/:campaignId/property-lists`.
          example: 'true'
          anyOf:
          - type: boolean
          - type: string
            enum:
            - 'true'
            - 'false'
        description: When true, embed a `propertyLists` aggregate showing the include/exclude lists actually applied to this campaign via its media-buy packages. Defaults to false to keep the response small. To fetch the aggregate without the rest of the campaign, use `GET /campaigns/:campaignId/property-lists`.
      - in: query
        name: includeProductDetails
        schema:
          description: When false, strips `formatOptions` from each product in `mediaBuys[].products[]`. Defaults to true (full product details included). Set to false when the goal is to read `packageId` values or other non-product fields and the full product payload would cause response truncation.
          example: 'false'
          anyOf:
          - type: boolean
          - type: string
            enum:
            - 'true'
            - 'false'
        description: When false, strips `formatOptions` from each product in `mediaBuys[].products[]`. Defaults to true (full product details included). Set to false when the goal is to read `packageId` values or other non-product fields and the full product payload would cause response truncation.
      - in: query
        name: fields
        schema:
          description: Optional response enrichment fields. Pass geo_metro_names to include display labels for geo_metros from the local label table.
          example: geo_metro_names
          anyOf:
          - type: string
          - type: array
            items:
              type: string
        description: Optional response enrichment fields. Pass geo_metro_names to include display labels for geo_metros from the local label table.
      - in: path
        name: id
        schema:
          description: Unique identifier for the campaign
          example: cmp_987654321
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the campaign
      responses:
        '200':
          description: Get campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteCampaign
      summary: Delete campaign
      description: Delete a campaign.
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: id
        schema:
          description: Unique identifier for the campaign
          example: cmp_987654321
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the campaign
      responses:
        '204':
          description: No content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/delivery:
    get:
      operationId: getDirectedCampaignDelivery
      summary: Get campaign delivery (alpha)
      description: Read live delivery through a tracked campaign's connected seller account or an unambiguous single-storefront platform campaign's persisted provider media-buy identity. The latest totals are persisted; PostHog-gated alpha with no upstream write.
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: startDate
        schema:
          description: Inclusive reporting start. Defaults to the subscription backfill boundary, capped at one year ago.
          example: '2026-07-10'
          type: string
          format: date
          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))$
        description: Inclusive reporting start. Defaults to the subscription backfill boundary, capped at one year ago.
      - in: query
        name: endDate
        schema:
          description: Inclusive reporting end. Defaults to yesterday because same-day platform data may be incomplete.
          example: '2026-07-10'
          type: string
          format: date
          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))$
        description: Inclusive reporting end. Defaults to yesterday because same-day platform data may be incomplete.
      - in: query
        name: placementBreakdown
        schema:
          description: Request canonical AdCP by_placement delivery rows when the product declares placement reporting support.
          type: string
          enum:
          - 'true'
          - 'false'
        description: Request canonical AdCP by_placement delivery rows when the product declares placement reporting support.
      - in: query
        name: placementLimit
        schema:
          description: Maximum placement rows per package. Requires placementBreakdown=true.
          type: integer
          maximum: 9007199254740991
          minimum: 1
        description: Maximum placement rows per package. Requires placementBreakdown=true.
      - in: query
        name: placementSortBy
        schema:
          description: Metric used to order placement rows before applying placementLimit.
          type: string
          enum:
          - impressions
          - spend
          - clicks
          - conversions
      - in: path
        name: campaignId
        schema:
          type: string
          minLength: 1
        required: true
      responses:
        '200':
          description: Get campaign delivery (alpha)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectedCampaignDeliveryResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The directed-campaigns alpha is not enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No directed campaign mirror with this id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/execute:
    post:
      operationId: executeCampaign
      summary: Execute campaign
      description: 'Launch/execute a campaign to start delivering ads. Pass `debug: true` in the request body to include detailed debug information in error responses.'
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: id
        schema:
          description: Unique identifier for the campaign
          example: cmp_987654321
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the campaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteCampaignBody'
      responses:
        '200':
          description: Execute campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignStatusChangeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/pause:
    post:
      operationId: pauseCampaign
      summary: Pause campaign
      description: Pause a running campaign. Cascades to all active media buys and reports the per-media-buy outcome.
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: id
        schema:
          description: Unique identifier for the campaign
          example: cmp_987654321
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the campaign
      responses:
        '200':
          description: Pause campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignCascadeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/reactivate:
    post:
      operationId: reactivateCampaign
      summary: Reactivate campaign
      description: Reactivate a paused campaign. The campaign must be PAUSED. Cascades to all paused media buys and reports the per-media-buy outcome.
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: id
        schema:
          description: Unique identifier for the campaign
          example: cmp_987654321
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the campaign
      responses:
        '200':
          description: Reactivate campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignCascadeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/auto-select-products:
    post:
      operationId: autoSelectProducts
      summary: Auto-select products
      description: Automatically select products for a performance campaign using a 3-tier strategy (scoring → measurability → CPM heuristic). Campaign must be in DRAFT status. Supports iterative refinement via ADCP-style refine directives — review results then re-call with include/omit/more_like_this to adjust selections. Replaces all previously selected products.
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: id
        schema:
          description: Unique identifier for the campaign
          example: cmp_987654321
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the campaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoSelectProductsRequest'
      responses:
        '200':
          description: Auto-select products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoSelectProductsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/media-buy-status:
    get:
      operationId: getMediaBuyAdcpStatus
      summary: Get media buy ADCP status
      description: Poll ADCP sales agents for the live status of all media buys in a campaign. Returns current ADCP status for each media buy and updates local status when changes are detected.
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: id
        schema:
          description: Unique identifier for the campaign
          example: cmp_987654321
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the campaign
      responses:
        '200':
          description: Get media buy ADCP status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAdcpStatusOutput'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /media-buys/{mediaBuyId}:
    get:
      operationId: getMediaBuy
      summary: Get media buy
      description: 'Get a single media buy with its why-visibility fields: pendingReason (why it is not delivering yet and since when), buyer-safe errorCode with ownership, the sanitized source message, forwardedAt, and the buyerReference support handle. One call answers "why is my buy stuck". Use GET /campaigns/{campaignId} for packages, products, and delivery.'
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: mediaBuyId
        schema:
          description: Buyer media buy ID
          example: mb_ETBn4gJ9Wu
          type: string
          minLength: 1
        required: true
        description: Buyer media buy ID
      responses:
        '200':
          description: Get media buy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyerMediaBuyResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Caller is not a buyer — the route is mounted behind the buyer role guard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No media buy with this id owned by the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      operationId: updateMediaBuy
      summary: Update media buy
      description: 'Partially update a single media buy, resolved top-level by mediaBuyId — the owning campaign is resolved server-side, consistent with GET /media-buys/{mediaBuyId}. Rejected outright (not a warning) when it would violate a campaign invariant: currency (a product''s replacement pricing option settles in a different currency than this buy), budget headroom (the update would exceed the campaign''s remaining all-in budget), or mode compatibility (the campaign is directed and has no platform-managed update path). A flight date outside the campaign''s current window is not a failure — the campaign flight is widened to cover it and a warning is returned.'
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: mediaBuyId
        schema:
          description: Buyer media buy ID
          example: mb_ETBn4gJ9Wu
          type: string
          minLength: 1
        required: true
        description: Buyer media buy ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMediaBuyRequest'
      responses:
        '200':
          description: Update media buy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMediaBuyResponse'
        '400':
          description: 'Validation failed: the campaign is directed, the campaign is completed/archived/cancelled, the update would exceed the campaign''s remaining budget headroom, or a product''s replacement pricing option settles in a different currency than this buy.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Caller is not a buyer — the route is mounted behind the buyer role guard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No media buy with this id owned by the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The media buy is in a terminal status and can no longer be updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /media-buys/{mediaBuyId}/packages:
    get:
      operationId: getMediaBuyPackages
      summary: List media buy packages
      description: 'List a media buy''s packages with the attributes that identify each one: productId, productName, the package''s own startTime/endTime, and its pacingPeriod (index plus the campaign''s label, e.g. "Week 6"). Use this to turn a description of a package ("the display package ending 2026-08-11") into the packageId to send to an update. Prefer it over GET /campaigns/{campaignId} whenever the goal is to pick a package: it carries no targeting, creative, or format detail, so it stays small enough for an agent to read in full. A paced buy has one package per product per period, and the trailing number on a package id is dispatch order, NOT the period — read pacingPeriod instead of parsing the id.'
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: mediaBuyId
        schema:
          description: Buyer media buy ID
          example: mb_ETBn4gJ9Wu
          type: string
          minLength: 1
        required: true
        description: Buyer media buy ID
      responses:
        '200':
          description: List media buy packages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyerMediaBuyPackagesResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Caller is not a buyer — the route is mounted behind the buyer role guard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No media buy with this id owned by the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /media-buys/{mediaBuyId}/pause:
    post:
      operationId: pauseMediaBuy
      summary: Pause media buy
      description: Pause a single active media buy without affecting the rest of its campaign or any sibling media buys.
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: mediaBuyId
        schema:
          description: Buyer media buy ID
          example: mb_ETBn4gJ9Wu
          type: string
          minLength: 1
        required: true
        description: Buyer media buy ID
      responses:
        '200':
          description: Pause media buy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaBuyStatusChangeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No media buy with this id owned by the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The media buy is not currently ACTIVE.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /media-buys/{mediaBuyId}/reactivate:
    post:
      operationId: reactivateMediaBuy
      summary: Reactivate media buy
      description: Reactivate a single paused media buy without affecting the rest of its campaign or any sibling media buys.
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: mediaBuyId
        schema:
          description: Buyer media buy ID
          example: mb_ETBn4gJ9Wu
          type: string
          minLength: 1
        required: true
        description: Buyer media buy ID
      responses:
        '200':
          description: Reactivate media buy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaBuyStatusChangeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No media buy with this id owned by the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The media buy is not currently PAUSED.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/products:
    get:
      operationId: getCampaignProducts
      summary: Get campaign products
      description: List all products staged on a campaign together with the discovery run that found each one and any media buys it has been executed into. Use to inspect what products are queued for execution before launching a campaign.
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: id
        schema:
          description: Unique identifier for the campaign
          example: cmp_987654321
          type: string
          minLength: 1
        required: true
        description: Unique identifier for the campaign
      responses:
        '200':
          description: Get campaign products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignProductsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /targeting/dimensions:
    get:
      operationId: listTargetingDimensions
      summary: List targeting dimensions
      description: List supported targeting dimensions and the campaign constraint fields that accept them.
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: locale
        schema:
          description: Display-label locale. Currently only en-US is supported.
          example: en-US
          default: en-US
          type: string
          enum:
          - en-US
        description: Display-label locale. Currently only en-US is supported.
      responses:
        '200':
          description: List targeting dimensions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTargetingDimensionsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /targeting/dimensions/{system}:
    get:
      operationId: listTargetingDimensionValues
      summary: List targeting dimension values
      description: List code-name pairs for a targeting dimension. Send only returned codes in campaign constraints.
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: locale
        schema:
          description: Display-label locale. Currently only en-US is supported.
          example: en-US
          default: en-US
          type: string
          enum:
          - en-US
        description: Display-label locale. Currently only en-US is supported.
      - in: path
        name: system
        schema:
          $ref: '#/components/schemas/TargetingDimensionSystem'
        required: true
        description: Supported targeting dimension system
      responses:
        '200':
          description: List targeting dimension values
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TargetingDimensionValuesResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /targeting/dimensions/{system}/resolve:
    get:
      operationId: resolveTargetingDimension
      summary: Resolve targeting dimension text
      description: Resolve localized targeting text to code candidates within a specific dimension. Use the top candidate only when the response is not ambiguous.
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: q
        schema:
          description: Localized text to resolve to targeting codes
          example: LA DMA
          type: string
          minLength: 1
        required: true
        description: Localized text to resolve to targeting codes
      - in: query
        name: locale
        schema:
          description: Display-label locale. Currently only en-US is supported.
          example: en-US
          default: en-US
          type: string
          enum:
          - en-US
        description: Display-label locale. Currently only en-US is supported.
      - in: path
        name: system
        schema:
          $ref: '#/components/schemas/TargetingDimensionSystem'
        required: true
        description: Supported targeting dimension system
      responses:
        '200':
          description: Resolve targeting dimension text
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolveTargetingDimensionResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /targeting/geo-metros:
    get:
      operationId: listGeoMetros
      summary: List geo metros
      description: List geo metro code-name pairs for buyer-side targeting resolution and display. Send only numeric string codes in campaign constraints.geo_metros; request fields=geo_metro_names on campaign reads when display labels are needed.
      tags:
      - Campaigns
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: system
        schema:
          description: Targeting system to look up. Defaults to nielsen_dma; currently only nielsen_dma is supported.
          example: nielsen_dma
          default: nielsen_dma
          allOf:
          - $ref: '#/components/schemas/TargetingDimensionSystem'
        description: Targeting system to look up. Defaults to nielsen_dma; currently only nielsen_dma is supported.
      responses:
        '200':
          description: List geo metros
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoMetrosResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    StorefrontEndpointDirectedCampaignInfo:
      description: Provenance and dual-key identity for a direct buy through one storefront AdCP endpoint.
      type: object
      properties:
        provenance:
          description: This directed campaign was created by an external AdCP buyer addressing one storefront endpoint.
          type: string
          enum:
          - storefront_endpoint
        storefrontId:
          description: Storefront DB id that owns execution for this campaign.
          example: 42
          type: integer
          maximum: 9007199254740991
          minimum: 1
        buyerMediaBuyId:
          description: AdCP media-buy id used by the external buyer at the storefront boundary.
          example: buyer_mb_44521
          type: string
          minLength: 1
        mediaBuyId:
          description: Interchange media-buy id used by the campaign, contract, reporting, and ledger layers. Omitted only for legacy endpoint shells created before this projection was recorded.
          example: mb_ETBn4gJ9Wu
          type: string
          minLength: 1
      required:
      - provenance
      - storefrontId
      - buyerMediaBuyId
      additionalProperties: false
    ExecuteCampaignBody:
      description: Optional request body for executing a campaign. Unknown fields are rejected.
      type: object
      properties:
        debug:
          description: When true, includes detailed debug information in error responses from media buy execution
          type: boolean
      additionalProperties: false
    CreateDiscoveryCampaignBody:
      description: Request body for creating a discovery-mode campaign
      type: object
      properties:
        advertiserId:
          description: Advertiser ID that will own this campaign
          example: 12345
          type: integer
          maximum: 9007199254740991
          minimum: 1
        name:
          description: Name of the campaign
          example: Q1 2025 Campaign
          type: string
          minLength: 1
          maxLength: 255
        flightDates:
          description: Campaign flight dates
          type: object
          properties:
            startDate:
              description: Campaign start date (ISO 8601)
              example: '2025-01-15T00:00:00Z'
              type: string
              format: date-time
              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
            endDate:
              description: Campaign end date (ISO 8601)
              example: '2025-03-31T23:59:59Z'
              type: string
              format: date-time
              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
          required:
          - startDate
          - endDate
        budget:
          description: Campaign budget configuration
          type: object
          properties:
            total:
              type: number
              exclusiveMinimum: 0
            currency:
              description: Optional ISO 4217 currency. If provided it must match the advertiser's primary currency; otherwise the advertiser's currency is used. Campaigns cannot be created in a currency other than the advertiser's.
              type: string
              minLength: 3
              maxLength: 3
            dailyCap:
              type: number
              exclusiveMinimum: 0
            pacing:
              type: string
              enum:
              - EVEN
              - ASAP
              - FRONTLOADED
          required:
          - total
        brief:
          description: Natural language brief for product search context
          example: Looking for premium video inventory targeting tech enthusiasts
          type: string
          maxLength: 5000
        constraints:
          description: Campaign targeting constraints
          type: object
          properties:
            geo_countries:
              type: array
              items:
                type: string
            geo_countries_exclude:
              type: array
              items:
                type: string
            geo_regions:
              type: array
              items:
                type: string
            geo_regions_exclude:
              type: array
              items:
                type: string
            geo_metros:
              type: array
              items:
                type: object
                properties:
                  system:
                    anyOf:
                    - type: string
                      enum:
                      - nielsen_dma
                    - type: string
                      enum:
                      - uk_itl1
                    - type: string
                      enum:
                      - uk_itl2
                    - type: string
                      enum:
                      - eurostat_nuts2
                    - type: string
                      enum:
                      - custom
                  values:
                    type: array
                    items:
                      type: string
                required:
                - system
                - values
                additionalProperties: {}
            geo_metros_exclude:
              type: array
              items:
                type: object
                properties:
                  system:
                    anyOf:
                    - type: string
                      enum:
                      - nielsen_dma
                    - type: string
                      enum:
                      - uk_itl1
                    - type: string
                      enum:
                      - uk_itl2
                    - type: string
                      enum:
                      - eurostat_nuts2
                    - type: string
                      enum:
                      - custom
                  values:
                    type: array
                    items:
                      type: string
                required:
                - system
                - values
                additionalProperties: {}
            geo_postal_areas:
              type: array
              items:
                anyOf:
                - type: object
                  properties:
                    country:
                      type: string
                      pattern: ^[A-Z]{2}$
                    system:
                      anyOf:
                      - type: string
                        enum:
                        - postal_code
                      - type: string
                        enum:
                        - zip
                      - type: string
                        enum:
                        - zip_plus_four
                      - type: string
                        enum:
                        - outward
                      - type: string
                        enum:
                        - full
                      - type: string
                        enum:
                        - fsa
                      - type: string
                        enum:
                        - plz
                      - type: string
                        enum:
                        - code_postal
                      - type: string
                        enum:
                        - postcode
                      - type: string
                        enum:
                        - cep
                      - type: string
                        enum:
                        - pin
                      - type: string
                        enum:
                        - custom
                      - type: string
                        enum:
                        - us_zip
                      - type: string
                        enum:
                        - us_zip_plus_four
                      - type: string
                        enum:
                        - gb_outward
                      - type: string
                        enum:
                        - gb_full
                      - type: string
                        enum:
                        - ca_fsa
                      - type: string
                        enum:
                        - ca_full
                      - type: string
                        enum:
                        - de_plz
                      - type: string
                        enum:
                        - fr_code_postal
                      - type: string
                        enum:
                        - au_postcode
                      - type: string
                        enum:
                        - ch_plz
                      - type: string
                        enum:
                        - at_plz
                    values:
                      type: array
                      items:
                        type: string
                  required:
                  - country
                  - system
                  - values
                  additionalProperties: {}
                - type: object
                  properties:
                    system:
                      anyOf:
                      - type: string
                        enum:
                        - us_zip
                      - type: string
                        enum:
                        - us_zip_plus_four
                      - type: string
                        enum:
                        - gb_outward
                      - type: string
                        enum:
                        - gb_full
                      - type: string
                        enum:
                        - ca_fsa
                      - type: string
                        enum:
                        - ca_full
                      - type: string
                        enum:
                        - de_plz
                      - type: string
                        enum:
                        - fr_code_postal
                      - type: string
                        enum:
                        - au_postcode
                      - type: string
                        enum:
                        - ch_plz
                      - type: string
                        enum:
                        - at_plz
                    values:
                      type: array
                      items:
                        type: string
                  required:
                  - system
                  - values
                  additionalProperties: {}
            geo_postal_areas_exclude:
              type: array
              items:
                anyOf:
                - type: object
                  properties:
                    country:
                      type: string
                      pattern: ^[A-Z]{2}$
                    system:
                      anyOf:
                      - type: string
                        enum:
                        - postal_code
                      - type: string
                        enum:
                        - zip
                      - type: string
                        enum:
                        - zip_plus_four
                      - type: string
                        enum:
                        - outward
                      - type: string
                        enum:
                        - full
                      - type: string
                        enum:
                        - fsa
                      - type: string
                        enum:
                        - plz
                      - type: string
                        enum:
                        - code_postal
                      - type: string
                        enum:
                        - postcode
                      - type: string
                        enum:
                        - cep
                      - type: string
                        enum:
                        - pin
                      - type: string
                        enum:
                        - custom
                      - type: string
                        enum:
                        - us_zip
                      - type: string
                        enum:
                        - us_zip_plus_four
                      - type: string
                        enum:
                        - gb_outward
                      - type: string
                        enum:
                        - gb_full
                      - type: string
                        enum:
                        - ca_fsa
                      - type: string
                        enum:
                        - ca_full
                      - type: string
                        enum:
                        - de_plz
                      - type: string
                        enum:
                        - fr_code_postal
                      - type: string
                        enum:
                        - au_postcode
                      - type: string
                        enum:
                        - ch_plz
                      - type: string
                        enum:
                        - at_plz
                    values:
                      type: array
                      items:
                        type: string
                  required:
                  - country
                  - system
                  - values
                  additionalProperties: {}
                - type: object
                  properties:
                    system:
                      anyOf:
                      - type: string
                        enum:
                        - us_zip
                      - type: string
                        enum:
                        - us_zip_plus_four
                      - type: string
                        enum:
                        - gb_outward
                      - type: string
                        enum:
                        - gb_full
                      - type: string
                        enum:
                        - ca_fsa
                      - type: string
                        enum:
                        - ca_full
                      - type: string
                        enum:
                        - de_plz
                      - type: string
                        enum:
                        - fr_code_postal
                      - type: string
                        enum:
                        - au_postcode
                      - type: string
                        enum:
                        - ch_plz
                      - type: string
                        enum:
                        - at_plz
                    values:
                      type: array
                      items:
                        type: string
                  required:
                  - system
                  - values
                  additionalProperties: {}
            language:
              type: array
              items:
                type: string
            device_platform:
              type: array
              items:
                anyOf:
                - type: string
                  enum:
                  - ios
                - type: string
                  enum:
                  - android
                - type: string
                  enum:
                  - windows
                - type: string
                  enum:
                  - macos
                - type: string
                  enum:
                  - linux
                - type: string
                  enum:
                  - chromeos
                - type: string
                  enum:
                  - tvos
                - type: string
                  enum:
                  - tizen
                - type: string
                  enum:
                  - webos
                - type: string
                  enum:
                  - fire_os
                - type: string
                  enum:
                  - roku_os
                - type: string
                  enum:
                  - unknown
            device_type:
              type: array
              items:
                anyOf:
                - type: string
                  enum:
                  - desktop
                - type: string
                  enum:
                  - mobile
                - type: string
                  enum:
                  - tablet
                - type: string
                  enum:
                  - ctv
                - type: string
                  enum:
                  - dooh
                - type: string
                  enum:
                  - unknown
            device_type_exclude:
              type: array
              items:
                anyOf:
                - type: string
                  enum:
                  - desktop
                - type: string
                  enum:
                  - mobile
                - type: string
                  enum:
                  - tablet
                - type: string
                  enum:
                  - ctv
                - type: string
                  enum:
                  - dooh
                - type: string
                  enum:
                  - unknown
            channels:
              description: Channels to target (e.g., ["ctv", "display"])
              type: array
              items:
                type: string
            countries:
              description: 'Deprecated: use geo_countries. Countries to target (ISO 3166-1 alpha-2 codes). Values are normalized into geo_countries on write.'
              deprecated: true
              maxItems: 250
              type: array
              items:
                type: string
                pattern: ^[A-Z]{2}$
          additionalProperties: {}
        storefrontIds:
          description: Storefront IDs the campaign is limited to. When set, every `discover_products` run for this campaign auto-applies this filter — buyers do not need to resend it. Pass the IDs returned by `list_storefronts`. Highly encouraged so the campaign only sources inventory from sellers the buyer has chosen.
          example:
          - 42
          - 57
          maxItems: 50
          type: array
          items:
            type: integer
            maximum: 9007199254740991
            minimum: 1
        discoveryId:
          description: Attach an existing discovery session to the campaign
          example: abc123-def456-ghi789
          type: string
          minLength: 1
        productIds:
          description: Product IDs to pre-select from the discovery session (requires discoveryId)
          example:
          - prod_123
          - prod_456
          type: array
          items:
            type: string
        audienceConfig:
          description: Audience targeting and suppression configuration. On create, listed audiences are attached to the campaign.
          type: object
          properties:
            targetAudienceIds:
              description: Audience IDs to target with this campaign
              example:
              - aud_123
              - aud_456
              maxItems: 100
              type: array
              items:
                type: string
                minLength: 1
            suppressAudienceIds:
              description: Audience IDs to suppress (exclude) from this campaign
              example:
              - aud_789
              maxItems: 100
              type: array
              items:
                type: string
                minLength: 1
        performanceConfig:
          description: Performance optimization configuration
          allOf:
          - $ref: '#/components/schemas/PerformanceConfig'
        optimizationApplyMode:
          description: Controls whether Scope3 AI model optimizations to media buys are applied automatically or require manual approval. If omitted, inherits the advertiser-level setting.
          allOf:
          - $ref: '#/components/schemas/OptimizationApplyMode'
        catalogId:
          description: ID of a catalog (from the advertiser catalogs list) to attach to this campaign. Only one catalog may be attached per campaign.
          example: 42
          type: integer
          maximum: 9007199254740991
          minimum: 1
        pacingPeriods:
          description: Pacing schedule for the campaign. Defines time-based spend periods with varying intensity. In weight mode, budget is distributed proportionally by weighted days. In budget mode, explicit dollar amounts are set per period. Gaps between periods are treated as pauses (no spend). On execution, each product is split into one package per period with proportional budget.
          allOf:
          - $ref: '#/components/schemas/PacingPeriods'
        utmConfig:
          description: UTM (Urchin Tracking Module) parameter configuration for this campaign. Overrides advertiser-level defaults for matching param keys.
          allOf:
          - $ref: '#/components/schemas/CampaignUtmConfig'
        dataDelivery:
          $ref: '#/components/schemas/CampaignDataDeliveryInput'
        frequencyCaps:
          description: Buyer-side frequency cap configs to apply to this campaign. Enforced by Scope3 across all publishers.
          type: array
          items:
            $ref: '#/components/schemas/FrequencyCapConfigInput'
        mode:
          description: '"I have a brief; find it for me" — platform-managed.'
          type: string
          enum:
          - discovery
      required:
      - advertiserId
      - name
      - flightDates
      - budget
      - mode
    DeliveryConfigOutput:
      description: Per-Output destination shape (non-secret). Additional destination types are added as new variants in this discriminated union.
      oneOf:
      - $ref: '#/components/schemas/GcsDeliveryConfigOutput'
      - $ref: '#/components/schemas/S3DeliveryConfigOutput'
      - $ref: '#/components/schemas/AzureBlobDeliveryConfigOutput'
      type: object
      discriminator:
        propertyName: type
        mapping:
          GCS: '#/components/schemas/GcsDeliveryConfigOutput'
          S3: '#/components/schemas/S3DeliveryConfigOutput'
          AZURE_BLOB: '#/components/schemas/AzureBlobDeliveryConfigOutput'
    FrequencyCapWindow:
      description: Rolling time window over which max_impressions applies (AdCP Duration shape).
      type: object
      properties:
        interval:
          type: number
          minimum: 1
        unit:
          anyOf:
          - type: string
            enum:
            - seconds
          - type: string
            enum:
            - minutes
          - type: string
            enum:
            - hours
          - type: string
            enum:
            - days
          - type: string
            enum:
            - campaign
      required:
      - interval
      - unit
      additionalProperties: {}
    CampaignStatusListFilter:
      description: Campaign statuses to include in the list, or "ALL" to include every status. Defaults to the non-terminal statuses (ACTIVE, DRAFT, PAUSED) — every campaign that could still spend.
      type: string
      enum:
      - DRAFT
      - ACTIVE
      - PAUSED
      - COMPLETED
      - CANCELED
      - ARCHIVED
      - ALL
    BuyerMediaBuy:
      description: A single media buy with its optimization goals and why-visibility annotation (pendingReason, errorCode, forwardedAt, buyerReference). Use get_campaign for packages, products, and delivery.
      type: object
      properties:
        mediaBuyId:
          description: Buyer media buy ID
          example: mb_ETBn4gJ9Wu
          type: string
        name:
          description: Media buy name
          type: string
        status:
          description: Interchange media buy status (DRAFT, PENDING_APPROVAL, ACTIVE, PAUSED, COMPLETED, CANCELED, FAILED, REJECTED).
          example: PENDING_APPROVAL
          type: string
        pendingAt:
          description: Which layer the buy is parked at; only present while status is PENDING_APPROVAL. Use pendingReason for the specific wait.
          type: string
          enum:
          - storefront
          - salesagent
          - unknown
        pendingChange:
          description: A submitted change that has not yet reached the delivering buy. Every other field on this object describes what is LIVE, so this is the only place a queued change surfaces. Absent when there is nothing pending.
          allOf:
          - $ref: '#/components/schemas/MediaBuyPendingChange'
        pendingReason:
          description: Why the buy is not delivering yet, rolled up to the most-blocking wait across its legs. An annotation derived from persisted forwarding state — never a status. Absent when the buy is delivering, terminal, or not storefront-routed.
          allOf:
          - $ref: '#/components/schemas/MediaBuyPendingReason'
        pendingSince:
          description: When the current wait began (ISO 8601). Present when pendingReason is set and the start of the wait is known.
          type: string
          format: date-time
          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        errorCode:
          description: Buyer-safe structured error code when forwarding failed or the buy was rejected. Internal platform codes are mapped to this set and never emitted raw.
          allOf:
          - $ref: '#/components/schemas/BuyerMediaBuyErrorCode'
        errorOwner:
          description: Which party owns fixing the error. Present whenever errorCode is present.
          allOf:
          - $ref: '#/components/schemas/MediaBuyErrorOwner'
        sourceMessage:
          description: The source's rejection or moderation message, when one was provided — whitespace-collapsed, truncated, and known upstream identifiers removed.
          type: string
        forwardedAt:
          description: When the buy was forwarded to its inventory source(s) (ISO 8601). Absent when it has not been forwarded.
          type: string
          format: date-time
          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        buyerReference:
          description: Support reference for this buy (`sf:<storefrontId>:<mediaBuyId>`). Quote it with the request timestamp when contacting the seller or Scope3 support.
          example: sf:42:sf_mb_1783031864469_8pbc8mmr
          type: string
        startTime:
          description: 'When this media buy starts: "asap" or an ISO 8601 date-time.'
          type: string
        endTime:
          description: When this media buy ends (ISO 8601).
          type: string
        optimizationGoals:
          description: Optimization goals applied to this media buy and its packages. Absent when no goals are configured.
          type: array
          items:
            anyOf:
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                  - metric
                metric:
                  anyOf:
                  - type: string
                    enum:
                    - clicks
                  - type: string
                    enum:
                    - views
                  - type: string
                    enum:
                    - completed_views
                  - type: string
                    enum:
                    - viewed_seconds
                  - type: string
                    enum:
                    - attention_seconds
                  - type: string
                    enum:
                    - attention_score
                  - type: string
                    enum:
                    - engagements
                  - type: string
                    enum:
                    - follows
                  - type: string
                    enum:
                    - saves
                  - type: string
                    enum:
                    - profile_visits
                  - type: string
                    enum:
                    - reach
                reach_unit:
                  anyOf:
                  - type: string
                    enum:
                    - individuals
                  - type: string
                    enum:
                    - households
                  - type: string
                    enum:
                    - devices
                  - type: string
                    enum:
                    - accounts
                  - type: string
                    enum:
                    - cookies
                  - type: string
                    enum:
                    - custom
                target_frequency:
                  type: object
                  properties:
                    min:
                      type: number
                      minimum: 1
                    max:
                      type: number
                      minimum: 1
                    window:
                      type: object
                      properties:
                        interval:
                          type: number
                          minimum: 1
                        unit:
                          anyOf:
                          - type: string
                            enum:
                            - seconds
                          - type: string
                            enum:
                            - minutes
                          - type: string
                            enum:
                            - hours
                          - type: string
                            enum:
                            - days
                          - type: string
                            enum:
                            - campaign
                      required:
                      - interval
                      - unit
                      additionalProperties: {}
                  required:
                  - window
                  additionalProperties: {}
                view_duration_seconds:
                  type: number
                target:
                  anyOf:
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                        - cost_per
                      value:
                        type: number
                    required:
                    - kind
                    - value
                    additionalProperties: {}
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                        - threshold_rate
                      value:
                        type: number
                    required:
                    - kind
                    - value
                    additionalProperties: {}
                priority:
                  type: number
                  minimum: 1
              required:
              - kind
              - metric
              additionalProperties: {}
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                  - event
                event_sources:
                  type: array
                  items:
                    type: object
                    properties:
                      event_source_id:
                        type: string
                        minLength: 1
                      event_type:
                        anyOf:
                        - type: string
                          enum:
                          - page_view
                        - type: string
                          enum:
                          - view_content
                        - type: string
                          enum:
                          - select_content
                        - type: string
                          enum:
                          - select_item
                        - type: string
                          enum:
                          - search
                        - type: string
                          enum:
                          - share
                        - type: string
                          enum:
                          - add_to_cart
                        - type: string
                          enum:
                          - remove_from_cart
                        - type: string
                          enum:
                          - viewed_cart
                        - type: string
                          enum:
                          - add_to_wishlist
                        - type: string
                          enum:
                          - initiate_checkout
                        - type: string
                          enum:
                          - add_payment_info
                        - type: string
                          enum:
                          - purchase
                        - type: string
                          enum:
                          - refund
                        - type: string
                          enum:
                          - lead
                        - type: string
                          enum:
                          - qualify_lead
                        - type: string
                          enum:
                          - close_convert_lead
                        - type: string
                          enum:
                          - disqualify_lead
                        - type: string
                          enum:
                          - complete_registration
                        - type: string
                          enum:
                          - subscribe
                        - type: string
                          enum:
                          - follow
                        - type: string
                          enum:
                          - content_view
                        - type: string
                          enum:
                          - watch_milestone
                        - type: string
                          enum:
                          - start_trial
                        - type: string
                          enum:
                          - app_install
                        - type: string
                          enum:
                          - app_launch
                        - type: string
                          enum:
                          - contact
                        - type: string
                          enum:
                          - schedule
                        - type: string
                          enum:
                          - donate
                        - type: string
                          enum:
                          - submit_application
                        - type: string
                          enum:
                          - custom
                      custom_event_name:
                        type: string
                      value_field:
                        type: string
                      value_factor:
                        type: number
                    required:
                    - event_source_id
                    - event_type
                    additionalProperties: {}
                target:
                  anyOf:
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                        - cost_per
                      value:
                        type: number
                    required:
                    - kind
                    - value
                    additionalProperties: {}
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                        - per_ad_spend
                      value:
                        type: number
                    required:
                    - kind
                    - value
                    additionalProperties: {}
                  - type: object
                    properties:
                      kind:
                        type: string
                        enum:
                        - maximize_value
                    required:
                    - kind
                    additionalProperties: {}
                attribution_window:
                  type: object
                  properties:
                    post_click:
                      type: object
                      properties:
                        interval:
                          type: number
                          minimum: 1
                        unit:
                          anyOf:
                          - type: string
                            enum:
                            - seconds
                          - type: string
                            enum:
                            - minutes
                          - type: string
                            enum:
                            - hours
                          - type: string
                            enum:
                            - days
                          - type: string
                            enum:
                            - campaign
                      required:
                      - interval
                      - unit
                      additionalProperties: {}
                    post_view:
                      type: object
                      properties:
                        interval:
                          type: number
                          minimum: 1
                        unit:
                          anyOf:
                          - type: string
                            enum:
                            - seconds
                          - type: string
                            enum:
                            - minutes
                          - type: string
                            enum:
                            - hours
                          - type: string
                            enum:
                            - days
                          - type: string
                            enum:
                            - campaign
                      required:
                      - interval
                      - unit
                      additionalProperties: {}
                    model:
                      anyOf:
                      - type: string
                        enum:
                        - last_touch
                      - type: string
                        enum:
                        - first_touch
                      - type: string
                        enum:
                        - linear
                      - type: string
                        enum:
                        - time_decay
                      - type: string
                        enum:
                        - data_driven
                  additionalProperties: {}
                priority:
                  type: number
                  minimum: 1
              required:
              - kind
              - event_sources
              additionalProperties: {}
            - type: object
              properties:
                kind:
                  type: string
                  enum:
                  - vendor_metric
                vendor:
                  type: object
                  properties:
                    domain:
                      type: string
                      pattern: ^[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$
                    brand_id:
                      type: string
                    industries:
                      type: array
                      items:
                        type: string
                    data_subject_contestation:
                      type: object
                      properties:
                        url:
                          type: string
                          pattern: ^https:\/\/
                        email:
                          type: string
                          format: email
                          pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                        languages:
                          type: array
                          items:
                            type: string
                      additionalProperties: {}
                    brand_kit_override:
                      type: object
                      properties:
                        logo:
                          type: object
                          properties:
                            asset_type:
                              type: string
                              enum:
                              - image
                            url:
                              type: string
                            width:
                              type: number
                              minimum: 1
                            height:
                              type: number
                              minimum: 1
                            format:
                              type: string
                            alt_text:
                              type: string
                            provenance:
                              type: object
                              properties:
                                digital_source_type:
                                  anyOf:
                                  - type: string
                                    enum:
                                    - digital_capture
                                  - type: string
                                    enum:
                                    - digital_creation
                                  - type: string
                                    enum:
                                    - trained_algorithmic_media
                                  - type: string
                                    enum:
                                    - composite_with_trained_algorithmic_media
                                  - type: string
                                    enum:
                                    - algorithmic_media
                                  - type: string
                                    enum:
                                    - composite_capture
                                  - type: string
                                    enum:
                                    - composite_synthetic
                                  - type: string
                                    enum:
                                    - human_edits
                                  - type: string
                                    enum:
                                    - data_driven_media
                                ai_tool:
                                  type: object
                                  properties:
                                    name:
                                      type: string
                                    version:
                                      type: string
                                    provider:
                                      type: string
                                  required:
                                  - name
                                  additionalProperties: {}
                                human_oversight:
                                  anyOf:
                                  - type: string
                                    enum:
                                    - none
                                  - type: string
                                    enum:
                                    - prompt_only
                                  - type: string
                                    enum:
                                    - selected
                                  - type: string
                                    enum:
                                    - edited
                                  - type: string
                                    enum:
                                    - directed
                                declared_by:
                                  type: object
                                  properties:
                                    agent_url:
                                      type: string
                                    role:
                                      anyOf:
                                      - type: string
                                        enum:
                                        - creator
                                      - type: string
                                        enum:
                                        - advertiser
                                      - type: string
                                        enum:
                                        - agency
                                      - type: string
                                        enum:
                                        - platform
                                      - type: string
                                        enum:
                                        - tool
                                  required:
                                  - role
                                  additionalProperties: {}
                                declared_at:
                                  type: string
                                  format: date-time
                                  pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                                created_time:
                                  type: string
                                  format: date-time
                                  pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                                c2pa:
                                  type: object
                                  properties:
                                    manifest_url:
                                      type: string
                                  required:
                                  - manifest_url
                                  additionalProperties: {}
                                embedded_provenance:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      method:
                                        anyOf:
                                        - type: string
                                          enum:
                                          - manifest_wrapper
                                        - type: string
                                          enum:
                                          - provenance_markers
                                      standard:
                                        type: string
                                      provider:
                                        type: string
                                      verify_agent:
                                        type: object
                                        properties:
                                          agent_url:
                                            type: string
                                            pattern: ^https:\/\/
                                          feature_id:
                                            type: string
                                        required:
                                        - agent_url
                                        additionalProperties: {}
                                      embedded_at:
                                        type: string
                                        format: date-time
                                        pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                                    required:
                                    - method
                                    - provider
                                    additionalProperties: {}
                                watermarks:
                                  type: array
                                  items:
                                    type: object
                                    properties:
                                      media_type:
                                        anyOf:
                                        - type: string
                                          enum:
                                          - audio
                                        - type: string
                                          enum:
                                          - image
                                        - type: string
                                          enum:
                                          - video
                                        - type: string
                                          enum:
                                          - text
                                      provider:
                                        type: string
                                      verify_agent:
                                        type: object
                                        properties:
                                          agent_url:
                                            type: string
                                            pattern: ^https:\/\/
                                          feature_id:
                                            type: string
                                        required:
                                        - agent_url
[...]
