openapi: 3.2.0
info:
  title: Scope3 Buyer Product Discovery API
  version: 2.0.0
  description: 'REST API for advertisers to manage advertisers, campaigns, and reporting.


    ## Authentication


    All endpoints require a Bearer token in the Authorization header:

    ```

    Authorization: Bearer your-api-key

    ```


    ## Base URL


    `https://api.interchange.io/api/v2/buyer`


    ## For AI Agents


    AI agents can use the MCP endpoint at `/mcp/v2/buyer` with three tools:

    - `initialize`: Start an MCP session

    - `api_call`: Make REST API calls

    - `ask_about_capability`: Learn about API features'
servers:
- url: https://api.interchange.io/api/v2/buyer
  description: Production server
tags:
- name: Product Discovery
  description: Discover and select products
paths:
  /products/query:
    post:
      operationId: getMarketplaceProducts
      summary: Get products across storefronts
      description: Send a canonical AdCP get_products request across selected or all connected storefronts. Omit ext.interchange.screening for unscreened retrieval or provide buyer instructions for managed proposal accept, reject, and refine screening. Provisional responses are replacement snapshots; terminal cursors reference the frozen result.
      tags:
      - Product Discovery
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetProductsBody'
      responses:
        '200':
          description: Get products across storefronts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectedGetProductsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /media-buys/batch:
    post:
      operationId: createMediaBuysBatch
      summary: Stage or execute products across storefronts
      description: Continue from a multi-storefront get_products execution by staging qualified proposals/products on a DRAFT campaign cart, with optional execution through the existing per-storefront media-buy path.
      tags:
      - Product Discovery
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMediaBuysBatchBody'
      responses:
        '200':
          description: Stage or execute products across storefronts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMediaBuysBatchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /discovery/discover-products:
    post:
      operationId: discoverProducts
      summary: Discover products
      description: Discover products with automatic session creation. If discoveryId is not provided, a new session is created automatically. Returns discoveryId and discovered products.
      tags:
      - Product Discovery
      security:
      - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
              - $ref: '#/components/schemas/DiscoverProductsBody'
      responses:
        '200':
          description: Discover products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoverProductsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /discovery/{discoveryId}/discover-products:
    get:
      operationId: browseProducts
      summary: Browse products for discovery session
      description: Browse available products for an existing discovery session. Returns product suggestions grouped by publisher with pagination support.
      tags:
      - Product Discovery
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: groupLimit
        schema:
          description: 'Maximum number of product groups to return (default: 10, max: 10)'
          example: 10
          default: 10
          type: integer
          maximum: 10
          minimum: 1
        description: 'Maximum number of product groups to return (default: 10, max: 10)'
      - in: query
        name: groupOffset
        schema:
          description: Number of groups to skip for pagination
          example: 0
          default: 0
          type: integer
          minimum: 0
          maximum: 9007199254740991
        description: Number of groups to skip for pagination
      - in: query
        name: productsPerGroup
        schema:
          description: 'Maximum products to return per group (default: 10, max: 15)'
          example: 10
          default: 10
          type: integer
          maximum: 15
          minimum: 1
        description: 'Maximum products to return per group (default: 10, max: 15)'
      - in: query
        name: productOffset
        schema:
          description: 'Number of products to skip within each group (default: 0, max: 1000)'
          example: 5
          default: 0
          type: integer
          minimum: 0
          maximum: 1000
        description: 'Number of products to skip within each group (default: 0, max: 1000)'
      - in: query
        name: publisherDomain
        schema:
          description: Filter products by publisher domain (exact domain component match)
          example: hulu
          type: string
          minLength: 1
        description: Filter products by publisher domain (exact domain component match)
      - in: query
        name: pricingModel
        schema:
          description: Filter products by pricing model
          example: cpm
          type: string
          enum:
          - cpm
          - vcpm
          - cpc
          - cpcv
          - cpv
          - cpp
          - cpa
          - flat_rate
          - time
        description: Filter products by pricing model
      - in: query
        name: storefrontIds
        schema:
          description: Filter products by storefront ID(s) (from `list_storefronts`).
          example:
          - 42
          - 57
          anyOf:
          - maxItems: 50
            type: array
            items:
              type: integer
              maximum: 9007199254740991
              minimum: 1
          - type: string
        description: Filter products by storefront ID(s) (from `list_storefronts`).
      - in: query
        name: storefrontNames
        schema:
          description: Filter products by storefront name (case-insensitive substring match).
          example:
          - Acme
          - Acme Exchange
          anyOf:
          - maxItems: 50
            type: array
            items:
              type: string
              maxLength: 255
          - type: string
        description: Filter products by storefront name (case-insensitive substring match).
      - in: query
        name: debug
        schema:
          description: When true, includes detailed ADCP agent request/response debug logs in the response for troubleshooting
          anyOf:
          - type: boolean
          - type: string
        description: When true, includes detailed ADCP agent request/response debug logs in the response for troubleshooting
      - in: query
        name: waitMode
        schema:
          description: '`quick` waits up to 30 seconds per storefront agent and returns partial results if slow agents miss the window. `long` waits up to 210 seconds per storefront agent; ask the user before using it.'
          example: quick
          default: quick
          type: string
          enum:
          - quick
          - long
        description: '`quick` waits up to 30 seconds per storefront agent and returns partial results if slow agents miss the window. `long` waits up to 210 seconds per storefront agent; ask the user before using it.'
      - in: query
        name: waitSeconds
        schema:
          description: Optional explicit per-storefront wait in seconds, max 210. Overrides waitMode. Ask the user before setting this above 30.
          example: 120
          type: integer
          maximum: 210
          minimum: 1
        description: Optional explicit per-storefront wait in seconds, max 210. Overrides waitMode. Ask the user before setting this above 30.
      - in: query
        name: sinceRevision
        schema:
          description: 'Progressive polling: return only seller groups that landed after this snapshot revision. Groups use REPLACE semantics — a group may be re-delivered at a later revision when more of its products land; replace it by groupId, never append. The response always carries the current `revision`, `resultsComplete`, and `pendingAgents`; poll again with the returned revision until `resultsComplete` is true, and stop polling after roughly the wait budget if it never turns true (the fan-out may have been interrupted).'
          example: 3
          type: integer
          minimum: 0
          maximum: 9007199254740991
        description: 'Progressive polling: return only seller groups that landed after this snapshot revision. Groups use REPLACE semantics — a group may be re-delivered at a later revision when more of its products land; replace it by groupId, never append. The response always carries the current `revision`, `resultsComplete`, and `pendingAgents`; poll again with the returned revision until `resultsComplete` is true, and stop polling after roughly the wait budget if it never turns true (the fan-out may have been interrupted).'
      - in: path
        name: discoveryId
        schema:
          description: Discovery ID
          example: abc123-def456-ghi789
          type: string
          minLength: 1
        required: true
        description: Discovery ID
      responses:
        '200':
          description: Browse products for discovery session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoverProductsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /discovery/{discoveryId}/products/{productId}/details:
    get:
      operationId: getProductDetails
      summary: Get product details
      description: Get the full detail view for a single discovered product — description, pricing, delivery windows, and creative format requirements. Requires the `salesAgentId` the product was discovered through.
      tags:
      - Product Discovery
      security:
      - bearerAuth: []
      parameters:
      - in: query
        name: salesAgentId
        schema:
          description: Sales agent ID for the product
          type: string
          minLength: 1
        required: true
        description: Sales agent ID for the product
      - in: path
        name: discoveryId
        schema:
          description: Discovery session id.
          type: string
          minLength: 1
        required: true
        description: Discovery session id.
      - in: path
        name: productId
        schema:
          description: Discovered product id.
          type: string
          minLength: 1
        required: true
        description: Discovered product id.
      responses:
        '200':
          description: Get product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveryProductDetail'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /discovery/{discoveryId}/products:
    get:
      operationId: getProducts
      summary: Get selected products
      description: Get the list of products that have been selected in this discovery session.
      tags:
      - Product Discovery
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: discoveryId
        schema:
          description: Discovery ID
          example: abc123-def456-ghi789
          type: string
          minLength: 1
        required: true
        description: Discovery ID
      responses:
        '200':
          description: Get selected products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionProductsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: addProducts
      summary: Add products to selection
      description: Add products to the selection. Products must have been discovered via GET /discovery/{discoveryId}/discover-products first.
      tags:
      - Product Discovery
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: discoveryId
        schema:
          description: Discovery ID
          example: abc123-def456-ghi789
          type: string
          minLength: 1
        required: true
        description: Discovery ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddProductsRequest'
      responses:
        '200':
          description: Add products to selection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionProductsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: removeProducts
      summary: Remove products from selection
      description: Remove products from the selection.
      tags:
      - Product Discovery
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: discoveryId
        schema:
          description: Discovery ID
          example: abc123-def456-ghi789
          type: string
          minLength: 1
        required: true
        description: Discovery ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveProductsRequest'
      responses:
        '200':
          description: Remove products from selection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionProductsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /discovery/{discoveryId}/apply-proposal:
    post:
      operationId: applyProposal
      summary: Apply a proposal
      description: Apply a sales agent proposal to auto-add products with recommended budget allocations. Requires discover-products to have been called first.
      tags:
      - Product Discovery
      security:
      - bearerAuth: []
      parameters:
      - in: path
        name: discoveryId
        schema:
          description: Discovery ID
          example: abc123-def456-ghi789
          type: string
          minLength: 1
        required: true
        description: Discovery ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyProposalRequest'
      responses:
        '200':
          description: Apply a proposal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyProposalResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    DiscoveryProductDetail:
      type: object
      properties:
        productId:
          type: string
        name:
          type: string
        description:
          type: string
        channel:
          type: string
        deliveryType:
          type: string
          enum:
          - guaranteed
          - non_guaranteed
        salesAgentId:
          type: string
        salesAgentName:
          type: string
        storefrontId:
          type: string
        storefrontName:
          type: string
        cpm:
          type: number
        currency:
          description: ISO currency code for `cpm`. Absent when unknown.
          type: string
      required:
      - productId
      - name
      additionalProperties: {}
    CreateDiscoveryCampaignBody:
      description: Request body for creating a discovery-mode campaign
      type: object
      properties:
        advertiserId:
          description: Advertiser ID that will own this campaign
          example: 12345
          type: integer
          maximum: 9007199254740991
          minimum: 1
        name:
          description: Name of the campaign
          example: Q1 2025 Campaign
          type: string
          minLength: 1
          maxLength: 255
        flightDates:
          description: Campaign flight dates
          type: object
          properties:
            startDate:
              description: Campaign start date (ISO 8601)
              example: '2025-01-15T00:00:00Z'
              type: string
              format: date-time
              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
            endDate:
              description: Campaign end date (ISO 8601)
              example: '2025-03-31T23:59:59Z'
              type: string
              format: date-time
              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
          required:
          - startDate
          - endDate
        budget:
          description: Campaign budget configuration
          type: object
          properties:
            total:
              type: number
              exclusiveMinimum: 0
            currency:
              description: Optional ISO 4217 currency. If provided it must match the advertiser's primary currency; otherwise the advertiser's currency is used. Campaigns cannot be created in a currency other than the advertiser's.
              type: string
              minLength: 3
              maxLength: 3
            dailyCap:
              type: number
              exclusiveMinimum: 0
            pacing:
              type: string
              enum:
              - EVEN
              - ASAP
              - FRONTLOADED
          required:
          - total
        brief:
          description: Natural language brief for product search context
          example: Looking for premium video inventory targeting tech enthusiasts
          type: string
          maxLength: 5000
        constraints:
          description: Campaign targeting constraints
          type: object
          properties:
            geo_countries:
              type: array
              items:
                type: string
            geo_countries_exclude:
              type: array
              items:
                type: string
            geo_regions:
              type: array
              items:
                type: string
            geo_regions_exclude:
              type: array
              items:
                type: string
            geo_metros:
              type: array
              items:
                type: object
                properties:
                  system:
                    anyOf:
                    - type: string
                      enum:
                      - nielsen_dma
                    - type: string
                      enum:
                      - uk_itl1
                    - type: string
                      enum:
                      - uk_itl2
                    - type: string
                      enum:
                      - eurostat_nuts2
                    - type: string
                      enum:
                      - custom
                  values:
                    type: array
                    items:
                      type: string
                required:
                - system
                - values
                additionalProperties: {}
            geo_metros_exclude:
              type: array
              items:
                type: object
                properties:
                  system:
                    anyOf:
                    - type: string
                      enum:
                      - nielsen_dma
                    - type: string
                      enum:
                      - uk_itl1
                    - type: string
                      enum:
                      - uk_itl2
                    - type: string
                      enum:
                      - eurostat_nuts2
                    - type: string
                      enum:
                      - custom
                  values:
                    type: array
                    items:
                      type: string
                required:
                - system
                - values
                additionalProperties: {}
            geo_postal_areas:
              type: array
              items:
                anyOf:
                - type: object
                  properties:
                    country:
                      type: string
                      pattern: ^[A-Z]{2}$
                    system:
                      anyOf:
                      - type: string
                        enum:
                        - postal_code
                      - type: string
                        enum:
                        - zip
                      - type: string
                        enum:
                        - zip_plus_four
                      - type: string
                        enum:
                        - outward
                      - type: string
                        enum:
                        - full
                      - type: string
                        enum:
                        - fsa
                      - type: string
                        enum:
                        - plz
                      - type: string
                        enum:
                        - code_postal
                      - type: string
                        enum:
                        - postcode
                      - type: string
                        enum:
                        - cep
                      - type: string
                        enum:
                        - pin
                      - type: string
                        enum:
                        - custom
                      - type: string
                        enum:
                        - us_zip
                      - type: string
                        enum:
                        - us_zip_plus_four
                      - type: string
                        enum:
                        - gb_outward
                      - type: string
                        enum:
                        - gb_full
                      - type: string
                        enum:
                        - ca_fsa
                      - type: string
                        enum:
                        - ca_full
                      - type: string
                        enum:
                        - de_plz
                      - type: string
                        enum:
                        - fr_code_postal
                      - type: string
                        enum:
                        - au_postcode
                      - type: string
                        enum:
                        - ch_plz
                      - type: string
                        enum:
                        - at_plz
                    values:
                      type: array
                      items:
                        type: string
                  required:
                  - country
                  - system
                  - values
                  additionalProperties: {}
                - type: object
                  properties:
                    system:
                      anyOf:
                      - type: string
                        enum:
                        - us_zip
                      - type: string
                        enum:
                        - us_zip_plus_four
                      - type: string
                        enum:
                        - gb_outward
                      - type: string
                        enum:
                        - gb_full
                      - type: string
                        enum:
                        - ca_fsa
                      - type: string
                        enum:
                        - ca_full
                      - type: string
                        enum:
                        - de_plz
                      - type: string
                        enum:
                        - fr_code_postal
                      - type: string
                        enum:
                        - au_postcode
                      - type: string
                        enum:
                        - ch_plz
                      - type: string
                        enum:
                        - at_plz
                    values:
                      type: array
                      items:
                        type: string
                  required:
                  - system
                  - values
                  additionalProperties: {}
            geo_postal_areas_exclude:
              type: array
              items:
                anyOf:
                - type: object
                  properties:
                    country:
                      type: string
                      pattern: ^[A-Z]{2}$
                    system:
                      anyOf:
                      - type: string
                        enum:
                        - postal_code
                      - type: string
                        enum:
                        - zip
                      - type: string
                        enum:
                        - zip_plus_four
                      - type: string
                        enum:
                        - outward
                      - type: string
                        enum:
                        - full
                      - type: string
                        enum:
                        - fsa
                      - type: string
                        enum:
                        - plz
                      - type: string
                        enum:
                        - code_postal
                      - type: string
                        enum:
                        - postcode
                      - type: string
                        enum:
                        - cep
                      - type: string
                        enum:
                        - pin
                      - type: string
                        enum:
                        - custom
                      - type: string
                        enum:
                        - us_zip
                      - type: string
                        enum:
                        - us_zip_plus_four
                      - type: string
                        enum:
                        - gb_outward
                      - type: string
                        enum:
                        - gb_full
                      - type: string
                        enum:
                        - ca_fsa
                      - type: string
                        enum:
                        - ca_full
                      - type: string
                        enum:
                        - de_plz
                      - type: string
                        enum:
                        - fr_code_postal
                      - type: string
                        enum:
                        - au_postcode
                      - type: string
                        enum:
                        - ch_plz
                      - type: string
                        enum:
                        - at_plz
                    values:
                      type: array
                      items:
                        type: string
                  required:
                  - country
                  - system
                  - values
                  additionalProperties: {}
                - type: object
                  properties:
                    system:
                      anyOf:
                      - type: string
                        enum:
                        - us_zip
                      - type: string
                        enum:
                        - us_zip_plus_four
                      - type: string
                        enum:
                        - gb_outward
                      - type: string
                        enum:
                        - gb_full
                      - type: string
                        enum:
                        - ca_fsa
                      - type: string
                        enum:
                        - ca_full
                      - type: string
                        enum:
                        - de_plz
                      - type: string
                        enum:
                        - fr_code_postal
                      - type: string
                        enum:
                        - au_postcode
                      - type: string
                        enum:
                        - ch_plz
                      - type: string
                        enum:
                        - at_plz
                    values:
                      type: array
                      items:
                        type: string
                  required:
                  - system
                  - values
                  additionalProperties: {}
            language:
              type: array
              items:
                type: string
            device_platform:
              type: array
              items:
                anyOf:
                - type: string
                  enum:
                  - ios
                - type: string
                  enum:
                  - android
                - type: string
                  enum:
                  - windows
                - type: string
                  enum:
                  - macos
                - type: string
                  enum:
                  - linux
                - type: string
                  enum:
                  - chromeos
                - type: string
                  enum:
                  - tvos
                - type: string
                  enum:
                  - tizen
                - type: string
                  enum:
                  - webos
                - type: string
                  enum:
                  - fire_os
                - type: string
                  enum:
                  - roku_os
                - type: string
                  enum:
                  - unknown
            device_type:
              type: array
              items:
                anyOf:
                - type: string
                  enum:
                  - desktop
                - type: string
                  enum:
                  - mobile
                - type: string
                  enum:
                  - tablet
                - type: string
                  enum:
                  - ctv
                - type: string
                  enum:
                  - dooh
                - type: string
                  enum:
                  - unknown
            device_type_exclude:
              type: array
              items:
                anyOf:
                - type: string
                  enum:
                  - desktop
                - type: string
                  enum:
                  - mobile
                - type: string
                  enum:
                  - tablet
                - type: string
                  enum:
                  - ctv
                - type: string
                  enum:
                  - dooh
                - type: string
                  enum:
                  - unknown
            channels:
              description: Channels to target (e.g., ["ctv", "display"])
              type: array
              items:
                type: string
            countries:
              description: 'Deprecated: use geo_countries. Countries to target (ISO 3166-1 alpha-2 codes). Values are normalized into geo_countries on write.'
              deprecated: true
              maxItems: 250
              type: array
              items:
                type: string
                pattern: ^[A-Z]{2}$
          additionalProperties: {}
        storefrontIds:
          description: Storefront IDs the campaign is limited to. When set, every `discover_products` run for this campaign auto-applies this filter — buyers do not need to resend it. Pass the IDs returned by `list_storefronts`. Highly encouraged so the campaign only sources inventory from sellers the buyer has chosen.
          example:
          - 42
          - 57
          maxItems: 50
          type: array
          items:
            type: integer
            maximum: 9007199254740991
            minimum: 1
        discoveryId:
          description: Attach an existing discovery session to the campaign
          example: abc123-def456-ghi789
          type: string
          minLength: 1
        productIds:
          description: Product IDs to pre-select from the discovery session (requires discoveryId)
          example:
          - prod_123
          - prod_456
          type: array
          items:
            type: string
        audienceConfig:
          description: Audience targeting and suppression configuration. On create, listed audiences are attached to the campaign.
          type: object
          properties:
            targetAudienceIds:
              description: Audience IDs to target with this campaign
              example:
              - aud_123
              - aud_456
              maxItems: 100
              type: array
              items:
                type: string
                minLength: 1
            suppressAudienceIds:
              description: Audience IDs to suppress (exclude) from this campaign
              example:
              - aud_789
              maxItems: 100
              type: array
              items:
                type: string
                minLength: 1
        performanceConfig:
          description: Performance optimization configuration
          allOf:
          - $ref: '#/components/schemas/PerformanceConfig'
        optimizationApplyMode:
          description: Controls whether Scope3 AI model optimizations to media buys are applied automatically or require manual approval. If omitted, inherits the advertiser-level setting.
          allOf:
          - $ref: '#/components/schemas/OptimizationApplyMode'
        catalogId:
          description: ID of a catalog (from the advertiser catalogs list) to attach to this campaign. Only one catalog may be attached per campaign.
          example: 42
          type: integer
          maximum: 9007199254740991
          minimum: 1
        pacingPeriods:
          description: Pacing schedule for the campaign. Defines time-based spend periods with varying intensity. In weight mode, budget is distributed proportionally by weighted days. In budget mode, explicit dollar amounts are set per period. Gaps between periods are treated as pauses (no spend). On execution, each product is split into one package per period with proportional budget.
          allOf:
          - $ref: '#/components/schemas/PacingPeriods'
        utmConfig:
          description: UTM (Urchin Tracking Module) parameter configuration for this campaign. Overrides advertiser-level defaults for matching param keys.
          allOf:
          - $ref: '#/components/schemas/CampaignUtmConfig'
        dataDelivery:
          $ref: '#/components/schemas/CampaignDataDeliveryInput'
        frequencyCaps:
          description: Buyer-side frequency cap configs to apply to this campaign. Enforced by Scope3 across all publishers.
          type: array
          items:
            $ref: '#/components/schemas/FrequencyCapConfigInput'
        mode:
          description: '"I have a brief; find it for me" — platform-managed.'
          type: string
          enum:
          - discovery
      required:
      - advertiserId
      - name
      - flightDates
      - budget
      - mode
    DiscoveryTraceDiagnostics:
      description: Advanced support diagnostics for tracing a discovery fan-out.
      type: object
      properties:
        traceId:
          description: OpenTelemetry trace ID for the discovery request/fan-out.
          example: 4bf92f3577b34da6a3ce929d0e0e4736
          type: string
        spanId:
          description: OpenTelemetry span ID for the request span that initiated the discovery fan-out.
          example: 00f067aa0ba902b7
          type: string
        traceparent:
          description: W3C traceparent value that can be pasted into internal tracing tools.
          example: 00-4bf92f3577b34da6a3ce929d0e0e4736-00f067aa0ba902b7-01
          type: string
      required:
      - traceId
      - spanId
      - traceparent
      additionalProperties: false
    PricingOptionData:
      description: Pricing option from a sales agent
      type: object
      properties:
        pricingOptionId:
          type: string
        pricingModel:
          type: string
        isFixed:
          type: boolean
        rate:
          type: number
        floorPrice:
          type: number
        fixedPrice:
          type: number
        currency:
          type: string
        priceGuidance:
          description: Cached auction guidance percentiles from the Sales Agent. These are estimates, not floors.
          type: object
          properties:
            floor:
              type:
              - number
              - 'null'
            p25:
              type:
              - number
              - 'null'
            p50:
              type:
              - number
              - 'null'
            p75:
              type:
              - number
              - 'null'
            p90:
              type:
              - number
              - 'null'
          additionalProperties: false
      additionalProperties: false
    SessionProductsResponse:
      description: Response containing selected products
      type: object
      properties:
        discoveryId:
          description: Discovery ID
          type: string
        products:
          description: Selected products in the discovery session
          type: array
          items:
            $ref: '#/components/schemas/SelectedProduct'
        totalProducts:
          description: Total number of selected products
          type: integer
          minimum: -9007199254740991
          maximum: 9007199254740991
        budgetContext:
          description: Budget allocation context
          allOf:
          - $ref: '#/components/schemas/BudgetContextResponse'
        campaignBound:
          description: Whether this discovery session is attached to an active campaign. When false, the products are saved to the session but no active campaign reflects them yet.
          type: boolean
        campaignWarning:
          description: 'Guidance shown only when campaignBound is false: either the session is not attached to any campaign, or the campaign it was attached to has been archived. Pass campaignId for an active campaign (or restore the archived one) so the campaign reflects the products.'
          type: string
      required:
      - discoveryId
      - products
      - totalProducts
      additionalProperties: false
    GetProductsBody:
      description: Canonical AdCP get_products request with optional Interchange multi-storefront and buyer-intelligence controls.
      type: object
      properties:
        adcp_version:
          type: string
        adcp_major_version:
          type: number
        buying_mode:
          anyOf:
          - type: string
            enum:
            - brief
          - type: string
            enum:
            - wholesale
          - type: string
            enum:
            - refine
        brief:
          type: string
        refine:
          type: array
          items:
            anyOf:
            - type: object
              properties:
                scope:
                  type: string
                  enum:
                  - request
                ask:
                  type: string
                  minLength: 1
              required:
              - scope
              - ask
              additionalProperties: {}
            - type: object
              properties:
                scope:
                  type: string
                  enum:
                  - product
                product_id:
                  type: string
                  minLength: 1
                action:
                  anyOf:
                  - type: string
                    enum:
                    - include
                  - type: string
                    enum:
                    - omit
                  - type: string
                    enum:
                    - more_like_this
                ask:
                  type: string
                  minLength: 1
              required:
              - scope
              - product_id
              additionalProperties: {}
            - type: object
              properties:
                scope:
                  type: string
                  enum:
                  - proposal
                proposal_id:
                  type: string
                  minLength: 1
                action:
                  anyOf:
                  - type: string
                    enum:
                    - include
                  - type: string
                    enum:
                    - omit
                  - type: string
                    enum:
                    - finalize
                ask:
                  type: string
                  minLength: 1
              required:
              - scope
              - proposal_id
              additionalProperties: {}
        brand:
          type: object
          properties:
            domain:
              type: string
              pattern: ^[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$
            brand_id:
              type: string
            industries:
              type: array
              items:
                type: string
            data_subject_contestation:
              type: object
              properties:
                url:
                  type: string
                  pattern: ^https:\/\/
                email:
                  type: string
                  format: email
                  pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                languages:
                  type: array
                  items:
                    type: string
              additionalProperties: {}
            brand_kit_override:
              type: object
              properties:
                logo:
                  type: object
                  properties:
                    asset_type:
                      type: string
                      enum:
                      - image
                    url:
                      type: string
                    width:
                      type: number
                      minimum: 1
                    height:
                      type: number
                      minimum: 1
                    format:
                      type: string
                    alt_text:
                      type: string
                    provenance:
                      type: object
                      properties:
                        digital_source_type:
                          anyOf:
                          - type: string
                            enum:
                            - digital_capture
                          - type: string
                            enum:
                            - digital_creation
                          - type: string
                            enum:
                            - trained_algorithmic_media
                          - type: string
                            enum:
                            - composite_with_trained_algorithmic_media
                          - type: string
                            enum:
                            - algorithmic_media
                          - type: string
                            enum:
                            - composite_capture
                          - type: string
                            enum:
                            - composite_synthetic
                          - type: string
                            enum:
                            - human_edits
                          - type: string
                            enum:
                            - data_driven_media
                        ai_tool:
                          type: object
                          properties:
                            name:
                              type: string
                            version:
                              type: string
                            provider:
                              type: string
                          required:
                          - name
                          additionalProperties: {}
                        human_oversight:
                          anyOf:
                          - type: string
                            enum:
                            - none
                          - type: string
                            enum:
                            - prompt_only
                          - type: string
                            enum:
                            - selected
                          - type: string
                            enum:
                            - edited
                          - type: string
                            enum:
                            - directed
                        declared_by:
                          type: object
                          properties:
                            agent_url:
                              type: string
                            role:
                              anyOf:
                              - type: string
                                enum:
                                - creator
                              - type: string
                                enum:
                                - advertiser
                              - type: string
                                enum:
                                - agency
                              - type: string
                                enum:
                                - platform
                              - type: string
                                enum:
                                - tool
                          required:
                          - role
                          additionalProperties: {}
                        declared_at:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        created_time:
                          type: string
                          format: date-time
                          pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                        c2pa:
                          type: object
                          properties:
                            manifest_url:
                              type: string
                          required:
                          - manifest_url
                          additionalProperties: {}
                        embedded_provenance:
                          type: array
                          items:
                            type: object
                            properties:
                              method:
                                anyOf:
                                - type: string
                                  enum:
                                  - manifest_wrapper
                                - type: string
                                  enum:
                                  - provenance_markers
                              standard:
                                type: string
                              provider:
                                type: string
                              verify_agent:
                                type: object
                                properties:
                                  agent_url:
                                    type: string
                                    pattern: ^https:\/\/
                                  feature_id:
                                    type: string
                                required:
                                - agent_url
                                additionalProperties: {}
                              embedded_at:
                                type: string
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                            required:
                            - method
                            - provider
                            additionalProperties: {}
                        watermarks:
                          type: array
                          items:
                            type: object
                            properties:
                              media_type:
                                anyOf:
                                - type: string
                                  enum:
                                  - audio
                                - type: string
                                  enum:
                                  - image
                                - type: string
                                  enum:
                                  - video
                                - type: string
                                  enum:
                                  - text
                              provider:
                                type: string
                              verify_agent:
                                type: object
                                properties:
                                  agent_url:
                                    type: string
                                    pattern: ^https:\/\/
                                  feature_id:
                                    type: string
                                required:
                                - agent_url
                                additionalProperties: {}
                              c2pa_action:
                                anyOf:
                                - type: string
                                  enum:
                                  - c2pa.watermarked.bound
                                - type: string
                                  enum:
                                  - c2pa.watermarked.unbound
                              embedded_at:
                                type: string
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                            required:
                            - media_type
                            - provider
                            additionalProperties: {}
                        disclosure:
                          type: object
                          properties:
                            required:
                              type: boolean
                            jurisdictions:
                              type: array
                              items:
                                type: object
                                properties:
                                  country:
                                    type: string
                                  region:
                                    type: string
                                  regulation:
                                    type: string
                                  label_text:
                                    type: string
                                  render_guidance:
                                    type: object
                                    properties:
                                      persistence:
                                        anyOf:
                                        - type: string
                                          enum:
                                          - continuous
                                        - type: string
                                          enum:
                                          - initial
                                        - type: string
                                          enum:
                                          - flexible
                                      min_duration_ms:
                                        type: number
                                        minimum: 1
                                      positions:
                                        type: array
                                        items:
                                          anyOf:
                                          - type: string
                                            enum:
                                            - prominent
                                          - type: string
                                            enum:
                                            - footer
                                          - type: string
                                            enum:
                                            - audio
                                          - type: string
                                            enum:
                                            - subtitle
                                          - type: string
                                            enum:
                                            - overlay
                                          - type: string
                                            enum:
                                            - end_card
                                          - type: string
                                            enum:
                                            - pre_roll
                                          - type: string
                                            enum:
                                            - companion
                                      ext:
                                        type: object
                                        properties: {}
                                        additionalProperties: {}
                                    additionalProperties: {}
                                required:
                                - country
                                - regulation
                                additionalProperties: {}
                          required:
                          - required
                          additionalProperties: {}
                        verification:
                          type: array
                          items:
                            type: object
                            properties:
                              verified_by:
                                type: string
                              verified_time:
                                type: string
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                              result:
                                anyOf:
                                - type: string
                                  enum:
                                  - authentic
                                - type: string
                                  enum:
                                  - ai_generated
                                - type: string
                                  enum:
                                  - ai_modified
                                - type: string
                                  enum:
                                  - inconclusive
                              confidence:
                                type: number
                                minimum: 0
                                maximum: 1
                              details_url:
                                type: string
                            required:
                            - verified_by
                            - result
                            additionalProperties: {}
                        ext:
                          type: object
                          properties: {}
                          additionalProperties: {}
                      additionalProperties: {}
                  required:
                  - asset_type
                  - url
                  - width
                  - height
                  additionalProperties: {}
                colors:
                  type: object
                  properties:
                    primary:
                      type: string
                      pattern: ^#[0-9a-fA-F]{6}$
                    secondary:
                      type: string
                      pattern: ^#[0-9a-fA-F]{6}$
                    accent:
                      type: string
                      pattern: ^#[0-9a-fA-F]{6}$
                  additionalProperties: {}
                voice:
                  type: string
                tagline:
                  type: string
              additionalProperties: {}
          required:
          - domain
          additionalProperties: {}
        catalog:
          type: object
          properties:
            catalog_id:
              type: string
            name:
              type: string
            type:
              anyOf:
              - type: string
                enum:
                - offering
              - type: string
                enum:
                - product
              - type: string
                enum:
                - inventory
              - type: string
                enum:
                - store
              - type: string
                enum:
                - promotion
              - type: string
                enum:
                - hotel
              - type: string
                enum:
                - flight
              - type: string
                enum:
                - job
              - type: string
                enum:
                - vehicle
              - type: string
                enum:
                - real_estate
              - type: string
                enum:
                - education
              - type: string
                enum:
                - destination
              - type: string
                enum:
                - app
            url:
              type: string
            feed_format:
              anyOf:
              - type: string
                enum:
                - google_merchant_center
              - type: string
                enum:
                - facebook_catalog
              - type: string
                enum:
                - shopify
              - type: string
                enum:
                - linkedin_jobs
              - type: string
                enum:
                - tiktok_shop
              - type: string
                enum:
                - pinterest_catalog
              - type: string
                enum:
                - openai_product_feed
              - type: string
                enum:
                - custom
            update_frequency:
              anyOf:
              - type: string
                enum:
                - realtime
              - type: string
                enum:
                - hourly
              - type: string
                enum:
                - daily
              - type: string
                enum:
                - weekly
            items:
              type: array
              items:
                type: object
                properties: {}
                additionalProperties: {}
            ids:
              type: array
              items:
                type: string
            gtins:
              type: array
              items:
                type: string
            tags:
              type: array
              items:
                type: string
            category:
              type: string
            query:
              type: string
            conversion_events:
              type: array
              items:
                anyOf:
                - type: string
                  enum:
                  - page_view
                - type: string
                  enum:
                  - view_content
                - type: string
                  enum:
                  - select_content
                - type: string
                  enum:
                  - select_item
                - type: string
                  enum:
                  - search
                - type: string
                  enum:
                  - share
                - type: string
                  enum:
                  - add_to_cart
                - type: string
                  enum:
                  - remove_from_cart
                - type: string
                  enum:
                  - viewed_cart
                - type: string
                  enum:
                  - add_to_wishlist
                - type: string
                  enum:
                  - initiate_checkout
                - type: string
                  enum:
                  - add_payment_info
                - type: string
                  enum:
                  - purchase
                - type: string
                  enum:
                  - refund
                - type: string
                  enum:
                  - lead
                - type: string
                  enum:
                  - qualify_lead
                - type: string
                  enum:
                  - close_convert_lead
                - type: string
                  enum:
                  - disqualify_lead
                - type: string
                  enum:
                  - complete_registration
                - type: string
                  enum:
                  - subscribe
                - type: string
                  enum:
                  - follow
                - type: string
                  enum:
                  - content_view
                - type: string
                  enum:
                  - watch_milestone
                - type: string
                  enum:
                  - start_trial
                - type: string
                  enum:
                  - app_install
                - type: string
                  enum:
                  - app_launch
                - type: string
                  enum:
                  - contact
                - type: string
                  enum:
                  - schedule
                - type: string
                  enum:
                  - donate
                - type: string
                  enum:
                  - submit_application
                - type: string
                  enum:
                  - custom
            content_id_type:
              anyOf:
              - type: string
                enum:
                - sku
              - type: string
                enum:
                - gtin
              - type: string
                enum:
                - offering_id
              - type: string
                enum:
                - job_id
              - type: string
                enum:
                - hotel_id
              - type: string
                enum:
                - flight_id
              - type: string
                enum:
                - vehicle_id
              - type: string
                enum:
                - listing_id
              - type: string
                enum:
                - store_id
              - type: string
                enum:
                - program_id
              - type: string
                enum:
                - destination_id
              - type: string
                enum:
                - app_id
            feed_field_mappings:
              type: array
              items:
                type: object
                properties:
                  feed_field:
                    type: string
                  catalog_field:
                    type: string
                  asset_group_id:
                    type: string
                  value: {}
                  transform:
                    anyOf:
                    - type: string
                      enum:
                      - date
                    - type: string
                      enum:
                      - divide
                    - type: string
                      enum:
                      - boolean
                    - type: string
                      enum:
                      - split
                  format:
                    type: string
                  timezone:
                    type: string
                  by:
                    type: number
                  separator:
                    type: string
                  default: {}
                  ext:
                    type: object
                    properties: {}
                    additionalProperties: {}
                additionalProperties: {}
          required:
          - type
          additionalProperties: {}
        account:
          anyOf:
          - type: object
            properties:
              account_id:
                type: string
            required:
            - account_id
            additionalProperties: {}
          - type: object
            properties:
              brand:
                type: object
                properties:
                  domain:
                    type: string
                    pattern: ^[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$
                  brand_id:
                    type: string
                  industries:
                    type: array
                    items:
                      type: string
                  data_subject_contestation:
                    type: object
                    properties:
                      url:
                        type: string
                        pattern: ^https:\/\/
                      email:
                        type: string
                        format: email
                        pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                      languages:
                        type: array
                        items:
                          type: string
                    additionalProperties: {}
                  brand_kit_override:
                    type: object
                    properties:
                      logo:
                        type: object
                        properties:
                          asset_type:
                            type: string
                            enum:
                            - image
                          url:
                            type: string
                          width:
                            type: number
                            minimum: 1
                          height:
                            type: number
                            minimum: 1
                          format:
                            type: string
                          alt_text:
                            type: string
                          provenance:
                            type: object
                            properties:
                              digital_source_type:
                                anyOf:
                                - type: string
                                  enum:
                                  - digital_capture
                                - type: string
                                  enum:
                                  - digital_creation
                                - type: string
                                  enum:
                                  - trained_algorithmic_media
                                - type: string
                                  enum:
                                  - composite_with_trained_algorithmic_media
                                - type: string
                                  enum:
                                  - algorithmic_media
                                - type: string
                                  enum:
                                  - composite_capture
                                - type: string
                                  enum:
                                  - composite_synthetic
                                - type: string
                                  enum:
                                  - human_edits
                                - type: string
                                  enum:
                                  - data_driven_media
                              ai_tool:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  version:
                                    type: string
                                  provider:
                                    type: string
                                required:
                                - name
                                additionalProperties: {}
                              human_oversight:
                                anyOf:
                                - type: string
                                  enum:
                                  - none
                                - type: string
                                  enum:
                                  - prompt_only
                                - type: string
                                  enum:
                                  - selected
                                - type: string
                                  enum:
                                  - edited
                                - type: string
                                  enum:
                                  - directed
                              declared_by:
                                type: object
                                properties:
                                  agent_url:
                                    type: string
                                  role:
                                    anyOf:
                                    - type: string
                                      enum:
                                      - creator
                                    - type: string
                                      enum:
                                      - advertiser
                                    - type: string
                                      enum:
                                      - agency
                                    - type: string
                                      enum:
                                      - platform
                                    - type: string
                                      enum:
                                      - tool
                                required:
                                - role
                                additionalProperties: {}
                              declared_at:
                                type: string
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                              created_time:
                                type: string
                                format: date-time
                                pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                              c2pa:
                                type: object
                                properties:
                                  manifest_url:
                                    type: string
                                required:
                                - manifest_url
                                additionalProperties: {}
                              embedded_provenance:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    method:
                                      anyOf:
                                      - type: string
                                        enum:
                                        - manifest_wrapper
                                      - type: string
                                        enum:
                                        - provenance_markers
                                    standard:
                                      type: string
                                    provider:
                                      type: string
                                    verify_agent:
                                      type: object
                                      properties:
                                        agent_url:
                                          type: string
                                          pattern: ^https:\/\/
                                        feature_id:
                                          type: string
                                      required:
                                      - agent_url
                                      additionalProperties: {}
                                    embedded_at:
                                      type: string
                                      format: date-time
                                      pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                                  required:
                                  - method
                                  - provider
                                  additionalProperties: {}
                              watermarks:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    media_type:
                                      anyOf:
                                      - type: string
                                        enum:
                                        - audio
                                      - type: string
                                        enum:
                                        - image
                                      - type: string
                                        enum:
                                        - video
                                      - type: string
                                        enum:
                                        - text
                                    provider:
                                      type: string
                                    verify_agent:
                                      type: object
                                      properties:
                                        agent_url:
                                          type: string
                                          pattern: ^https:\/\/
                                        feature_id:
                                          type: string
                                      required:
                                      - agent_url
                                      additionalProperties: {}
                                    c2pa_action:
                                      anyOf:
                                      - type: string
                                        enum:
                                        - c2pa.watermarked.bound
                                      - type: string
                                        enum:
                                        - c2pa.watermarked.unbound
                                    embedded_at:
                                      type: string
                                      format: date-time
                                      pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                                  required:
                                  - media_type
                                  - provider
                                  additionalProperties: {}
                              disclosure:
                                type: object
                                properties:
                                  required:
                                    type: boolean
                                  jurisdictions:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        country:
                                          type: string
                                        region:
                                          type: string
                                        regulation:
                                          type: string
                                        label_text:
                                          type: string
                                        render_guidance:
                                          type: object
                                          properties:
                                            persistence:
                                              anyOf:
                                              - type: string
                                                enum:
                                                - continuous
                                              - type: string
                                                enum:
                                                - initial
                                              - type: string
                                                enum:
                                                - flexible
                                            min_duration_ms:
                                              type: number
                                              minimum: 1
                                            positions:
                                              type: array
                                              items:
                                                anyOf:
                                                - type: string
                                                  enum:
                                                  - prominent
                                                - type: string
                                                  enum:
                                                  - footer
                                                - type: string
                                                  enum:
                                                  - audio
                                                - type: string
                                                  enum:
                                                  - subtitle
                                                - type: string
                                                  enum:
                                                  - overlay
                                                - type: string
                                                  enum:
                                                  - end_card
                                                - type: string
                                                  enum:
                                                  - pre_roll
                                                - type: string
                                                  enum:
                                                  - companion
                                            ext:
                                              type: object
                                              properties: {}
                                              additionalProperties: {}
                                          additionalProperties: {}
                                      required:
                                      - country
                                      - regulation
                                      additionalProperties: {}
                                required:
                                - required
                                additionalProperties: {}
                              verification:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    verified_by:
                                      type: string
                                    verified_time:
                                      type: string
                                      format: date-time
                                      pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
                                    result:
                                      anyOf:
                                      - type: string
                                        enum:
                                        - authentic
                                      - type: string
                                        enum:
                                        - ai_generated
                                      - type: string
                                        enum:
                                        - ai_modified
                                      - type: string
                                        enum:
                                        - inconclusive
                                    confidence:
                                      type: number
                                      minimum: 0
                                      maximum: 1
                                    details_url:
                                      type: string
                                  required:
                                  - verified_by
                                  - result
                                  additionalProperties: {}
                              ext:
                                type: object
                                properties: {}
                                additionalProperties: {}
                            additionalProperties: {}
                        required:
                        - asset_type
                        - url
                        - width
                        - height
                        additionalProperties: {}
                      colors:
                        type: object
                        properties:
                          primary:
                            type: string
                            pattern: ^#[0-9a-fA-F]{6}$
                          secondary:
                            type: string
                            pattern: ^#[0-9a-fA-F]{6}$
                          accent:
                            type: string
                            pattern: ^#[0-9a-fA-F]{6}$
                        additionalProperties: {}
                      voice:
                        type: string
                      tagline:
                        type: string
                    additionalProperties: {}
                required:
                - domain
                additionalProperties: {}
              operator:
                type: string
                pattern: ^[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$
              sandbox:
                type: boolean
            required:
            - brand
            - operator
            additionalProperties: {}
        preferred_delivery_types:
          type: array
          items:
            anyOf:
            - type: string
              enum:
              - guaranteed
            - type: string
              enum:
              - non_guaranteed
        filters:
          type: object
          properties:
            delivery_type:
              anyOf:
              - type: string
                enum:
                - guaranteed
              - type: string
                enum:
                - non_guaranteed
            exclusivity:
              anyOf:
              - type: string
                enum:
                - none
              - type: string
                enum:
                - category
              - type: string
                enum:
                - exclusive
            is_fixed_price:
              type: boolean
            pricing_currencies:
              type: array
              items:
                type: string
            format_ids:
              type: array
              items:
                type: object
                properties:
                  agent_url:
                    type: string
                  id:
                    type: string
                    pattern: ^[a-zA-Z0-9_-]+$
                  width:
                    type: number
                    minimum: 1
                  height:
                    type: number
                    minimum: 1
                  duration_ms:
                    type: number
                    minimum: 1
                required:
                - agent_url
                - id
                additionalProperties: {}
            standard_formats_only:
              type: boolean
            min_exposures:
              type: number
              minimum: 1
            start_date:
              type: string
              format: date
              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))$
            end_date:
              type: string
              format: date
              pattern: ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))$
            budget_range:
              type: object
              properties:
                min:
                  type: number
                  minimum: 0
                max:
                  type: number
                  minimum: 0
                currency:
                  type: string
                  pattern: ^[A-Z]{3}$
              required:
              - currency
              additionalProperties: {}
            countries:
              type: array
              items:
                type: string
            regions:
              type: array
              items:
                type: string
            metros:
              type: array
              items:
                type: object
                properties:
                  system:
                    anyOf:
                    - type: string
                      enum:
                      - nielsen_dma
                    - type: string
                      enum:
                      - uk_itl1
                    - type: string
                      enum:
                      - uk_itl2
                    - type: string
                      enum:
                      - eurostat_nuts2
                    - type: string
                      enum:
                      - custom
                  code:
                    type: string
                required:
                - system
                - code
                additionalProperties: {}
            channels:
              type: array
              items:
                anyOf:
                - type: string
                  enum:
                  - display
                - type: string
                  enum:
                  - olv
                - type: string
                  enum:
                  - social
                - type: string
                  enum:
                  - search
                - type: string
                  enum:
                  - ctv
                - type: string
                  enum:
                  - linear_tv
                - type: string
                  enum:
                  - radio
                - type: string
                  enum:
                  - streaming_audio
                - type: string
                  enum:
                  - podcast
                - type: string
                  enum:
                  - dooh
                - type: string
                  enum:
                  - ooh
                - type: string
                  enum:
                  - print
                - type: string
                  enum:
                  - cinema
                - type: string
                  enum:
                  - email
                - type: string
                  enum:
                  - gaming
                - type: string
                  enum:
                  - retail_media
                - type: string
                  enum:
                  - influencer
                - type: string
                  enum:
                  - affiliate
                - type: string
                  enum:
                  - product_placement
                - type: string
                  enum:
                  - sponsored_intelligence
            video_placement_types:
              type: array
              items:
                anyOf:
                - type: string
                  enum:
                  - instream
                - type: string
                  enum:
                  - accompanying_content
                - type: string
                  enum:
                  - interstitial
                - type: string
                  enum:
                  - standalone
            audio_distribution_types:
              type: array
              items:
                anyOf:
                - type: string
                  enum:
                  - music_streaming_service
                - type: string
                  enum:
                  - fm_am_broadcast
                - type: string
                  enum:
                  - podcast
                - type: string
                  enum:
                  - catch_up_radio
                - type: string
                  enum:
                  - web_radio
                - type: string
                  enum:
                  - video_game
                - type: string
                  enum:
                  - text_to_speech
            sponsored_placement_types:
              type: array
              items:
                anyOf:
                - type: string
                  enum:
                  - sponsored_search
                - type: string
                  enum:
                  - sponsored_display
                - type: string
                  enum:
                  - sponsored_native
            social_placement_surfaces:
              type: array
              items:
                anyOf:
                - type: string
                  enum:
                  - feed
                - type: string
                  enum:
                  - stories
                - type: string
                  enum:
                  - short_video
                - type: string
                  enum:
                  - explore
                - type: string
                  enum:
                  - search
            required_axe_integrations:
              type: array
              items:
                type: string
            trusted_match:
              type: object
              properties:
                providers:
                  type: array
                  items:
                    type: object
                    properties:
                      agent_url:
                        type: string
                      context_match:
                        type: boolean
                      identity_match:
                        type: boolean
                    required:
                    - agent_url
[...]
