# This OpenAPI specification is auto-generated
# DO NOT EDIT THIS FILE MANUALLY
# API Type: STOREFRONT
# API Version: V2

openapi: 3.0.0
info:
  title: Scope3 Storefront API
  version: 2.0.0
  description: |-
    REST API for partners to manage storefronts, inventory sources, and billing.

    ## Authentication

    All endpoints require a Bearer token in the Authorization header:
    ```
    Authorization: Bearer your-api-key
    ```

    ## Base URL

    `https://api.interchange.io/api/v2/storefront`

    ## For AI Agents

    AI agents can use the MCP endpoint at `/mcp/v2/storefront` with three tools:
    - `initialize`: Start an MCP session
    - `api_call`: Make REST API calls
    - `ask_about_capability`: Learn about API features
servers:
  - url: https://api.interchange.io/api/v2/storefront
    description: Production server
tags:
  - name: Account
    description: Account management, service tokens, and preferences
  - name: Asks
    description: What you are waiting on Scope3 for — support, product, and supply asks in one list
  - name: Storefront
    description: Manage storefront and inventory sources
  - name: Storefront Agents
    description: List and manage registered sales, signals, and outcomes agents
  - name: Storefront Activity
    description: Audit log of configuration and inventory changes on the storefront
  - name: Storefront Billing
    description: Payout bank details and billing configuration for storefronts
  - name: AI Usage
    description: Storefront AI token usage visibility by model
  - name: MCP
    description: Model Context Protocol endpoints
paths:
  /activity/calls:
    servers:
      - url: /api/v2
        description: Shared customer API base URL
    get:
      operationId: listActivityCalls
      summary: List API calls
      description: List normalized customer API calls with stable workload, run, outcome, latency, and correlation metadata.
      tags:
        - Activity
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: startTime
          schema:
            type: string
            format: date-time
            pattern: >-
              ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        - in: query
          name: endTime
          schema:
            type: string
            format: date-time
            pattern: >-
              ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
        - in: query
          name: workloadUid
          schema:
            type: string
            format: uuid
            pattern: >-
              ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
        - in: query
          name: runUid
          schema:
            type: string
            format: uuid
            pattern: >-
              ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
        - in: query
          name: clientRunId
          schema:
            description: >-
              Caller-supplied correlation identifier. Cross-check workloadUid, runUid, apiVersion, and time bounds for
              provenance.
            type: string
            pattern: ^[A-Za-z0-9._:-]{1,128}$
        - in: query
          name: advertiserId
          schema:
            type: string
            pattern: ^\d+$
        - in: query
          name: environment
          schema:
            type: string
            enum:
              - production
              - sandbox
              - unknown
              - not_applicable
        - in: query
          name: outcome
          schema:
            type: string
            enum:
              - succeeded
              - accepted
              - denied
              - failed
              - cancelled
              - unknown
        - in: query
          name: operation
          schema:
            type: string
            minLength: 1
            maxLength: 240
        - in: query
          name: surface
          schema:
            type: string
            enum:
              - rest
              - mcp
              - a2a
        - in: query
          name: includeDiagnostics
          schema:
            default: 'false'
            type: string
            enum:
              - 'true'
              - 'false'
        - in: query
          name: includeProtocol
          schema:
            default: 'false'
            type: string
            enum:
              - 'true'
              - 'false'
        - in: query
          name: limit
          schema:
            default: 50
            type: integer
            maximum: 200
            minimum: 1
        - in: query
          name: cursor
          schema:
            type: string
            minLength: 1
            maxLength: 2000
      responses:
        '200':
          description: List API calls
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListActivityCallsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /activity/calls/{activityUid}:
    servers:
      - url: /api/v2
        description: Shared customer API base URL
    get:
      operationId: getActivityCall
      summary: Get API call detail
      description: Get one authorized customer API call and its safe timing and diagnostic detail.
      tags:
        - Activity
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: activityUid
          schema:
            type: string
            format: uuid
            pattern: >-
              ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
          required: true
      responses:
        '200':
          description: Get API call detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityCallDetailResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reporting/metrics:
    get:
      operationId: getStorefrontReportingMetrics
      summary: Get storefront reporting
      description: >-
        Get reporting metrics for every media buy the Merchandising Agent participates in through the Storefront
        inventory sources. The Storefront does not own the underlying media buys; reporting is visible because the
        Merchandising Agent is the ADCP party to those transactions. The response is hierarchical for view=summary,
        source-aware flat leaf-by-day rows for view=timeseries, or a signed CSV download descriptor when download=true.
      tags:
        - Reporting
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: inventorySourceId
          schema:
            description: >-
              Filter to media buys flowing through a single inventory source (storefront_inventory_source.source_id).
              When omitted, includes every inventory source on the storefront.
            type: string
          description: >-
            Filter to media buys flowing through a single inventory source (storefront_inventory_source.source_id). When
            omitted, includes every inventory source on the storefront.
        - in: query
          name: startDate
          schema:
            description: Start date in ISO format (YYYY-MM-DD)
            example: '2026-01-01'
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          description: Start date in ISO format (YYYY-MM-DD)
        - in: query
          name: endDate
          schema:
            description: End date in ISO format (YYYY-MM-DD)
            example: '2026-01-31'
            type: string
            pattern: ^\d{4}-\d{2}-\d{2}$
          description: End date in ISO format (YYYY-MM-DD)
        - in: query
          name: days
          schema:
            description: 'Number of days to include (default: 7, min: 1, max: 90).'
            example: 7
            default: 7
            type: integer
            minimum: 1
            maximum: 90
          description: 'Number of days to include (default: 7, min: 1, max: 90).'
        - in: query
          name: view
          schema:
            description: >-
              Response format: "summary" for hierarchical advertiser/media-buy/package breakdown, "timeseries" for flat
              per-day rows.
            default: summary
            type: string
            enum:
              - summary
              - timeseries
          description: >-
            Response format: "summary" for hierarchical advertiser/media-buy/package breakdown, "timeseries" for flat
            per-day rows.
        - in: query
          name: download
          schema:
            description: When true, generates a CSV file and returns a signed download URL instead of JSON data
            default: false
            type: boolean
          description: When true, generates a CSV file and returns a signed download URL instead of JSON data
        - in: query
          name: demo
          schema:
            description: When true, returns auto-generated demo data instead of querying real data sources
            default: false
            type: boolean
          description: When true, returns auto-generated demo data instead of querying real data sources
        - in: query
          name: sourceBreakdown
          schema:
            description: >-
              When true, timeseries rows are split by each contributing inventory source. The default preserves the
              legacy media-buy/package/date row grain.
            default: 'false'
            type: string
            enum:
              - 'true'
              - 'false'
          description: >-
            When true, timeseries rows are split by each contributing inventory source. The default preserves the legacy
            media-buy/package/date row grain.
      responses:
        '200':
          description: Get storefront reporting
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: '#/components/schemas/StorefrontReportingMetricsResponse'
                  - $ref: '#/components/schemas/StorefrontReportingMetricsTimeseriesResponse'
                  - $ref: '#/components/schemas/ReportingMetricsExportResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /reporting/margin:
    get:
      operationId: getStorefrontMarginReporting
      summary: Get storefront margin (P&L) reporting
      description: >-
        The curator's resale P&L from the spread ledger: booked vs realized buy/sell/spread and margin %, rolled up
        buyer → media buy → package → source leg. Sourced from the storefront spread ledger (not BigQuery delivery);
        amounts are signed and never summed across settlement currencies. Cumulative as-of snapshot — there is no
        per-day timeseries.
      tags:
        - Reporting
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: inventorySourceId
          schema:
            description: >-
              Narrow to the buy legs sourced from a single inventory source (storefront_spread_ledger.source_id). When
              omitted, includes every source on the storefront.
            type: string
          description: >-
            Narrow to the buy legs sourced from a single inventory source (storefront_spread_ledger.source_id). When
            omitted, includes every source on the storefront.
        - in: query
          name: buyerCustomerId
          schema:
            description: Narrow to a single buyer customer. Can only narrow within the calling storefront — it never widens scope.
            type: integer
            maximum: 9007199254740991
            minimum: 1
          description: Narrow to a single buyer customer. Can only narrow within the calling storefront — it never widens scope.
      responses:
        '200':
          description: Get storefront margin (P&L) reporting
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorefrontMarginReportingResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /account-mappings/summary:
    get:
      operationId: getSellerAccountMappingSummary
      summary: Get seller account mapping summary
      description: Get seller-owned relationship and active inventory-source coverage counts for the Buyer Account Mapping Page.
      tags:
        - Storefront
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Get seller account mapping summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerAccountMappingSummary'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /account-mappings:
    get:
      operationId: listSellerAccountRelationships
      summary: List seller account relationships
      description: >-
        List the seller-owned operator-and-brand relationships and their private coverage across active inventory
        sources.
      tags:
        - Storefront
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: offset
          schema:
            default: 0
            type: integer
            minimum: 0
            maximum: 9007199254740991
        - in: query
          name: limit
          schema:
            default: 50
            type: integer
            minimum: 1
            maximum: 100
        - in: query
          name: search
          schema:
            type: string
            maxLength: 200
      responses:
        '200':
          description: List seller account relationships
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerAccountMappingList'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /account-mappings/export:
    get:
      operationId: exportSellerAccountMappings
      summary: Export seller account mappings
      description: >-
        Export the normalized source-mapping template, current healthy mappings, and active source-account choices as
        formula-safe, byte-bounded CSV documents.
      tags:
        - Storefront
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Export seller account mappings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerAccountMappingExport'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /account-mappings/reviews:
    get:
      operationId: listSellerAccountGrantReviews
      summary: List pending buyer account requests
      description: >-
        List buyer account requests awaiting a seller decision, including the optimistic-lock version required for each
        decision.
      tags:
        - Storefront
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: offset
          schema:
            default: 0
            type: integer
            minimum: 0
            maximum: 9007199254740991
        - in: query
          name: limit
          schema:
            default: 50
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: List pending buyer account requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerAccountGrantReviewList'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /account-mappings/reviews/{grantId}/decision:
    post:
      operationId: decideSellerAccountGrantReview
      summary: Decide a pending buyer account request
      description: >-
        Approve a pending buyer account request for Interchange-cleared billing, or reject it with a required reason.
        The expected version prevents decisions against stale review state.
      tags:
        - Storefront
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: grantId
          schema:
            anyOf:
              - type: integer
                format: int64
              - type: string
              - type: number
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecideSellerAccountGrantReviewBody'
      responses:
        '200':
          description: Decide a pending buyer account request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerAccountGrantReviewDecision'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /account-mappings/sources/{inventorySourceId}/refresh:
    post:
      operationId: refreshSellerAccountSourceAccounts
      summary: Refresh managed ad-server account choices
      description: >-
        Refresh the authenticated, bounded advertiser roster for one managed Google Ad Manager or FreeWheel inventory
        source. Other managed providers and modular sources fail closed.
      tags:
        - Storefront
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: inventorySourceId
          schema:
            anyOf:
              - type: integer
                format: int64
              - type: string
              - type: number
          required: true
      responses:
        '200':
          description: Refresh managed ad-server account choices
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedSourceAccountRefreshResult'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Inventory source not found for this storefront.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /account-mappings/imports/prepare:
    post:
      operationId: prepareSellerAccountBindingFeed
      summary: Prepare a private seller account mapping feed upload
      description: >-
        ADMIN-only. Reserve an immutable feed revision and return a short-lived signed PUT capability for exactly one
        source_account_bindings.csv. The upload bucket is private and lifecycle-deleted.
      tags:
        - Storefront
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepareSellerAccountBindingFeed'
      responses:
        '200':
          description: Prepare a private seller account mapping feed upload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerAccountBindingFeedPrepareResult'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Admin role required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /account-mappings/imports/{revisionId}/preview:
    post:
      operationId: previewSellerAccountBindingFeed
      summary: Validate and preview a seller account mapping feed
      description: >-
        ADMIN-only. Verify the immutable uploaded object, quarantine invalid rows, and issue a short-lived preview token
        tied to the exact mapping state and impact.
      tags:
        - Storefront
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: revisionId
          schema:
            type: string
            format: uuid
            pattern: >-
              ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
          required: true
      responses:
        '200':
          description: Validate and preview a seller account mapping feed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerAccountBindingFeedPreviewResult'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Admin role required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /account-mappings/imports/{revisionId}/commit:
    post:
      operationId: commitSellerAccountBindingFeed
      summary: Atomically commit a seller account mapping feed
      description: >-
        ADMIN-only. Apply the exact reviewed mapping set with compare-and-swap guards. Manual mappings and mappings
        owned by another feed are never overwritten; snapshot omissions affect only mappings owned by this feed.
      tags:
        - Storefront
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: revisionId
          schema:
            type: string
            format: uuid
            pattern: >-
              ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommitSellerAccountBindingFeed'
      responses:
        '200':
          description: Atomically commit a seller account mapping feed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerAccountBindingFeedCommitResult'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Admin role required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /account-mappings/imports/{revisionId}:
    get:
      operationId: getSellerAccountBindingFeedRevision
      summary: Get seller account mapping feed revision status
      description: >-
        ADMIN-only. Read the tenant-scoped lifecycle, diagnostics, and impact of one source-account mapping feed
        revision.
      tags:
        - Storefront
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: revisionId
          schema:
            type: string
            format: uuid
            pattern: >-
              ^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$
          required: true
      responses:
        '200':
          description: Get seller account mapping feed revision status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerAccountBindingFeedRevision'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Admin role required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /usage/by-model:
    get:
      operationId: getStorefrontAiUsageByModel
      summary: Get storefront AI usage by model over time
      description: >-
        Get customer-borne storefront AI token usage grouped by day and model. Customer scope is always derived from the
        authenticated organization.
      tags:
        - AI Usage
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: since
          schema:
            type: string
            format: date-time
            pattern: >-
              ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
      responses:
        '200':
          description: Get storefront AI usage by model over time
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    items:
                      type: object
                      properties:
                        model:
                          type: string
                        inputTokens:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        outputTokens:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        cacheCreationInputTokens:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        cacheReadInputTokens:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        totalTokens:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        costMicroUsd:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        costUsd:
                          type: number
                          minimum: 0
                        callCount:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        day:
                          type: string
                      required:
                        - model
                        - inputTokens
                        - outputTokens
                        - cacheCreationInputTokens
                        - cacheReadInputTokens
                        - totalTokens
                        - costMicroUsd
                        - costUsd
                        - callCount
                        - day
                      additionalProperties: false
                required:
                  - rows
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /usage/summary:
    get:
      operationId: getStorefrontAiUsageSummary
      summary: Get storefront AI usage summary
      description: >-
        Get customer-borne storefront AI token usage summarized by model. Estimated costs are pre-billing visibility
        values, not customer charges.
      tags:
        - AI Usage
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: since
          schema:
            type: string
            format: date-time
            pattern: >-
              ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z))$
      responses:
        '200':
          description: Get storefront AI usage summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  rows:
                    type: array
                    items:
                      type: object
                      properties:
                        model:
                          type: string
                        inputTokens:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        outputTokens:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        cacheCreationInputTokens:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        cacheReadInputTokens:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        totalTokens:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        costMicroUsd:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                        costUsd:
                          type: number
                          minimum: 0
                        callCount:
                          type: integer
                          minimum: 0
                          maximum: 9007199254740991
                      required:
                        - model
                        - inputTokens
                        - outputTokens
                        - cacheCreationInputTokens
                        - cacheReadInputTokens
                        - totalTokens
                        - costMicroUsd
                        - costUsd
                        - callCount
                      additionalProperties: false
                  totals:
                    type: object
                    properties:
                      inputTokens:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                      outputTokens:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                      cacheCreationInputTokens:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                      cacheReadInputTokens:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                      totalTokens:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                      costMicroUsd:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                      costUsd:
                        type: number
                        minimum: 0
                      callCount:
                        type: integer
                        minimum: 0
                        maximum: 9007199254740991
                    required:
                      - inputTokens
                      - outputTokens
                      - cacheCreationInputTokens
                      - cacheReadInputTokens
                      - totalTokens
                      - costMicroUsd
                      - costUsd
                      - callCount
                    additionalProperties: false
                  topModel:
                    nullable: true
                    type: string
                required:
                  - rows
                  - totals
                  - topModel
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /asks:
    servers: &ref_0
      - url: https://api.interchange.io/api/v2
        description: Production server
    get:
      operationId: listAsks
      summary: List my asks
      description: >-
        Everything the authenticated customer is waiting on Scope3 for, in one list. Read-only and scoped to the
        caller's own account; there is no customer parameter. `statusKey` uses the same customer-safe vocabulary for
        every kind: `received`, `accepted`, `in_progress`, `done`, or `closed`. Internal workflow states and work-item
        identifiers never appear. Closing an issue or merging a pull request does not close a support, product, or
        commercial ask: explicitly linked work must appear in a verified production release. Supply and integration asks
        may also finish from their own customer-visible live-state evidence. Asks completed through a verified release
        remain observable for 90 days with their customer-safe resolution. When `hasMore` is true, pass `nextCursor`
        back as `cursor` to read the next page. When a source cannot be read, its kind appears in `unavailableKinds` so
        a degraded response is never mistaken for an empty list.
      tags:
        - Asks
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: limit
          schema:
            description: Maximum asks to return, ordered by the most recent customer-visible update.
            default: 10
            type: integer
            minimum: 1
            maximum: 25
          description: Maximum asks to return, ordered by the most recent customer-visible update.
        - in: query
          name: cursor
          schema:
            description: Opaque cursor returned by the previous ask-list response.
            type: string
            minLength: 1
            maxLength: 512
          description: Opaque cursor returned by the previous ask-list response.
      responses:
        '200':
          description: List my asks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AsksResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /supply-requests/suggestions:
    servers: *ref_0
    get:
      operationId: suggestSupplyRequests
      summary: Suggest requested supply
      description: Search the AAO registry for seller/operator/publisher domains to use when filing customer-requested supply.
      tags:
        - Supply Requests
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: q
          schema:
            type: string
            minLength: 2
            maxLength: 120
          required: true
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 25
      responses:
        '200':
          description: Suggest requested supply
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplyRequestSuggestionsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /supply-requests:
    servers: *ref_0
    get:
      operationId: listSupplyRequests
      summary: List requested supply
      description: >-
        List the authenticated customer's platform-scoped requested supply from DemandContext. A Linear customer
        association is optional and is not required for this operation.
      tags:
        - Supply Requests
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 250
      responses:
        '200':
          description: List requested supply
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplyRequestListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: requestSupply
      summary: Request supply
      description: >-
        Record a customer-requested seller/operator/publisher domain and channel in DemandContext. The request is scoped
        to the authenticated platform customer, does not require or create a Linear customer, and de-dupes active asks
        for the same domain/channel.
      tags:
        - Supply Requests
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  minLength: 1
                channel:
                  type: string
                  minLength: 1
                geo:
                  type: string
                  minLength: 1
                launchDate:
                  type: string
                  minLength: 1
                desiredSupply:
                  anyOf:
                    - type: string
                      minLength: 1
                      maxLength: 4000
                    - type: string
                      nullable: true
                      enum:
                        - null
                notes:
                  type: string
                  minLength: 1
                  maxLength: 4000
              required:
                - domain
                - channel
      responses:
        '200':
          description: Request supply
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestSupplyResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /supply-requests/remove:
    servers: *ref_0
    post:
      operationId: removeSupplyRequest
      summary: Remove requested supply
      description: >-
        Remove a specific seller/operator/publisher domain and channel from the authenticated customer's DemandContext
        asks. The operation is platform-customer scoped, does not require a Linear customer association, and is
        idempotent; if no active matching request exists, the response returns removed=false.
      tags:
        - Supply Requests
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                domain:
                  type: string
                  minLength: 1
                channel:
                  type: string
                  minLength: 1
              required:
                - domain
                - channel
      responses:
        '200':
          description: Remove requested supply
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveSupplyRequestResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/current:
    servers: *ref_0
    get:
      operationId: getCurrentAccount
      summary: Get current account
      description: Get the authenticated user's current customer account context.
      tags:
        - Account
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Get current account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentAccountResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts:
    servers: *ref_0
    get:
      operationId: listCustomerAccounts
      summary: List customer accounts
      description: List all customer accounts the authenticated user has active membership on.
      tags:
        - Account
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List customer accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCustomerAccountsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/liveness:
    servers: *ref_0
    get:
      operationId: getAccountsLiveness
      summary: Get storefront liveness for accounts
      description: >-
        Batched storefront liveness for the requested seller customer ids — one derived verdict per storefront (setup,
        live, live_attention, or live_critical) computed from persisted signals, powering the per-storefront status dot
        in the account switcher. Ids the caller cannot access are silently omitted.
      tags:
        - Account
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: customerIds
          schema:
            description: >-
              Comma-separated seller customer ids to resolve liveness for (e.g. "123,456"). Ids the caller cannot access
              are silently omitted from the response; when absent or empty the response map is empty.
            type: string
          description: >-
            Comma-separated seller customer ids to resolve liveness for (e.g. "123,456"). Ids the caller cannot access
            are silently omitted from the response; when absent or empty the response map is empty.
      responses:
        '200':
          description: Get storefront liveness for accounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorefrontLivenessBatchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/create-child:
    servers: *ref_0
    post:
      operationId: createChildAccount
      summary: Create child account
      description: >-
        Create a new child customer account. For standalone customers, creates a parent/child hierarchy first. Requires
        ADMIN role.
      tags:
        - Account
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChildAccountBody'
      responses:
        '201':
          description: Create child account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChildAccountResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{customerId}/domain:
    servers: *ref_0
    patch:
      operationId: updateCustomerDomain
      summary: Update customer domain
      description: >-
        Update a customer's registered organization domain. Requires ADMIN role on the target customer (direct
        membership, parent admin via the customer hierarchy, or SuperAdmin).
      tags:
        - Account
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: customerId
          schema:
            description: Customer ID
            example: '200'
            type: string
            minLength: 1
          required: true
          description: Customer ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerDomainBody'
      responses:
        '200':
          description: Update customer domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCustomerDomainResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{customerId}:
    servers: *ref_0
    delete:
      operationId: deleteChildAccount
      summary: Delete child account
      description: >-
        Hard-delete a child customer account. Only CHILD customers can be deleted, and the caller must be an ADMIN on
        the parent (or a Scope3 SuperAdmin). Refuses with 409 if the child still has linked resources.
      tags:
        - Account
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: customerId
          schema:
            description: Customer ID
            example: '200'
            type: string
            minLength: 1
          required: true
          description: Customer ID
      responses:
        '204':
          description: No content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /accounts/{customerId}/membership:
    servers: *ref_0
    get:
      operationId: getMembershipSettings
      summary: Get membership settings
      description: Get membership settings for a customer org, including whether domain auto-join is enabled. Requires ADMIN role.
      tags:
        - Account
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: customerId
          schema:
            description: Customer ID
            example: '200'
            type: string
            minLength: 1
          required: true
          description: Customer ID
      responses:
        '200':
          description: Get membership settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipSettingsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      operationId: updateMembershipSettings
      summary: Update membership settings
      description: >-
        Update membership settings for a customer org. Requires ADMIN role and a registered customer domain to enable
        domain auto-join.
      tags:
        - Account
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: customerId
          schema:
            description: Customer ID
            example: '200'
            type: string
            minLength: 1
          required: true
          description: Customer ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMembershipSettingsBody'
      responses:
        '200':
          description: Update membership settings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MembershipSettingsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /browser-origins:
    servers: *ref_0
    get:
      operationId: listBrowserOrigins
      summary: List browser origins
      description: >-
        List exact browser origins allowed to call Interchange MCP and OAuth endpoints from the selected account.
        Admin-only. Customer-managed origins are CORS-enabled without credentialed cookie access; browser clients must
        use OAuth or explicit bearer tokens.
      tags:
        - Account
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List browser origins
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserOriginsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Admin role required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createBrowserOrigin
      summary: Register browser origin
      description: >-
        Register an exact HTTPS browser origin for browser-based MCP and OAuth calls. Provide only the origin, such as
        `https://mcp.example.com`; do not include paths, redirects, wildcards, query strings, fragments, or non-HTTPS
        schemes. Admin-only.
      tags:
        - Account
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBrowserOriginBody'
      responses:
        '201':
          description: Register browser origin
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserOrigin'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Admin role required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /browser-origins/{id}:
    servers: *ref_0
    delete:
      operationId: deleteBrowserOrigin
      summary: Delete browser origin
      description: Archive a browser origin so it no longer receives CORS access for browser-based MCP and OAuth calls. Admin-only.
      tags:
        - Account
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            description: Browser origin registration ID
            type: string
            pattern: ^[1-9]\d*$
          required: true
          description: Browser origin registration ID
      responses:
        '204':
          description: No content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Admin role required.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No active browser origin with this id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications:
    servers: *ref_0
    get:
      operationId: listNotifications
      summary: List notifications
      description: >-
        List notifications for the authenticated user, newest first, with unread/acknowledged filtering and pagination.
        The response includes the total and unread counts.
      tags:
        - Notifications
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: brandAgentId
          schema:
            type: number
        - in: query
          name: campaignId
          schema:
            type: string
        - in: query
          name: creativeId
          schema:
            type: string
        - in: query
          name: status
          schema:
            type: string
            enum:
              - success
              - error
              - warning
              - info
        - in: query
          name: types
          schema:
            type: string
        - in: query
          name: unreadOnly
          schema:
            type: string
            enum:
              - 'true'
              - 'false'
        - in: query
          name: limit
          schema:
            type: number
            minimum: 1
            maximum: 100
        - in: query
          name: offset
          schema:
            type: number
            minimum: 0
      responses:
        '200':
          description: List notifications
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorefrontNotificationListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/read-all:
    servers: *ref_0
    post:
      operationId: readAllNotifications
      summary: Mark all notifications as read
      description: Mark all notifications as read for the authenticated user. Optionally scope to a single `brandAgentId`.
      tags:
        - Notifications
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                brandAgentId:
                  type: number
      responses:
        '200':
          description: Mark all notifications as read
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/{notificationId}/read:
    servers: *ref_0
    post:
      operationId: readNotification
      summary: Mark notification as read
      description: Mark a single notification as read.
      tags:
        - Notifications
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: notificationId
          schema:
            description: Notification id.
            type: string
            minLength: 1
          required: true
          description: Notification id.
      responses:
        '200':
          description: Mark notification as read
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationActionResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No notification with this id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notifications/{notificationId}/acknowledge:
    servers: *ref_0
    post:
      operationId: acknowledgeNotification
      summary: Acknowledge notification
      description: Acknowledge a single notification, dismissing it from active surfaces.
      tags:
        - Notifications
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: notificationId
          schema:
            description: Notification id.
            type: string
            minLength: 1
          required: true
          description: Notification id.
      responses:
        '200':
          description: Acknowledge notification
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationActionResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No notification with this id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /release-updates:
    servers: *ref_0
    get:
      operationId: listReleaseUpdates
      summary: List personalized release updates
      description: >-
        List deployed release-manifest entries for the authenticated account and role. Use `for_you` for broad and
        deterministically matched configured or affected features, `explore` for ungated features the role can
        investigate, or `all` for the complete role-appropriate history.
      tags:
        - Release Updates
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: scope
          schema:
            default: for_you
            type: string
            enum:
              - for_you
              - explore
              - all
        - in: query
          name: since
          schema:
            type: string
            format: date-time
            pattern: >-
              ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
        - in: query
          name: skip
          schema:
            default: 0
            type: integer
            minimum: 0
            maximum: 9007199254740991
        - in: query
          name: take
          schema:
            default: 20
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: List personalized release updates
          content:
            application/json:
              schema:
                type: object
                properties:
                  scope:
                    type: string
                    enum:
                      - for_you
                      - explore
                      - all
                  updates:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        version:
                          type: string
                        releasedAt:
                          type: string
                          format: date-time
                          pattern: >-
                            ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                        description:
                          type: string
                        tier:
                          type: string
                          enum:
                            - fix
                            - improvement
                            - feature
                            - headline
                        audience:
                          nullable: true
                          type: string
                          enum:
                            - buyers
                            - sellers
                            - all
                        feature:
                          nullable: true
                          type: object
                          properties:
                            key:
                              type: string
                            title:
                              type: string
                            description:
                              type: string
                            maturity:
                              nullable: true
                              type: string
                              enum:
                                - alpha
                                - beta
                                - ga
                                - retired
                            docsUrl:
                              nullable: true
                              type: string
                              format: uri
                          required:
                            - key
                            - title
                            - description
                            - maturity
                            - docsUrl
                          additionalProperties: false
                        relevance:
                          type: array
                          items:
                            type: string
                            enum:
                              - affected
                              - configured
                              - eligible
                              - enrolled
                              - using
                        reason:
                          type: string
                          enum:
                            - affected
                            - configured
                            - broad
                            - explore
                            - history
                        unread:
                          type: boolean
                      required:
                        - id
                        - version
                        - releasedAt
                        - description
                        - tier
                        - audience
                        - feature
                        - relevance
                        - reason
                        - unread
                      additionalProperties: false
                  totalCount:
                    type: integer
                    minimum: 0
                    maximum: 9007199254740991
                  unreadCount:
                    type: integer
                    minimum: 0
                    maximum: 9007199254740991
                  lastSeenAt:
                    nullable: true
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                  hasMore:
                    type: boolean
                  generatedAt:
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                required:
                  - scope
                  - updates
                  - totalCount
                  - unreadCount
                  - lastSeenAt
                  - hasMore
                  - generatedAt
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /release-updates/seen:
    servers: *ref_0
    post:
      operationId: markReleaseUpdatesSeen
      summary: Mark release updates as seen
      description: Advance the authenticated user’s release-update watermark. Watermarks only move forward.
      tags:
        - Release Updates
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                seenThrough:
                  type: string
                  format: date-time
                  pattern: >-
                    ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
              required:
                - seenThrough
      responses:
        '200':
          description: Mark release updates as seen
          content:
            application/json:
              schema:
                type: object
                properties:
                  seenThrough:
                    type: string
                    format: date-time
                    pattern: >-
                      ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))T(?:(?:[01]\d|2[0-3]):[0-5]\d(?::[0-5]\d(?:\.\d+)?)?(?:Z|([+-](?:[01]\d|2[0-3]):[0-5]\d)))$
                required:
                  - seenThrough
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notification-preferences:
    servers: *ref_0
    get:
      operationId: getNotificationPreferences
      summary: Get notification preferences
      description: Get notification opt-in preferences for the authenticated user.
      tags:
        - Account
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Get notification preferences
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateNotificationPreferences
      summary: Update notification preferences
      description: Set notification opt-in preferences for the authenticated user. Replaces all existing opt-ins.
      tags:
        - Account
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                optIns:
                  maxItems: 200
                  type: array
                  items:
                    type: object
                    properties:
                      notificationType:
                        description: >-
                          Notification event type to opt into. The enum is shared across personas, but each event type
                          delivers only to the customer role it is scoped to — storefront.* and inventory_source.*
                          deliver to SELLER customers; campaign.*, creative approval outcomes, and
                          media_buy_update_proposal.* deliver to BUYER customers. Opting into an event type outside your
                          role delivers nothing.
                        type: string
                        enum:
                          - brand_agent.created
                          - brand_agent.updated
                          - brand_agent.deleted
                          - campaign.healthy
                          - campaign.unhealthy
                          - campaign.created
                          - campaign.updated
                          - campaign.deleted
                          - campaign.completed
                          - creative.approved
                          - creative.rejected
                          - creative.changes_requested
                          - creative.sync_started
                          - creative.sync_completed
                          - creative.sync_failed
                          - creative.created
                          - creative.updated
                          - creative.deleted
                          - strategy.created
                          - strategy.updated
                          - strategy.deleted
                          - media_buy.created
                          - media_buy.updated
                          - media_buy.deleted
                          - media_buy_update_proposal.approved
                          - media_buy_update_proposal.rejected
                          - media_buy_update_proposal.expired
                          - salesagent.available
                          - salesagent.unavailable
                          - salesagent.registered
                          - salesagent.unregistered
                          - salesagent.updated
                          - salesagent.sync_action_required
                          - signalsagent.registered
                          - signalsagent.unregistered
                          - signalsagent.updated
                          - signalsagent.signal_activated
                          - signalsagent.signals_fetched
                          - outcomesagent.registered
                          - outcomesagent.unregistered
                          - outcomesagent.updated
                          - syndication.completed
                          - syndication.failed
                          - audience.synced
                          - audience.sync_failed
                          - optimization.suggestion_received
                          - optimization.suggestion_approved
                          - optimization.suggestion_rejected
                          - optimization.suggestion_applied
                          - optimization.suggestion_failed
                          - system.warning
                          - system.error
                          - learning_cycle.completed
                          - learning_cycle.failed
                          - hypothesis.status_changed
                          - hypothesis.review_requested
                          - hypothesis.proven
                          - hypothesis.disproven
                          - measurement.received
                          - measurement.stale
                          - opportunity.evaluated
                          - opportunity.recommended
                          - opportunity.flagged
                          - opportunity.explore
                          - storefront.composition_paused
                          - storefront.products_not_traffickable
                          - storefront_adapter_credential.action_required
                          - storefront_adapter_connection.mapping_required
                          - inventory_source.unhealthy
                          - inventory_source.recovered
                          - source.action_required
                          - source.action_resolved
                          - storefront.supply_nudge
                          - storefront.liveness_degraded
                          - storefront.liveness_recovered
                          - provider_fleet.incident_opened
                          - provider_fleet.incident_recovered
                          - media_buy.approval_requested
                          - creative.review_requested
                          - ad_server.approval_requested
                          - inventory_shortfall.review_requested
                          - storefront.media_buy_forward_failed
                          - storefront.media_buy_moderation_aging
                          - murph_room.mentioned
                          - ask.resolved
                      channel:
                        type: string
                        enum:
                          - email
                          - in_app
                    required:
                      - notificationType
                      - channel
              required:
                - optIns
      responses:
        '200':
          description: Update notification preferences
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /notification-delivery-preferences:
    servers: *ref_0
    get:
      operationId: getNotificationDeliveryPreferences
      summary: Get Slack notification settings
      description: >-
        Get Product Updates and source outage alert settings for the account’s primary Murph Slack channel. If the
        account has no connected channel, `destination` is `null` and `configurable` is `false`.
      tags:
        - Account
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Get Slack notification settings
          content:
            application/json:
              schema:
                type: object
                properties:
                  adapter:
                    type: string
                    enum:
                      - slack
                  destination:
                    nullable: true
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        nullable: true
                        type: string
                      isPrimary:
                        type: boolean
                    required:
                      - id
                      - name
                      - isPrimary
                    additionalProperties: false
                  configurable:
                    type: boolean
                  preferences:
                    type: array
                    items:
                      oneOf:
                        - type: object
                          properties:
                            stream:
                              type: string
                              enum:
                                - product_updates
                            enabled:
                              type: boolean
                          required:
                            - stream
                            - enabled
                          additionalProperties: false
                        - type: object
                          properties:
                            stream:
                              type: string
                              enum:
                                - source_health_alerts
                            enabled:
                              type: boolean
                            thresholdMinutes:
                              type: integer
                              maximum: 9007199254740991
                              minimum: 1
                          required:
                            - stream
                            - enabled
                            - thresholdMinutes
                          additionalProperties: false
                      type: object
                required:
                  - adapter
                  - destination
                  - configurable
                  - preferences
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateNotificationDeliveryPreference
      summary: Update a Slack notification setting
      description: >-
        Turn Product Updates on or off, or configure source outage alerts for the account’s primary Murph Slack channel.
        Source outage alerts can be turned on or off and sent after 10, 30, or 60 minutes.
      tags:
        - Account
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  properties:
                    stream:
                      type: string
                      enum:
                        - product_updates
                    enabled:
                      type: boolean
                  required:
                    - stream
                    - enabled
                  additionalProperties: false
                - type: object
                  properties:
                    stream:
                      type: string
                      enum:
                        - source_health_alerts
                    enabled:
                      type: boolean
                    thresholdMinutes:
                      anyOf:
                        - type: number
                          enum:
                            - 10
                        - type: number
                          enum:
                            - 30
                        - type: number
                          enum:
                            - 60
                  required:
                    - stream
                  additionalProperties: false
              type: object
      responses:
        '200':
          description: Update a Slack notification setting
          content:
            application/json:
              schema:
                type: object
                properties:
                  adapter:
                    type: string
                    enum:
                      - slack
                  destination:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        nullable: true
                        type: string
                      isPrimary:
                        type: boolean
                    required:
                      - id
                      - name
                      - isPrimary
                    additionalProperties: false
                  configurable:
                    type: boolean
                    enum:
                      - true
                  preference:
                    oneOf:
                      - type: object
                        properties:
                          stream:
                            type: string
                            enum:
                              - product_updates
                          enabled:
                            type: boolean
                        required:
                          - stream
                          - enabled
                        additionalProperties: false
                      - type: object
                        properties:
                          stream:
                            type: string
                            enum:
                              - source_health_alerts
                          enabled:
                            type: boolean
                          thresholdMinutes:
                            type: integer
                            maximum: 9007199254740991
                            minimum: 1
                        required:
                          - stream
                          - enabled
                          - thresholdMinutes
                        additionalProperties: false
                    type: object
                required:
                  - adapter
                  - destination
                  - configurable
                  - preference
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No Slack channel is connected to this account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /moderation/check:
    servers: *ref_0
    post:
      operationId: checkModeration
      summary: Pre-check content against moderation policy
      description: >-
        Runs the content-moderation engine against the supplied text WITHOUT blocking. Returns structured findings
        (category, severity, suggestion) so buyer agents can validate input before submitting it to a campaign create or
        other blocking surface. Mirrors the engine that powers `POST /v2/campaigns` brief screening.
      tags:
        - Moderation
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  description: The text to evaluate. Up to 10,000 characters; longer text is truncated server-side.
                  type: string
                  minLength: 1
                  maxLength: 10000
                direction:
                  description: >-
                    Which pattern set to apply. "input" runs the brief/jailbreak/policy patterns; "output" runs the
                    LLM-output (refusal/identity/PII) patterns.
                  default: input
                  type: string
                  enum:
                    - input
                    - output
                surface:
                  description: Optional surface label for metric attribution. Defaults to "moderation.check".
                  default: moderation.check
                  type: string
                  minLength: 1
                  maxLength: 100
              required:
                - text
      responses:
        '200':
          description: Pre-check content against moderation policy
          content:
            application/json:
              schema:
                type: object
                properties:
                  passed:
                    description: True when no moderation patterns matched.
                    type: boolean
                  wouldBlock:
                    description: >-
[...]
