# This OpenAPI specification is auto-generated
# DO NOT EDIT THIS FILE MANUALLY
# API Type: BUYER
# API Version: V2

openapi: 3.0.0
info:
  title: Scope3 Buyer API
  version: 2.0.0
  description: |-
    REST API for advertisers to manage advertisers, campaigns, and reporting.

    ## Authentication

    All endpoints require a Bearer token in the Authorization header:
    ```
    Authorization: Bearer your-api-key
    ```

    ## Base URL

    `https://api.interchange.io/api/v2/buyer`

    ## For AI Agents

    AI agents can use the MCP endpoint at `/mcp/v2/buyer` with three tools:
    - `initialize`: Start an MCP session
    - `api_call`: Make REST API calls
    - `ask_about_capability`: Learn about API features
servers:
  - url: https://api.interchange.io/api/v2/buyer
    description: Production server
tags:
  - name: Signup
    description: Request reviewed access to Interchange
  - name: Account
    description: Account management, service tokens, and preferences
  - name: Asks
    description: What you are waiting on Scope3 for — support, product, and supply asks in one list
  - name: Advertisers
    description: Manage advertisers
  - name: Product Discovery
    description: Discover and select products
  - name: Campaigns
    description: Manage advertising campaigns
  - name: Creatives
    description: Build, manage, and sync campaign creatives via AdCP Creative Protocol
  - name: Reporting
    description: Access performance metrics
  - name: Event Sources
    description: Manage event source configurations and log conversion/marketing events for attribution
  - name: Property Lists
    description: Validate property lists against AAO registry
  - name: Sales Agents
    description: View and connect sales agents
  - name: Measurement
    description: Measurement sources, records, context, and freshness
  - name: Syndication
    description: Syndicate resources to ADCP agents
  - name: Tasks
    description: Track async operation status
  - name: Buyer Billing
    description: Consolidated invoicing for buyers — invoices and pending invoice items issued by Scope3 across the buyer customer.
  - name: MCP
    description: Model Context Protocol endpoints for AI agents
paths:
  /auth/buyer-signup-intake:
    servers:
      - url: https://api.interchange.io
        description: Production signup service
    post:
      operationId: submitBuyerSignupIntake
      summary: Request buyer access
      description: >-
        Submit buyer qualification for human review. This public form does not create an account, grant access, or
        establish organization or email ownership.
      tags:
        - Signup
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  maxLength: 254
                  format: email
                  pattern: ^(?!\.)(?!.*\.\.)([A-Za-z0-9_'+\-\.]*)[A-Za-z0-9_+-]@([A-Za-z0-9][A-Za-z0-9\-]*\.)+[A-Za-z]{2,}$
                first_name:
                  type: string
                  minLength: 1
                  maxLength: 80
                last_name:
                  type: string
                  minLength: 1
                  maxLength: 80
                company:
                  type: string
                  minLength: 1
                  maxLength: 200
                role:
                  nullable: true
                  type: string
                  enum:
                    - brand
                    - agency
                intent:
                  nullable: true
                  type: string
                  enum:
                    - self_service
                    - assisted_pilot
                    - evaluate
                    - integration_partnership
                    - campaign_management
                    - agent_connection
                agent_name:
                  nullable: true
                  type: string
                  minLength: 1
                  maxLength: 200
                source:
                  default: agentic-signup
                  type: string
                  enum:
                    - agentic-signup
                    - agentic-login
                    - marketing-site
                use_case:
                  nullable: true
                  type: string
                  maxLength: 1000
                intended_markets:
                  default: []
                  maxItems: 249
                  type: array
                  items:
                    type: string
                    minLength: 2
                    maxLength: 32
                intended_channels:
                  default: []
                  maxItems: 22
                  type: array
                  items:
                    type: string
                    enum:
                      - display
                      - olv
                      - social
                      - search
                      - ctv
                      - linear_tv
                      - radio
                      - streaming_audio
                      - podcast
                      - dooh
                      - ooh
                      - print
                      - cinema
                      - email
                      - gaming
                      - retail_media
                      - influencer
                      - affiliate
                      - product_placement
                      - sponsored_intelligence
                      - audio
                      - other
                pilot_budget:
                  nullable: true
                  type: string
                  minLength: 1
                  maxLength: 100
                pilot_timing:
                  nullable: true
                  type: string
                  enum:
                    - ready_now
                    - one_to_three_months
                    - later
                self_service_experience:
                  nullable: true
                  type: boolean
                prelaunch_slack_consent:
                  nullable: true
                  type: boolean
                website:
                  type: string
                  maxLength: 500
              required:
                - email
                - first_name
                - last_name
                - company
      responses:
        '201':
          description: Request buyer access
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    enum:
                      - true
                  data:
                    type: object
                    properties:
                      ok:
                        type: boolean
                        enum:
                          - true
                      org_ref:
                        nullable: true
                        type: string
                      qualification_route:
                        type: string
                        enum:
                          - solutions_review
                          - market_nurture
                          - manual_review
                    required:
                      - ok
                      - org_ref
                      - qualification_route
                    additionalProperties: false
                required:
                  - success
                  - data
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers:
    get:
      operationId: listAdvertisers
      summary: List advertisers
      description: List all advertisers with optional filtering and pagination.
      tags:
        - Advertisers
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            description: Filter by advertiser status. Use ALL to include both active and archived. Defaults to ACTIVE.
            default: ACTIVE
            type: string
            enum:
              - ACTIVE
              - ARCHIVED
              - ALL
          description: Filter by advertiser status. Use ALL to include both active and archived. Defaults to ACTIVE.
        - in: query
          name: name
          schema:
            description: Filter by advertiser name (case-insensitive, partial match)
            example: Acme
            type: string
          description: Filter by advertiser name (case-insensitive, partial match)
        - in: query
          name: linkedAccountPartnerId
          schema:
            description: Filter to advertisers linked to at least one account from this partner / sales agent ID.
            example: snap
            type: string
          description: Filter to advertisers linked to at least one account from this partner / sales agent ID.
        - in: query
          name: sandbox
          schema:
            description: >-
              Filter by sandbox mode. true returns only sandbox advertisers, false returns only production advertisers.
              Omit to return all.
            type: boolean
          description: >-
            Filter by sandbox mode. true returns only sandbox advertisers, false returns only production advertisers.
            Omit to return all.
        - in: query
          name: includeBrand
          schema:
            description: >-
              When true, include linked brand identity data on advertiser summary rows so creative agents can use brand
              logos, colors, tone, and catalog data.
            type: boolean
          description: >-
            When true, include linked brand identity data on advertiser summary rows so creative agents can use brand
            logos, colors, tone, and catalog data.
        - in: query
          name: limit
          schema:
            description: 'Maximum number of advertisers to return per page (default: 100, max: 100)'
            example: 100
            default: 100
            type: integer
            maximum: 100
            minimum: 1
          description: 'Maximum number of advertisers to return per page (default: 100, max: 100)'
        - in: query
          name: offset
          schema:
            description: 'Number of advertisers to skip for pagination (default: 0)'
            example: 0
            default: 0
            type: integer
            minimum: 0
            maximum: 9007199254740991
          description: 'Number of advertisers to skip for pagination (default: 0)'
      responses:
        '200':
          description: List advertisers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createAdvertiser
      summary: Create advertiser
      description: Create a new advertiser. Advertisers are the top-level entity for campaigns.
      tags:
        - Advertisers
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdvertiserBody'
      responses:
        '201':
          description: Create advertiser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertiser'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /all-advertisers-home:
    get:
      operationId: listAllAdvertisersHome
      summary: List all advertisers home
      description: >-
        Pre-assembled data for the buyer "All Advertisers Landing" widget: advertiser rows (brand kit, campaign count,
        resumable-draft flag) plus a portfolio summary. Money rollups (`managed`/`tracked`) are always null pending
        AI-5642; `attention`/`nextAction` are omitted pending AI-5643.
      tags:
        - Advertisers
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List all advertisers home
          content:
            application/json:
              schema:
                type: object
                properties:
                  portfolio:
                    type: object
                    properties:
                      tracked:
                        type: string
                      managed:
                        type: string
                      waitingOnYou:
                        type: number
                    required:
                      - tracked
                      - managed
                      - waitingOnYou
                    additionalProperties: false
                  advertisers:
                    type: array
                    items:
                      type: object
                      properties:
                        advertiserId:
                          type: string
                        name:
                          type: string
                        initials:
                          type: string
                        brandColors:
                          type: object
                          additionalProperties:
                            type: string
                        logoUrl:
                          type: string
                        logoTileColor:
                          type: string
                        logoFill:
                          type: boolean
                        managed:
                          nullable: true
                          type: string
                        tracked:
                          nullable: true
                          type: string
                        campaignCount:
                          type: number
                        resumableDraft:
                          type: boolean
                        attention:
                          type: object
                          properties:
                            flags:
                              type: array
                              items:
                                type: object
                                properties:
                                  label:
                                    type: string
                                  tone:
                                    type: string
                                    enum:
                                      - critical
                                      - needsAction
                                      - info
                                required:
                                  - label
                                  - tone
                                additionalProperties: false
                          required:
                            - flags
                          additionalProperties: false
                        nextAction:
                          type: object
                          properties:
                            label:
                              type: string
                          required:
                            - label
                          additionalProperties: false
                      required:
                        - advertiserId
                        - name
                        - initials
                        - managed
                        - tracked
                        - campaignCount
                        - resumableDraft
                      additionalProperties: false
                  currentAdvertiserId:
                    type: string
                required:
                  - portfolio
                  - advertisers
                additionalProperties: false
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}:
    get:
      operationId: getAdvertiser
      summary: Get advertiser
      description: Get a single advertiser by ID. Always returns full brand details including the ADCP manifest.
      tags:
        - Advertisers
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: advertiserId
          schema:
            description: Unique identifier for the advertiser
            example: '12345'
            type: string
            minLength: 1
          required: true
          description: Unique identifier for the advertiser
      responses:
        '200':
          description: Get advertiser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertiser'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      operationId: updateAdvertiser
      summary: Update advertiser
      description: Update an existing advertiser.
      tags:
        - Advertisers
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: advertiserId
          schema:
            description: Unique identifier for the advertiser
            example: '12345'
            type: string
            minLength: 1
          required: true
          description: Unique identifier for the advertiser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAdvertiserBody'
      responses:
        '200':
          description: Update advertiser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertiser'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteAdvertiser
      summary: Delete advertiser
      description: Delete (archive) an advertiser.
      tags:
        - Advertisers
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: advertiserId
          schema:
            description: Unique identifier for the advertiser
            example: '12345'
            type: string
            minLength: 1
          required: true
          description: Unique identifier for the advertiser
      responses:
        '204':
          description: No content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/restore:
    post:
      operationId: restoreAdvertiser
      summary: Restore advertiser
      description: Restore a previously deleted (archived) advertiser, making it active again.
      tags:
        - Advertisers
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: advertiserId
          schema:
            description: Unique identifier for the advertiser
            example: '12345'
            type: string
            minLength: 1
          required: true
          description: Unique identifier for the advertiser
      responses:
        '200':
          description: Restore advertiser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Advertiser'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No archived advertiser with this id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/data-delivery-credentials/{name}/validate:
    post:
      operationId: revalidateDataDeliveryCredential
      summary: Revalidate data delivery credential
      description: >-
        Re-runs the destination Probe for a supported object-storage credential and returns the updated record with a
        fresh status (VALIDATED or FAILED). Use after fixing a buyer-side destination access issue (e.g., re-granting
        GCS bucket IAM) without otherwise editing the credential.
      tags:
        - Advertisers
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: advertiserId
          schema:
            description: Advertiser ID (numeric, as a string).
            type: string
            minLength: 1
          required: true
          description: Advertiser ID (numeric, as a string).
        - in: path
          name: name
          schema:
            description: Credential name (unique per advertiser).
            type: string
            minLength: 1
          required: true
          description: Credential name (unique per advertiser).
      responses:
        '200':
          description: Revalidate data delivery credential
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevalidateDataDeliveryCredentialResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /advertisers/{advertiserId}/creative/model-credentials:
    get:
      operationId: listCreativeModelCredentials
      summary: List generation-provider keys for an advertiser
      description: >-
        List the buyer's generation-provider keys usable for this advertiser — its assigned keys plus the customer's
        all-accounts keys — each carrying a label, assignment, status, a masked key hint (never the raw key), and
        `effective: true` on the one auto-selected for its provider. Gated behind buyer-creative-v2 and
        buyer-generative-creative.
      tags:
        - Creatives
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: advertiserId
          schema:
            description: Unique identifier for the advertiser
            example: '12345'
            type: string
            minLength: 1
          required: true
          description: Unique identifier for the advertiser
      responses:
        '200':
          description: List generation-provider keys for an advertiser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserModelCredentialList'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Feature not enabled for this account (buyer-creative-v2 or buyer-generative-creative is off).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: connectCreativeModelCredential
      summary: Connect a generation-provider key for an advertiser
      description: >-
        Store a buyer generation-provider API key assigned to this advertiser so generation runs on the buyer's own
        account. The raw key is held in the secret manager; only a reference and a masked hint are persisted. Gated
        behind buyer-creative-v2 and buyer-generative-creative.
      tags:
        - Creatives
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: advertiserId
          schema:
            description: Unique identifier for the advertiser
            example: '12345'
            type: string
            minLength: 1
          required: true
          description: Unique identifier for the advertiser
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectBuyerModelCredentialBody'
      responses:
        '200':
          description: Connect a generation-provider key for an advertiser
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyerModelCredential'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Feature not enabled for this account (buyer-creative-v2 or buyer-generative-creative is off).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /creative/model-credentials/{id}:
    patch:
      operationId: updateCreativeModelCredential
      summary: Update or rotate a generation-provider key
      description: >-
        Update a buyer generation-provider credential. Supplying `apiKey` atomically rotates only the stored secret
        while preserving the credential's label, advertiser assignments, and default status unless those fields are also
        explicitly changed. Gated behind buyer-creative-v2 and buyer-generative-creative.
      tags:
        - Creatives
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            pattern: ^[1-9]\d*$
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                apiKey:
                  type: string
                  minLength: 1
                label:
                  type: string
                  minLength: 1
                  maxLength: 120
                advertiserIds:
                  type: array
                  items:
                    type: integer
                    maximum: 9007199254740991
                    minimum: 1
                isDefault:
                  type: boolean
      responses:
        '200':
          description: Update or rotate a generation-provider key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyerModelCredential'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Feature not enabled for this account (buyer-creative-v2 or buyer-generative-creative is off).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No active model credential with this id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /brands/resolve:
    post:
      operationId: resolveBuyerBrand
      summary: Resolve a brand profile
      description: >-
        Resolve a buyer domain to a brand-confirmation card ("here is how we see you"). Resolve-only — no persistence;
        the buyer confirms the card and the advertiser-create flow persists it. Always returns 200: resolved=true with
        the brand name, logo, and ADCP manifest when found; resolved=false with a builderUrl when no profile exists. A
        resolved card may carry a warning when the profile was built from the website and is unverified — review before
        saving.
      tags:
        - Brands
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResolveBrandBody'
      responses:
        '200':
          description: Resolve a brand profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResolveBrandResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /creative-dashboard-url:
    get:
      operationId: getCreativeDashboardUrl
      summary: Get creative dashboard URL
      description: >-
        Returns a fully-resolved URL to the Interchange creative dashboard scoped to the provided advertiser, campaign,
        and optionally a specific creative manifest. Pass all three IDs to deep-link directly to a manifest; omit
        manifestId to land at the campaign level; omit campaignId to land at the advertiser level.
      tags:
        - Creatives
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: advertiserId
          schema:
            description: Advertiser ID. Narrows the URL to the advertiser level.
            type: integer
            maximum: 9007199254740991
            minimum: 1
          description: Advertiser ID. Narrows the URL to the advertiser level.
        - in: query
          name: campaignId
          schema:
            description: Campaign ID. Requires advertiserId. Narrows the URL to the campaign level.
            type: string
          description: Campaign ID. Requires advertiserId. Narrows the URL to the campaign level.
        - in: query
          name: manifestId
          schema:
            description: Creative manifest ID. Requires both advertiserId and campaignId. Deep-links to a specific creative.
            type: string
          description: Creative manifest ID. Requires both advertiserId and campaignId. Deep-links to a specific creative.
      responses:
        '200':
          description: Get creative dashboard URL
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreativeDashboardUrlResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /products/query:
    post:
      operationId: getMarketplaceProducts
      summary: Get products across storefronts
      description: >-
        Send a canonical AdCP get_products request across selected or all connected storefronts. Omit
        ext.interchange.screening for unscreened retrieval or provide buyer instructions for managed proposal accept,
        reject, and refine screening. Provisional responses are replacement snapshots; terminal cursors reference the
        frozen result.
      tags:
        - Product Discovery
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetProductsBody'
      responses:
        '200':
          description: Get products across storefronts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectedGetProductsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /media-buys/batch:
    post:
      operationId: createMediaBuysBatch
      summary: Stage or execute products across storefronts
      description: >-
        Continue from a multi-storefront get_products execution by staging qualified proposals/products on a DRAFT
        campaign cart, with optional execution through the existing per-storefront media-buy path.
      tags:
        - Product Discovery
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMediaBuysBatchBody'
      responses:
        '200':
          description: Stage or execute products across storefronts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateMediaBuysBatchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /discovery/discover-products:
    post:
      operationId: discoverProducts
      summary: Discover products
      description: >-
        Discover products with automatic session creation. If discoveryId is not provided, a new session is created
        automatically. Returns discoveryId and discovered products.
      tags:
        - Product Discovery
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/DiscoverProductsBody'
      responses:
        '200':
          description: Discover products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoverProductsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /discovery/{discoveryId}/discover-products:
    get:
      operationId: browseProducts
      summary: Browse products for discovery session
      description: >-
        Browse available products for an existing discovery session. Returns product suggestions grouped by publisher
        with pagination support.
      tags:
        - Product Discovery
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: groupLimit
          schema:
            description: 'Maximum number of product groups to return (default: 10, max: 10)'
            example: 10
            default: 10
            type: integer
            maximum: 10
            minimum: 1
          description: 'Maximum number of product groups to return (default: 10, max: 10)'
        - in: query
          name: groupOffset
          schema:
            description: Number of groups to skip for pagination
            example: 0
            default: 0
            type: integer
            minimum: 0
            maximum: 9007199254740991
          description: Number of groups to skip for pagination
        - in: query
          name: productsPerGroup
          schema:
            description: 'Maximum products to return per group (default: 10, max: 15)'
            example: 10
            default: 10
            type: integer
            maximum: 15
            minimum: 1
          description: 'Maximum products to return per group (default: 10, max: 15)'
        - in: query
          name: productOffset
          schema:
            description: 'Number of products to skip within each group (default: 0, max: 1000)'
            example: 5
            default: 0
            type: integer
            minimum: 0
            maximum: 1000
          description: 'Number of products to skip within each group (default: 0, max: 1000)'
        - in: query
          name: publisherDomain
          schema:
            description: Filter products by publisher domain (exact domain component match)
            example: hulu
            type: string
            minLength: 1
          description: Filter products by publisher domain (exact domain component match)
        - in: query
          name: pricingModel
          schema:
            description: Filter products by pricing model
            example: cpm
            type: string
            enum:
              - cpm
              - vcpm
              - cpc
              - cpcv
              - cpv
              - cpp
              - cpa
              - flat_rate
              - time
          description: Filter products by pricing model
        - in: query
          name: storefrontIds
          schema:
            description: Filter products by storefront ID(s) (from `list_storefronts`).
            example:
              - 42
              - 57
            anyOf:
              - maxItems: 50
                type: array
                items:
                  type: integer
                  maximum: 9007199254740991
                  minimum: 1
              - type: string
          description: Filter products by storefront ID(s) (from `list_storefronts`).
        - in: query
          name: storefrontNames
          schema:
            description: Filter products by storefront name (case-insensitive substring match).
            example:
              - Acme
              - Acme Exchange
            anyOf:
              - maxItems: 50
                type: array
                items:
                  type: string
                  maxLength: 255
              - type: string
          description: Filter products by storefront name (case-insensitive substring match).
        - in: query
          name: debug
          schema:
            description: When true, includes detailed ADCP agent request/response debug logs in the response for troubleshooting
            anyOf:
              - type: boolean
              - type: string
          description: When true, includes detailed ADCP agent request/response debug logs in the response for troubleshooting
        - in: query
          name: waitMode
          schema:
            description: >-
              `quick` waits up to 30 seconds per storefront agent and returns partial results if slow agents miss the
              window. `long` waits up to 210 seconds per storefront agent; ask the user before using it.
            example: quick
            default: quick
            type: string
            enum:
              - quick
              - long
          description: >-
            `quick` waits up to 30 seconds per storefront agent and returns partial results if slow agents miss the
            window. `long` waits up to 210 seconds per storefront agent; ask the user before using it.
        - in: query
          name: waitSeconds
          schema:
            description: >-
              Optional explicit per-storefront wait in seconds, max 210. Overrides waitMode. Ask the user before setting
              this above 30.
            example: 120
            type: integer
            maximum: 210
            minimum: 1
          description: >-
            Optional explicit per-storefront wait in seconds, max 210. Overrides waitMode. Ask the user before setting
            this above 30.
        - in: query
          name: sinceRevision
          schema:
            description: >-
              Progressive polling: return only seller groups that landed after this snapshot revision. Groups use
              REPLACE semantics — a group may be re-delivered at a later revision when more of its products land;
              replace it by groupId, never append. The response always carries the current `revision`,
              `resultsComplete`, and `pendingAgents`; poll again with the returned revision until `resultsComplete` is
              true, and stop polling after roughly the wait budget if it never turns true (the fan-out may have been
              interrupted).
            example: 3
            type: integer
            minimum: 0
            maximum: 9007199254740991
          description: >-
            Progressive polling: return only seller groups that landed after this snapshot revision. Groups use REPLACE
            semantics — a group may be re-delivered at a later revision when more of its products land; replace it by
            groupId, never append. The response always carries the current `revision`, `resultsComplete`, and
            `pendingAgents`; poll again with the returned revision until `resultsComplete` is true, and stop polling
            after roughly the wait budget if it never turns true (the fan-out may have been interrupted).
        - in: path
          name: discoveryId
          schema:
            description: Discovery ID
            example: abc123-def456-ghi789
            type: string
            minLength: 1
          required: true
          description: Discovery ID
      responses:
        '200':
          description: Browse products for discovery session
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoverProductsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /discovery/{discoveryId}/products/{productId}/details:
    get:
      operationId: getProductDetails
      summary: Get product details
      description: >-
        Get the full detail view for a single discovered product — description, pricing, delivery windows, and creative
        format requirements. Requires the `salesAgentId` the product was discovered through.
      tags:
        - Product Discovery
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: salesAgentId
          schema:
            description: Sales agent ID for the product
            type: string
            minLength: 1
          required: true
          description: Sales agent ID for the product
        - in: path
          name: discoveryId
          schema:
            description: Discovery session id.
            type: string
            minLength: 1
          required: true
          description: Discovery session id.
        - in: path
          name: productId
          schema:
            description: Discovered product id.
            type: string
            minLength: 1
          required: true
          description: Discovered product id.
      responses:
        '200':
          description: Get product details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiscoveryProductDetail'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /discovery/{discoveryId}/products:
    get:
      operationId: getProducts
      summary: Get selected products
      description: Get the list of products that have been selected in this discovery session.
      tags:
        - Product Discovery
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: discoveryId
          schema:
            description: Discovery ID
            example: abc123-def456-ghi789
            type: string
            minLength: 1
          required: true
          description: Discovery ID
      responses:
        '200':
          description: Get selected products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionProductsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: addProducts
      summary: Add products to selection
      description: >-
        Add products to the selection. Products must have been discovered via GET
        /discovery/{discoveryId}/discover-products first.
      tags:
        - Product Discovery
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: discoveryId
          schema:
            description: Discovery ID
            example: abc123-def456-ghi789
            type: string
            minLength: 1
          required: true
          description: Discovery ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddProductsRequest'
      responses:
        '200':
          description: Add products to selection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionProductsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: removeProducts
      summary: Remove products from selection
      description: Remove products from the selection.
      tags:
        - Product Discovery
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: discoveryId
          schema:
            description: Discovery ID
            example: abc123-def456-ghi789
            type: string
            minLength: 1
          required: true
          description: Discovery ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveProductsRequest'
      responses:
        '200':
          description: Remove products from selection
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SessionProductsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /discovery/{discoveryId}/apply-proposal:
    post:
      operationId: applyProposal
      summary: Apply a proposal
      description: >-
        Apply a sales agent proposal to auto-add products with recommended budget allocations. Requires
        discover-products to have been called first.
      tags:
        - Product Discovery
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: discoveryId
          schema:
            description: Discovery ID
            example: abc123-def456-ghi789
            type: string
            minLength: 1
          required: true
          description: Discovery ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyProposalRequest'
      responses:
        '200':
          description: Apply a proposal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplyProposalResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /webhook-subscriptions:
    post:
      operationId: createWebhookSubscription
      summary: Register a webhook subscription
      description: >-
        Register a webhook endpoint to receive push events for subscribed event types, starting with
        `discovery.revision` (progressive discovery updates — see the SSE-equivalent `GET
        /discovery/{discoveryId}/events`). Deliveries are HMAC-SHA256 signed with the provided secret in the
        `X-Webhook-Signature` header.
      tags:
        - Webhook Subscriptions
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  maxLength: 2048
                  format: uri
                secret:
                  type: string
                  minLength: 16
                  maxLength: 256
                eventTypes:
                  minItems: 1
                  type: array
                  items:
                    type: string
                    enum:
                      - discovery.revision
              required:
                - url
                - secret
                - eventTypes
      responses:
        '201':
          description: Register a webhook subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyerWebhookSubscriptionResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: listWebhookSubscriptions
      summary: List webhook subscriptions
      description: List the authenticated customer's webhook subscriptions.
      tags:
        - Webhook Subscriptions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List webhook subscriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBuyerWebhookSubscriptionsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /webhook-subscriptions/{id}:
    delete:
      operationId: deleteWebhookSubscription
      summary: Delete a webhook subscription
      description: Remove a webhook subscription. Deliveries stop immediately.
      tags:
        - Webhook Subscriptions
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        '200':
          description: Delete a webhook subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteBuyerWebhookSubscriptionResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No webhook subscription with this id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns:
    get:
      operationId: listCampaigns
      summary: List campaigns
      description: List campaigns with optional filtering by advertiser and status.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: advertiserId
          schema:
            description: Filter by advertiser ID
            example: '12345'
            type: string
            pattern: ^\d+$
          description: Filter by advertiser ID
        - in: query
          name: name
          schema:
            description: Filter by campaign name (case-insensitive, partial match)
            example: Summer
            type: string
          description: Filter by campaign name (case-insensitive, partial match)
        - in: query
          name: status
          schema:
            description: >-
              Filter by campaign status. Accepts a single value or repeated values; pass "ALL" to include every status.
              Defaults to the non-terminal statuses (ACTIVE, DRAFT, PAUSED) — every campaign that could still spend.
              Completed, canceled, and archived campaigns require an explicit status filter (or "ALL").
            example: ACTIVE
            anyOf:
              - type: array
                items:
                  $ref: '#/components/schemas/CampaignStatusListFilter'
              - allOf:
                  - $ref: '#/components/schemas/CampaignStatusListFilter'
          description: >-
            Filter by campaign status. Accepts a single value or repeated values; pass "ALL" to include every status.
            Defaults to the non-terminal statuses (ACTIVE, DRAFT, PAUSED) — every campaign that could still spend.
            Completed, canceled, and archived campaigns require an explicit status filter (or "ALL").
        - in: query
          name: mode
          schema:
            description: >-
              Filter by campaign mode. Accepts a single mode (`?mode=directed`) or repeated values
              (`?mode=discovery&mode=performance`).
            example: directed
            anyOf:
              - type: array
                items:
                  $ref: '#/components/schemas/CampaignMode'
              - allOf:
                  - $ref: '#/components/schemas/CampaignMode'
          description: >-
            Filter by campaign mode. Accepts a single mode (`?mode=directed`) or repeated values
            (`?mode=discovery&mode=performance`).
        - in: query
          name: management
          schema:
            description: >-
              Filter by management state: "tracked" (campaigns the platform did not set up, mirrored from connected
              seller accounts), "managed" (campaigns authored or adopted through the platform), or "all" (both — the
              default). The default status lens (non-terminal: ACTIVE, DRAFT, PAUSED) is what keeps mirrored history out
              of the ambient list; browse tracked scale through the connected-account relationship rollup.
            example: managed
            default: all
            allOf:
              - $ref: '#/components/schemas/CampaignManagementFilter'
          description: >-
            Filter by management state: "tracked" (campaigns the platform did not set up, mirrored from connected seller
            accounts), "managed" (campaigns authored or adopted through the platform), or "all" (both — the default).
            The default status lens (non-terminal: ACTIVE, DRAFT, PAUSED) is what keeps mirrored history out of the
            ambient list; browse tracked scale through the connected-account relationship rollup.
        - in: query
          name: mediaBuyStatus
          schema:
            description: Filter to only campaigns that have at least one media buy matching any of the given statuses
            anyOf:
              - type: array
                items:
                  type: string
                  enum:
                    - DRAFT
                    - PENDING_APPROVAL
                    - INPUT_REQUIRED
                    - ACTIVE
                    - PAUSED
                    - COMPLETED
                    - CANCELED
                    - FAILED
                    - REJECTED
                    - ARCHIVED
              - type: string
                enum:
                  - DRAFT
                  - PENDING_APPROVAL
                  - INPUT_REQUIRED
                  - ACTIVE
                  - PAUSED
                  - COMPLETED
                  - CANCELED
                  - FAILED
                  - REJECTED
                  - ARCHIVED
          description: Filter to only campaigns that have at least one media buy matching any of the given statuses
        - in: query
          name: includeArchived
          schema:
            description: >-
              Include archived (soft-deleted) campaigns in the response (default: false). Implicitly treated as true
              when the status filter contains 'ARCHIVED'.
            type: string
            enum:
              - 'true'
              - 'false'
          description: >-
            Include archived (soft-deleted) campaigns in the response (default: false). Implicitly treated as true when
            the status filter contains 'ARCHIVED'.
        - in: query
          name: fields
          schema:
            description: >-
              Optional response enrichment fields. Pass geo_metro_names to include display labels for geo_metros from
              the local label table.
            example: geo_metro_names
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
          description: >-
            Optional response enrichment fields. Pass geo_metro_names to include display labels for geo_metros from the
            local label table.
        - in: query
          name: cursor
          schema:
            description: >-
              Opaque pagination cursor returned by the previous response. When provided, skip is derived from the cursor
              and any explicit skip param is ignored.
            example: eyJza2lwIjoxMH0=
            type: string
          description: >-
            Opaque pagination cursor returned by the previous response. When provided, skip is derived from the cursor
            and any explicit skip param is ignored.
        - in: query
          name: take
          schema:
            description: Number of results to return (max 250)
            example: 50
            default: 50
            type: integer
            maximum: 250
            minimum: 1
          description: Number of results to return (max 250)
        - in: query
          name: skip
          schema:
            description: Number of results to skip for pagination
            example: 0
            default: 0
            type: integer
            minimum: 0
            maximum: 9007199254740991
          description: Number of results to skip for pagination
      responses:
        '200':
          description: List campaigns
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignListResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      operationId: createCampaign
      summary: Create campaign
      description: >-
        Create a new campaign. Optional fields like discoveryId and performanceConfig can be provided at creation or set
        later via update. The `brief` and `name` fields are screened by the content-moderation engine and rejected with
        422 `CONTENT_MODERATION_BLOCKED` on policy violation.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignOpenApiBody'
      responses:
        '201':
          description: Create campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: >-
            Content rejected by moderation policy. The `brief` or `name` matched a prompt-injection / jailbreak /
            hate-speech / CSAM / violence / misinformation pattern, or failed the business-context gate.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}:
    put:
      operationId: updateCampaign
      summary: Update campaign
      description: >-
        Update an existing campaign. All fields are optional. The `brief` and `name` fields are screened by the
        content-moderation engine and rejected with 422 `CONTENT_MODERATION_BLOCKED` on policy violation.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            description: Unique identifier for the campaign
            example: cmp_987654321
            type: string
            minLength: 1
          required: true
          description: Unique identifier for the campaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCampaignOpenApiBody'
      responses:
        '200':
          description: Update campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Content rejected by moderation policy. See `POST /campaigns` for full criteria.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    get:
      operationId: getCampaign
      summary: Get campaign
      description: Get detailed information about a specific campaign.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: fresh
          schema:
            description: >-
              When true, bypasses the server-side media-buy query cache for this request. Use after a successful
              lifecycle write when immediate authoritative local readback is required.
            example: 'true'
            anyOf:
              - type: boolean
              - type: string
                enum:
                  - 'true'
                  - 'false'
          description: >-
            When true, bypasses the server-side media-buy query cache for this request. Use after a successful lifecycle
            write when immediate authoritative local readback is required.
        - in: query
          name: mediaBuyId
          schema:
            description: >-
              Filter the embedded `mediaBuys[]` array to only the media buys with these IDs. Accepts a single ID
              (`?mediaBuyId=mb_X`) or repeated values (`?mediaBuyId=mb_X&mediaBuyId=mb_Y`). The campaign object itself
              is unchanged; only the nested media buys are narrowed. Use to drill into specific buys without loading
              every buy on the campaign (helps when the full tree exceeds an LLM context window). `mediaBuyRefs` still
              lists every buy on the campaign so callers can discover IDs.
            example: mb_ETBn4gJ9Wu
            anyOf:
              - type: array
                items:
                  type: string
              - type: string
          description: >-
            Filter the embedded `mediaBuys[]` array to only the media buys with these IDs. Accepts a single ID
            (`?mediaBuyId=mb_X`) or repeated values (`?mediaBuyId=mb_X&mediaBuyId=mb_Y`). The campaign object itself is
            unchanged; only the nested media buys are narrowed. Use to drill into specific buys without loading every
            buy on the campaign (helps when the full tree exceeds an LLM context window). `mediaBuyRefs` still lists
            every buy on the campaign so callers can discover IDs.
        - in: query
          name: includePropertyLists
          schema:
            description: >-
              When true, embed a `propertyLists` aggregate showing the include/exclude lists actually applied to this
              campaign via its media-buy packages. Defaults to false to keep the response small. To fetch the aggregate
              without the rest of the campaign, use `GET /campaigns/:campaignId/property-lists`.
            example: 'true'
            anyOf:
              - type: boolean
              - type: string
                enum:
                  - 'true'
                  - 'false'
          description: >-
            When true, embed a `propertyLists` aggregate showing the include/exclude lists actually applied to this
            campaign via its media-buy packages. Defaults to false to keep the response small. To fetch the aggregate
            without the rest of the campaign, use `GET /campaigns/:campaignId/property-lists`.
        - in: query
          name: includeProductDetails
          schema:
            description: >-
              When false, strips `formatOptions` from each product in `mediaBuys[].products[]`. Defaults to true (full
              product details included). Set to false when the goal is to read `packageId` values or other non-product
              fields and the full product payload would cause response truncation.
            example: 'false'
            anyOf:
              - type: boolean
              - type: string
                enum:
                  - 'true'
                  - 'false'
          description: >-
            When false, strips `formatOptions` from each product in `mediaBuys[].products[]`. Defaults to true (full
            product details included). Set to false when the goal is to read `packageId` values or other non-product
            fields and the full product payload would cause response truncation.
        - in: query
          name: fields
          schema:
            description: >-
              Optional response enrichment fields. Pass geo_metro_names to include display labels for geo_metros from
              the local label table.
            example: geo_metro_names
            anyOf:
              - type: string
              - type: array
                items:
                  type: string
          description: >-
            Optional response enrichment fields. Pass geo_metro_names to include display labels for geo_metros from the
            local label table.
        - in: path
          name: id
          schema:
            description: Unique identifier for the campaign
            example: cmp_987654321
            type: string
            minLength: 1
          required: true
          description: Unique identifier for the campaign
      responses:
        '200':
          description: Get campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      operationId: deleteCampaign
      summary: Delete campaign
      description: Delete a campaign.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            description: Unique identifier for the campaign
            example: cmp_987654321
            type: string
            minLength: 1
          required: true
          description: Unique identifier for the campaign
      responses:
        '204':
          description: No content
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/delivery:
    get:
      operationId: getDirectedCampaignDelivery
      summary: Get campaign delivery (alpha)
      description: >-
        Read live delivery through a tracked campaign's connected seller account or an unambiguous single-storefront
        platform campaign's persisted provider media-buy identity. The latest totals are persisted; PostHog-gated alpha
        with no upstream write.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: startDate
          schema:
            description: Inclusive reporting start. Defaults to the subscription backfill boundary, capped at one year ago.
            example: '2026-07-10'
            type: string
            format: date
            pattern: >-
              ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))$
          description: Inclusive reporting start. Defaults to the subscription backfill boundary, capped at one year ago.
        - in: query
          name: endDate
          schema:
            description: Inclusive reporting end. Defaults to yesterday because same-day platform data may be incomplete.
            example: '2026-07-10'
            type: string
            format: date
            pattern: >-
              ^(?:(?:\d\d[2468][048]|\d\d[13579][26]|\d\d0[48]|[02468][048]00|[13579][26]00)-02-29|\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\d|30)|(?:02)-(?:0[1-9]|1\d|2[0-8])))$
          description: Inclusive reporting end. Defaults to yesterday because same-day platform data may be incomplete.
        - in: query
          name: placementBreakdown
          schema:
            description: Request canonical AdCP by_placement delivery rows when the product declares placement reporting support.
            type: string
            enum:
              - 'true'
              - 'false'
          description: Request canonical AdCP by_placement delivery rows when the product declares placement reporting support.
        - in: query
          name: placementLimit
          schema:
            description: Maximum placement rows per package. Requires placementBreakdown=true.
            type: integer
            maximum: 9007199254740991
            minimum: 1
          description: Maximum placement rows per package. Requires placementBreakdown=true.
        - in: query
          name: placementSortBy
          schema:
            description: Metric used to order placement rows before applying placementLimit.
            type: string
            enum:
              - impressions
              - spend
              - clicks
              - conversions
        - in: path
          name: campaignId
          schema:
            type: string
            minLength: 1
          required: true
      responses:
        '200':
          description: Get campaign delivery (alpha)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DirectedCampaignDeliveryResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: The directed-campaigns alpha is not enabled.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No directed campaign mirror with this id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/execute:
    post:
      operationId: executeCampaign
      summary: Execute campaign
      description: >-
        Launch/execute a campaign to start delivering ads. Pass `debug: true` in the request body to include detailed
        debug information in error responses.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            description: Unique identifier for the campaign
            example: cmp_987654321
            type: string
            minLength: 1
          required: true
          description: Unique identifier for the campaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteCampaignBody'
      responses:
        '200':
          description: Execute campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignStatusChangeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/pause:
    post:
      operationId: pauseCampaign
      summary: Pause campaign
      description: Pause a running campaign. Cascades to all active media buys and reports the per-media-buy outcome.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            description: Unique identifier for the campaign
            example: cmp_987654321
            type: string
            minLength: 1
          required: true
          description: Unique identifier for the campaign
      responses:
        '200':
          description: Pause campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignCascadeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/reactivate:
    post:
      operationId: reactivateCampaign
      summary: Reactivate campaign
      description: >-
        Reactivate a paused campaign. The campaign must be PAUSED. Cascades to all paused media buys and reports the
        per-media-buy outcome.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            description: Unique identifier for the campaign
            example: cmp_987654321
            type: string
            minLength: 1
          required: true
          description: Unique identifier for the campaign
      responses:
        '200':
          description: Reactivate campaign
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignCascadeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/auto-select-products:
    post:
      operationId: autoSelectProducts
      summary: Auto-select products
      description: >-
        Automatically select products for a performance campaign using a 3-tier strategy (scoring → measurability → CPM
        heuristic). Campaign must be in DRAFT status. Supports iterative refinement via ADCP-style refine directives —
        review results then re-call with include/omit/more_like_this to adjust selections. Replaces all previously
        selected products.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            description: Unique identifier for the campaign
            example: cmp_987654321
            type: string
            minLength: 1
          required: true
          description: Unique identifier for the campaign
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutoSelectProductsRequest'
      responses:
        '200':
          description: Auto-select products
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoSelectProductsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /campaigns/{campaignId}/media-buy-status:
    get:
      operationId: getMediaBuyAdcpStatus
      summary: Get media buy ADCP status
      description: >-
        Poll ADCP sales agents for the live status of all media buys in a campaign. Returns current ADCP status for each
        media buy and updates local status when changes are detected.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          schema:
            description: Unique identifier for the campaign
            example: cmp_987654321
            type: string
            minLength: 1
          required: true
          description: Unique identifier for the campaign
      responses:
        '200':
          description: Get media buy ADCP status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAdcpStatusOutput'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /media-buys/{mediaBuyId}:
    get:
      operationId: getMediaBuy
      summary: Get media buy
      description: >-
        Get a single media buy with its why-visibility fields: pendingReason (why it is not delivering yet and since
        when), buyer-safe errorCode with ownership, the sanitized source message, forwardedAt, and the buyerReference
        support handle. One call answers "why is my buy stuck". Use GET /campaigns/{campaignId} for packages, products,
        and delivery.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: mediaBuyId
          schema:
            description: Buyer media buy ID
            example: mb_ETBn4gJ9Wu
            type: string
            minLength: 1
          required: true
          description: Buyer media buy ID
      responses:
        '200':
          description: Get media buy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyerMediaBuyResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Caller is not a buyer — the route is mounted behind the buyer role guard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No media buy with this id owned by the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      operationId: updateMediaBuy
      summary: Update media buy
      description: >-
        Partially update a single media buy, resolved top-level by mediaBuyId — the owning campaign is resolved
        server-side, consistent with GET /media-buys/{mediaBuyId}. Rejected outright (not a warning) when it would
        violate a campaign invariant: currency (a product's replacement pricing option settles in a different currency
        than this buy), budget headroom (the update would exceed the campaign's remaining all-in budget), or mode
        compatibility (the campaign is directed and has no platform-managed update path). A flight date outside the
        campaign's current window is not a failure — the campaign flight is widened to cover it and a warning is
        returned.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: mediaBuyId
          schema:
            description: Buyer media buy ID
            example: mb_ETBn4gJ9Wu
            type: string
            minLength: 1
          required: true
          description: Buyer media buy ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMediaBuyRequest'
      responses:
        '200':
          description: Update media buy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateMediaBuyResponse'
        '400':
          description: >-
            Validation failed: the campaign is directed, the campaign is completed/archived/cancelled, the update would
            exceed the campaign's remaining budget headroom, or a product's replacement pricing option settles in a
            different currency than this buy.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Caller is not a buyer — the route is mounted behind the buyer role guard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No media buy with this id owned by the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The media buy is in a terminal status and can no longer be updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /media-buys/{mediaBuyId}/packages:
    get:
      operationId: getMediaBuyPackages
      summary: List media buy packages
      description: >-
        List a media buy's packages with the attributes that identify each one: productId, productName, the package's
        own startTime/endTime, and its pacingPeriod (index plus the campaign's label, e.g. "Week 6"). Use this to turn a
        description of a package ("the display package ending 2026-08-11") into the packageId to send to an update.
        Prefer it over GET /campaigns/{campaignId} whenever the goal is to pick a package: it carries no targeting,
        creative, or format detail, so it stays small enough for an agent to read in full. A paced buy has one package
        per product per period, and the trailing number on a package id is dispatch order, NOT the period — read
        pacingPeriod instead of parsing the id.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: mediaBuyId
          schema:
            description: Buyer media buy ID
            example: mb_ETBn4gJ9Wu
            type: string
            minLength: 1
          required: true
          description: Buyer media buy ID
      responses:
        '200':
          description: List media buy packages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BuyerMediaBuyPackagesResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Caller is not a buyer — the route is mounted behind the buyer role guard.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No media buy with this id owned by the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /media-buys/{mediaBuyId}/pause:
    post:
      operationId: pauseMediaBuy
      summary: Pause media buy
      description: Pause a single active media buy without affecting the rest of its campaign or any sibling media buys.
      tags:
        - Campaigns
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: mediaBuyId
          schema:
            description: Buyer media buy ID
            example: mb_ETBn4gJ9Wu
            type: string
            minLength: 1
          required: true
          description: Buyer media buy ID
      responses:
        '200':
          description: Pause media buy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaBuyStatusChangeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: No media buy with this id owned by the caller.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: The media buy is not currently ACTIVE.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /media-buys/{mediaBuyId}/reactivate:
    post:
[...]
